<div class="lion">
		<svg id="lion" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1028 1024" enable-background="new 0 0 1028 1024">
			<polygon fill="#BE1E2D" points="69.3,569.7 110.5,684.2 7.8,721.5 -0.8,633.7 "/>
			<polygon fill="#BE1E2D" points="104.5,1022.7 179.3,941.2 107.5,839.7 "/>
			<polygon fill="#BE1E2D" points="251.5,760 179.3,941.2 107.5,839.7 "/>
			<polygon fill="#BE1E2D" points="253.3,760 276.3,673.6 393.2,829.1 255.5,903 "/>
			<polygon fill="#BE1E2D" points="155.5,600.6 195.7,529.3 273.8,669.6 "/>
			<polygon fill="#BE1E2D" points="377.7,981.3 460.3,938.6 442,1029 413.3,1029 "/>
			<polygon fill="#BE1E2D" points="464,936.6 617.7,750 617.7,903 "/>
			<polygon fill="#BE1E2D" points="622.3,901.6 733.7,895.3 701,1029 676.3,1029 "/>
			<polygon fill="#BE1E2D" points="738.3,1029 812,967 801.3,1029 "/>
			<polygon fill="#BE1E2D" points="959.3,1015 1011,952 995,1029 961.7,1029 "/>
			<polygon fill="#BE1E2D" points="733.7,895.3 797.3,732.3 869,856.6 "/>
			<polygon fill="#BE1E2D" points="617.7,747.3 791.3,730 607.7,685.3 "/>
			<polygon fill="#BE1E2D" points="697.3,633.3 791.3,730 607.7,685.3 "/>
			<polygon fill="#BE1E2D" points="443,750 518.7,633.3 607.7,685.3 "/>
			<polygon fill="#BE1E2D" points="609.7,573.6 697.3,633.3 518.7,633.3 "/>
			<polygon fill="#BE1E2D" points="697.3,480.3 751.7,527.3 697.3,633.3 609.7,573.6 "/>
			<polygon fill="#BE1E2D" points="521,480.3 609.7,573.6 609.7,509 "/>
			<polygon fill="#BE1E2D" points="697.3,480.3 609.7,509 609.7,573.6 "/>
			<polygon fill="#BE1E2D" points="367.3,665.3 466.7,527 359.3,475.3 294.3,493.6 "/>
			<polygon fill="#BE1E2D" points="202,372 167.7,446.6 299.1,492.3 "/>
			<polygon fill="#BE1E2D" points="351,337 202,372 299.1,492.3 359.3,475.3 "/>
			<polygon fill="#BE1E2D" points="67.7,230.6 202,372 280.7,293.6 "/>
			<polygon fill="#BE1E2D" points="468,524 514.7,406.6 518.7,478.6 "/>
			<polygon fill="#BE1E2D" points="576,434.6 521,480.3 697.3,480.3 "/>
			<polygon fill="#BE1E2D" points="514.7,406.6 552.3,291 516.7,312.6 509.7,374.3 "/>
			<polygon fill="#BE1E2D" points="396.3,330 351,337 514.7,406.6 509.7,374.3 "/>
			<polygon fill="#BE1E2D" points="461.7,286.3 396.3,330 351,337 457.3,266.6 "/>
			<polygon fill="#BE1E2D" points="516.7,312.6 461.7,286.3 509.7,374.3 "/>
			<polygon fill="#BE1E2D" points="457.3,266.6 552.3,291 516.7,312.6 461.7,286.3 "/>
			<polygon fill="#BE1E2D" points="374,264 457.3,266.6 494.7,208.3 439.3,115.6 "/>
			<polygon fill="#BE1E2D" points="479.3,17.6 439.3,115.6 447.3,5 476.7,5 "/>
			<polygon fill="#BE1E2D" points="214,5 439.3,115.6 326.7,20 "/>
			<polygon fill="#BE1E2D" points="704.3,412.3 697.3,480.3 751.7,527.3 "/>
			<polygon fill="#BE1E2D" points="860,475.3 870.3,334.6 706.3,407.6 "/>
			<polygon fill="#BE1E2D" points="702.7,407.6 716.3,363.6 709.5,309 686.7,291 "/>
			<polygon fill="#BE1E2D" points="827,328 770.7,284 720.3,362.3 "/>
			<polygon fill="#BE1E2D" points="778,261.6 686.7,291 709.5,309 770.7,284 "/>
			<polygon fill="#BE1E2D" points="870.3,334.6 778,261.6 770.7,284 827,328 "/>
			<polygon fill="#BE1E2D" points="1010.7,467.6 860,475.3 751.7,527.3 897.7,629 "/>
			<polygon fill="#BE1E2D" points="1028,619 980.3,659.3 1010.7,471.3 1028,473 "/>
			<polygon fill="#BE1E2D" points="1028,364 1028,319.3 961,339.3 "/>
			<polygon fill="#BE1E2D" points="929.3,204.3 961,341.6 870.3,334.6 "/>
			<polygon fill="#BE1E2D" points="729.3,226.3 929.3,204.3 790,98.3 744.7,132.3 "/>
			<polygon fill="#BE1E2D" points="670.7,17.6 744.7,132.3 790,98.3 753.3,5 686,5 "/>
		</svg>
</div>