<div id="logo">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 200" enable-background="new 0 0 500 200" xml:space="preserve">
    <path class="logo" d="M0,86.1c4.4,0,8.8,0,13.3,0
    c5.8,14.2,11.6,28.5,17.4,42.7c0.1,0,0.2,0,0.3,0c5.8-14.2,11.5-28.5,17.3-42.7c4,0,8,0,12.1,0c-8.1,19.1-16,38.3-24.1,57.4
    c-4,0-8.1,0-12.1,0C16.1,124.4,8,105.3,0,86.1z M112.3,143.6c4,0,8.1,0,12.1,0c8.1-19.1,16.1-38.3,24.1-57.4c-4,0-8,0-12.1,0
    c-5.8,14.2-11.5,28.5-17.3,42.7c-0.1,0-0.2,0-0.3,0c-5.9-14.2-11.6-28.5-17.4-42.7c-4.4,0-8.8,0-13.3,0
    C96.2,105.3,104.3,124.4,112.3,143.6z M140.5,143.6c4.4,0,8.8,0,13.3,0c5.8-14.2,11.6-28.5,17.4-42.7c0.1,0,0.2,0,0.3,0
    c5.8,14.2,11.5,28.5,17.3,42.7c4,0,8,0,12.1,0c-8.1-19.1-16-38.3-24.1-57.4c-4,0-8.1,0-12.1,0C156.5,105.3,148.5,124.4,140.5,143.6z
     M68,78c4.2,0,8.4,0,12.6,0c0-4.2,0-8.4,0-12.6c-4.2,0-8.4,0-12.6,0C67.9,69.5,67.9,73.7,68,78z M219.7,109.2c0-7.7,0-15.4,0-23.1
    c-3.9,0-7.8,0-11.7,0c-0.1,19.1,0,38.3,0,57.4c3.9,0,7.8,0,11.8,0c0-6-0.1-12,0-18c2.2-2.8,5-5.3,7.5-8c5.8,8.7,11.5,17.4,17.3,26
    c4.5-0.1,9.1,0,13.6,0c-7.7-11.4-15.4-22.9-23.1-34.3c6.1-6.3,12.3-12.5,18.4-18.9c1.3-1.4,2.9-2.6,4-4.2c-4.6,0-9.1,0-13.7,0
    C235.8,93.9,227.8,101.5,219.7,109.2z M68.2,143.6c4.1,0,8.2,0.1,12.3,0c-0.1-19.1,0-38.3,0-57.4c-4.1,0-8.2,0-12.3,0
    C68.2,105.3,68.2,124.4,68.2,143.6z M267.4,77.9c4.2,0.1,8.3,0,12.5,0c0-4.2,0-8.4,0-12.6c-4.2,0-8.3,0-12.5,0
    C267.4,69.5,267.4,73.7,267.4,77.9z M267.5,143.6c4.1,0,8.2,0,12.2,0c0-19.1,0-38.3,0-57.4c-4.1,0-8.2,0-12.3,0
    C267.5,105.3,267.5,124.4,267.5,143.6z M482.1,55.4v7.7h1.2v-7.7h2.8v-1h-6.9v1H482.1L482.1,55.4z M492.3,63.2l2.8-7.3h0
    c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2v7h1.2v-8.7h-1.8l-2.7,7.2l-2.7-7.2h-1.8v8.7h1.2v-7l0-0.3h0l2.8,7.3H492.3z M389.5,78.4
    c-2.8,1.3-4.6,0.4-5.5-1.3h-0.4v2.4C386.5,82.1,390,81.3,389.5,78.4L389.5,78.4z M390.1,91c-0.3,0.4-0.2,0.8,0,1.1h-3.2
    c-1-2.2-0.2-5.5,3.3-5.8C387.2,88.8,388.3,91,390.1,91z M413.7,69.3c-0.5,2.7-0.4,5.4-0.9,7.8h1.4v-7.8H413.7L413.7,69.3z
     M406.2,74.9v-5.6h1.2C407.2,71.5,406.9,73.6,406.2,74.9L406.2,74.9z M409.4,69.3h2.2c-0.3,2.8-0.2,5.6-1.1,7.8h-2.2
    C409.4,74.9,409.2,72.2,409.4,69.3z M374,41.8l-1.1,4.7h2L374,41.8z M380,51.9l0.9,2.4h0.7L380,51.9L380,51.9z M374.8,46.5l1.4,7.8
    h-5.3l1.9-7.8H374.8z M406.2,45.8l-0.6,0.7h0.6V45.8z M400.8,32.1c0.1,2.1-8.1,2.3-8.2,10.1c0,1.7,0.4,3.1,1,4.3h1.6
    c-0.3-1-0.5-2.3-0.5-4.1c0-6.5,7.3-7.5,7.3-10.5c0-2.4-3.6-2.8-6.3-2.9c-1.2,0-2.7,0.2-4.1,0.8v3.9C394.9,30.4,400.7,30,400.8,32.1z
     M391.6,46.5c-1.1-2.3-2.2-4.5-2.2-7.8c0-2.1,0.9-3.8,2.2-5v-3.9c-3.6,1.4-7.2,4.8-7.2,10.1c0,2.5,0.6,4.6,1.1,6.5L391.6,46.5
    L391.6,46.5z M420.4,40.1c4.7,1.2,6.9,3.6,7.8,6.4h0.6h0.3c-2.3-8-11.6-9.1-11.5-6.1c0.1,1.9,2.9,3.4,3.9,6.1h2.9
    C424.1,44.7,422.8,42.6,420.4,40.1z M407.7,46.5l1.4-3.9l-2.8,3.2v0.7H407.7z M383.7,69.3v-2.5c-0.5,0.8-0.9,1.6-1.1,2.5H383.7
    L383.7,69.3z M381.6,54.3H381l2.3,6c0,0-2.7,3.2-2.9,8.9h2.1c0-1.8,0.5-3.3,1.2-4.8v-7.2L381.6,54.3L381.6,54.3z M370.9,54.3h5.3
    l2.7,15h-0.7c-2.6-2.6-6.2-3.3-9.2-4.9v-2.8l0.1,0L370.9,54.3L370.9,54.3z M369.1,69.3h4.3c-1.4-0.5-2.9-1-4.4-1.5L369.1,69.3
    L369.1,69.3z M412.4,55.5l-0.3-1.2h-1.5v2c-2.3,1.2-3.6,2.7-4.3,4.5v8.6h1.2c0.6-4.8,1.2-10.6,6.2-12.5c0.2-0.1,0.4-0.1,0.5-0.2
    v-1.7C413.6,55.1,413,55.3,412.4,55.5L412.4,55.5z M414.2,69.3v-2.1c-0.2,0.7-0.4,1.4-0.5,2.1H414.2L414.2,69.3z M409.4,69.3h2.2
    c0.2-2.3,0.7-4.6,2.1-6.6c0.2-0.2,0.3-0.4,0.5-0.6v-2.9c-0.9,0.6-1.7,1.4-2.4,2.3C410.1,64.2,409.6,66.8,409.4,69.3z M361.1,190.9
    h-4.8c-0.4,0.4-0.9,0.7-1.4,1.1c0.3,0.4,1.9,0.7,4.1,0.7c0.6,0,1.3,0,2.1-0.1V190.9z M383.6,190.9H382l1.7,2.1V190.9z M367.7,190.9
    h-6.6v1.7C363.2,192.4,365.5,191.9,367.7,190.9z M406.2,190.9h-1.1c0.6,0.7,1,1.4,1.1,2.3V190.9z M400.7,190.9h-4
    c3.5,2.4,10.8,0.8,6.6,6.7c2-5.6-5.2-1.1-7.4-6.7h-3.4c0.4,0.6,0.8,1.1,1.2,1.6c2.3,2.6,7.6,3.7,7.6,5.4c0,1.8-3.3,0.6-3.4,1.7
    c-0.1,0.6,1.1,1.1,2.6,1.1c2,0,4.5-0.8,5.9-3.3v-3.3c-0.1,0.6-0.3,1.2-0.7,2C406.7,192.7,403.7,192,400.7,190.9z M406.5,190.9h-0.3
    v2.3c0,0.1,0,0.3,0,0.5c0,0.2,0,0.3,0,0.5v3.3c0.4-0.8,0.8-1.7,0.9-2.9c0-0.3,0-0.5,0.1-0.8C407.2,192.7,406.9,191.8,406.5,190.9z
     M323.7,174.7l-0.2,0c-0.3-0.2-0.5-0.7-0.2-1c0.3-0.4,0.3-0.9-0.1-1.2c-0.1-0.1-0.2-0.1-0.3-0.1c-0.9,0-3.2,1-2.7,3.7
    c0.3,1.4,1.6,2.8,3.6,2.8c0.2,0,0.4,0,0.6,0c2.4-0.3,4.9-3.8,2.4-8.8C326.2,173.9,324.4,174.7,323.7,174.7L323.7,174.7z M331,175.9
    c-1.6,3.6-4,4.9-6.2,4.9c-2.2,0-4.2-1.2-5.2-2.7c-2.8-4.3,0.5-7.6,4.1-7.6l0.3,0c0.8-0.6,0.5-1.4,0-2.3h3.5c1.4,2.5,3.1,5.5,0.7,9.2
    l0.3,0c1.8,0,2.5-5.7,3.7-9.2h1.3C332.7,169.9,332.6,172.2,331,175.9z M349.6,168.2h-3.2v5.1L349.6,168.2z M361.1,168.2h-3.7
    l-5.7,6.5l6.6-3.9c0.9,2.2,2,4.1,2.8,5.9V168.2z M361.1,186c-1,1.5-2.5,3.1-4.8,5h4.8v-0.8l-0.3,0c0,0,0.1,0,0.3-0.1V186z
     M346.4,168.2h-3.5l-1.4,13l4.9-7.9V168.2z M383.6,168.2h-10.8c-0.3,5.6,1.3,10.6-0.3,15h1.9c0.1-0.4,0.2-0.8,0.2-1.3l1,1.3h7.9
    V168.2z M369,181.1v0.5l0-0.2L369,181.1z M370.3,168.2H369v4.3c0.9,2.3,1.9,4.3,1.8,6C371.6,175.6,370.5,171.8,370.3,168.2z
     M383.6,183.2h-7.9l6.3,7.8h1.7V183.2z M374.5,183.2h-1.9c-0.6,1.6-1.7,3.2-3.5,4.7v2.4C371.6,188.8,373.7,186.6,374.5,183.2z
     M365.8,168.2h-2.5c1,5.4,4.3,7.5,4.3,13.1c0,0.7,0,1.3-0.1,1.9h1.4c0.1-0.5,0.1-1,0.2-1.6v-0.5
    C368.9,176.4,366.6,172.7,365.8,168.2z M361.2,168.2h-0.1v8.5c0.8,1.7,1.4,3.3,1.4,4.9c0,0.5-0.1,1-0.2,1.6h2.8
    c0.1-0.6,0.1-1.1,0.1-1.8C365.2,175.9,362.3,172.6,361.2,168.2z M369,168.2h-1.2c0.2,1.5,0.7,2.9,1.2,4.3V168.2z M365.1,183.2h-2.8
    c-0.2,0.9-0.6,1.8-1.2,2.8v4C361.9,189.5,364.5,187.7,365.1,183.2z M368.9,183.2h-1.4 M361.1,190.1c1.7,0,5.7-1.4,6.4-6.9
     M361.1,190.1L361.1,190.1l0,0.8h6.6 M367.7,190.9c0.5-0.2,0.9-0.4,1.3-0.7 M369,190.3v-2.4 M368.9,183.2c-0.6,3.5-2.9,6.7-2.9,6.7
    c1.2-0.7,2.2-1.3,3.1-2 M393.8,168.2h-2.1v5c0.2,0.4,0.3,0.8,0.2,1.2c0,0.2-0.1,0.5-0.2,0.7v8.1h3.3c0.5-2.4,1.9-5,1.7-9
    C396.4,171.3,395.2,169.7,393.8,168.2z M399.2,168.2h1.2 M399.2,168.2c1.4,3.6,0.1,6.9,0.1,6.9s5.6-3.3,1.1-6.9 M406.1,168.2h-3
    c0.3,0.5,0.5,1,0.6,1.6c1,4-4,8-3.5,13.4h1.3c-0.1-0.8,0-1.7,0.2-2.8l4.4,2.8h0.1v-14.5L406.1,168.2z M401.5,183.2h-1.3
    c0,0.3,0.1,0.5,0.1,0.8c0.7,3.5,3.3,5.2,4.8,7h1.1v-0.5C404.7,187.9,401.9,186.4,401.5,183.2z M406.2,183.2h-0.1H406.2L406.2,183.2z
     M394.9,183.2h-3.3v6.3c0.2,0.6,0.5,1.1,0.7,1.5h3.4c-0.2-0.4-0.3-0.9-0.4-1.4c0.3,0.6,0.7,1,1.3,1.4h4c-1.9-0.6-3.8-1.4-4.9-3.1
    c-0.8-1.2-1-2.2-1-3.2C394.7,184.2,394.8,183.7,394.9,183.2z M391.6,168.2h-4.2c1.8,1.9,3.6,3.6,4.2,5V168.2z M391.6,175.1
    c-0.5,1.9-1.7,5.2-2.8,8.1h2.8V175.1z M391.6,183.2h-2.8c-0.9,2.6-1.7,4.7-1.7,4.7l3.4-4.5c0.2,2.9,0.6,4.8,1.1,6.1V183.2z
     M414.2,170.4v7l0.2,4l1.1-8.2c0.8,0,1.6-0.1,2.5-0.3C416.6,172.5,415.4,171.6,414.2,170.4z M424.5,168.2h-5.2l0.3,0.2
    c2.4,2,7.6,3.7,9.3,7.7v-4.2C427.5,170.6,426,169.3,424.5,168.2z M428.8,182.2c-0.1,0.3-0.2,0.7-0.4,1h0.4V182.2z M417,168.2h-2.8
    c4,5.2,10.1,4.1,13.4,9.3C427,172.3,420.8,172.7,417,168.2z M428.8,183.2h-0.4c-1.2,3-3.3,5.2-3.3,5.8c0,0.1,0.1,0.2,0.3,0.2h0.1
    c1-0.1,2.1-0.6,3.2-1.4V183.2z M412.4,168.2H408c1.5,2.5,3.5,4.4,6,4.8l0.2,4.4v-7C413.6,169.8,413,169,412.4,168.2z M406.2,168.6
    v14.5h5L406.2,168.6z M406.2,190.4v0.5h0.3C406.5,190.8,406.3,190.6,406.2,190.4z M411.3,183.2h-5v0.1l6.5,4.2L411.3,183.2z
     M433.3,183.2h-1.7c-0.9,1.3-1.8,2.1-2.3,2.1c0.1-0.4,0.8-0.9,1.4-2.1h-1.9v4.6C430.4,186.7,431.9,185,433.3,183.2z M338.5,154.6
    c-0.2,0.1-0.3,0.1-0.5,0.2c-3.8,1.3-7.1,4-9.5,5.5h10v-1.1c-0.2,0-0.5,0-0.7,0c-1,0-1.8-0.2-2.1-0.7c-0.7-1,0.9-1.7,2.9-2.7V154.6z
     M338.5,151.1c-4.8,2.7-11,2.2-14.6,6.4v2.9h0.6c-0.5-2.6,7.2-6.1,12.1-7.2c0.7-0.2,1.3-0.4,1.9-0.6V151.1z M338.5,146.8l-9.7,2.7
    l9.7-1V146.8z M338.5,162c-5.3,0.5-9.1-0.5-10.4,1.8c0,0,2.4,0.1,3,2.4l2.5-0.6c-0.6,0.4-1.1,1.4-1.5,2.6h1.3
    c0.6-1.7,1.7-2.9,5.1-4.5V162z M338.5,160.4h-10c-1.1,0.7-2,1.1-2.7,1.1c-0.4,0-0.8-0.2-1.1-0.6c-0.1-0.2-0.2-0.4-0.2-0.5h-0.6v7.7
    l0,0.1h3.5c-1.2-2.1-2.2-4-0.3-5.7c2.5-2.3,6.9-1.3,11.4-2V160.4z M323.8,145.4h-3.4l-3.3,5.4l6.7-3.7V145.4z M323.8,157.5
    c-0.6,0.7-1.1,1.5-1.5,2.5c-0.1,0.1-0.1,0.3-0.2,0.4h1.7V157.5z M323.8,160.4h-1.7c-1.4,3.6,0.7,6,1.7,7.7V160.4z M352.9,145.4h-0.5
    c0,0.3,0.1,0.6,0.1,0.8C352.6,146,352.8,145.7,352.9,145.4z M350.5,145.4h-4.1v5.9c0.1,0,0.3,0.1,0.4,0.2c0.6,0.7,0.4,1.8-0.4,3v2
    c1-1,1.9-2.3,2.7-3.8C350.3,150.7,350.5,148.2,350.5,145.4z M357.2,145.4h-2c-0.6,2.6-1.6,5.2-3.1,7.6
    C354.7,151.2,356.3,148.5,357.2,145.4z M361.1,156c-1.4,1.2-2.7,2.5-3.4,4.3h3.4V156z M361.1,145.4h-1c-0.9,3.5-2.7,6.8-6,9.7
    c-2.7,2.3-5.2,3.8-7.6,4.8v0.5h8l6.6-10.7V145.4z M361.1,160.4h-3.4c-0.3,0.8-0.6,1.7-0.6,2.7c0,0.5-0.1,1-0.1,1.5
    c0,1.3,0.1,2.5,0.4,3.6h3.7v-0.5c-0.2-0.9-0.3-1.9-0.3-2.9c0-1.1,0.1-2.1,0.3-3V160.4z M354.4,160.4h-8v7.8h3.2L354.4,160.4z
     M344.8,145.4h-1.3l0,0l-5.1,1.4v1.7l3.5-0.4c-1,1.3-2.2,2.3-3.5,3v1.5C341.5,151.3,343.3,148.7,344.8,145.4z M346.4,159.9
    c-0.4,0.2-0.8,0.3-1.2,0.5h1.2V159.9z M346.4,145.4h-0.6c-0.7,3.2-2.7,7.4-7.4,9.2v1.2c0.8-0.4,1.7-0.9,2.6-1.4
    c2.1-1.3,3.9-3.3,5-3.3l0.3,0.1V145.4z M346.4,154.5c-0.8,1.2-2.1,2.5-3.6,3.3c-1.4,0.8-3,1.3-4.4,1.5v1.1h0.8
    c2.5-0.5,4.9-1.5,7.2-3.9V154.5z M346.4,160.4h-1.2c-2.5,0.9-4.7,1.4-6.8,1.6v1.7c1.3-0.6,3-1.3,5.1-2l-0.7,6.5h3.5V160.4z
     M339.3,160.4h-0.8v0.1C338.7,160.5,339,160.4,339.3,160.4z M383.7,145.4h-1.3c0.3,2.2,0.1,4.2-0.5,5.8c-1.5,3.8-4.6,5.9-6.7,9.2
    h8.5V145.4z M375.1,145.4H373c0.6,1.1,0.9,2.3,0.9,3.7c0,3.2-2.4,5-4.9,6.7v1.9c2.9-2.8,6.5-5.1,6.5-9.4
    C375.5,147.3,375.4,146.3,375.1,145.4z M369.9,145.4H369v7.9c1.3-1,2.2-2.1,2.2-3.9C371.2,147.8,370.7,146.6,369.9,145.4z
     M379.9,145.4h-1.9c0.3,1,0.4,1.9,0.4,2.9c0,5.1-5.6,8.1-8.7,12.1h2.6c2.3-3.8,5.9-6.4,7.1-10.5C379.9,148.3,380,146.8,379.9,145.4z
     M383.7,160.4h-8.5c-0.8,1.2-1.4,2.7-1.8,4.4c-0.3,1.1-0.4,2.3-0.4,3.4h10.8v-6.2l0,0V160.4z M372.3,160.4h-2.6
    c-0.3,0.3-0.5,0.6-0.7,1v6.8h1.3c0-0.3,0-0.6,0-0.8c0-1,0.1-2,0.3-2.9C371,162.9,371.6,161.6,372.3,160.4z M369,145.4h-4.5
    c1.3,1.8,1.8,3.2,1.9,4.3c0,2.7-2.8,4.2-5.3,6.3v4.3h0.4c1.5-4,5.2-5.3,7.6-7.1V145.4z M363.7,145.4h-2.7v4.3L363.7,145.4z
     M369,155.8c-1.8,1.3-3.7,2.6-4.9,4.6h2.6c0.6-1,1.4-1.8,2.2-2.6V155.8z M369,161.4c-0.5,0.8-0.9,1.7-1.1,2.7
    c-0.2,0.8-0.2,1.5-0.2,2.3c0,0.6,0.1,1.3,0.1,1.9h1.2V161.4z M366.8,160.4h-2.6c-0.7,1.2-1.2,2.6-1.2,4.4c0,1.3,0.1,2.4,0.3,3.4h2.5
    c-0.2-1-0.3-2.1-0.3-3.3C365.5,163.1,366,161.7,366.8,160.4z M361.5,160.4h-0.4v1.3C361.2,161.3,361.3,160.8,361.5,160.4z
     M361.1,167.6v0.5h0.1C361.1,168,361.1,167.8,361.1,167.6z M403.7,145.4h-4.1c2,3.5,3.2,9.5,5,15h1.6v-9.1
    C405.6,149,404.6,147.2,403.7,145.4z M406.2,145.4h-0.5c0.2,0.3,0.4,0.7,0.5,1.1V145.4z M394.2,145.4h-1.5c-0.3,2.1-0.7,4.2-1,6.3
    v7.8c0.1,0.3,0.2,0.6,0.3,0.8h1C391.4,155.6,393.1,150.6,394.2,145.4z M398.2,145.4h-2c-0.4,5.5-1.6,11.1-0.3,13.8
    c0.2,0.4,0.5,0.8,0.7,1.2h6.8L398.2,145.4z M403.4,160.4h-6.8c2.1,3.4,5.1,5,6.5,7.8h3L403.4,160.4z M391.6,165.7v2.5h2.1
    C393.1,167.4,392.3,166.6,391.6,165.7z M392.9,160.4h-1c0.5,1.2,1.3,2.2,2.4,3.1C393.7,162.5,393.2,161.4,392.9,160.4z M398.8,167.1
    c0.2,0.4,0.3,0.7,0.5,1.1h1.2C400,167.8,399.4,167.4,398.8,167.1z M406.2,160.4h-1.6c0.5,1.5,1,3,1.6,4.3V160.4z M387.6,145.4h-4v15
    h2.6c-0.4-1.3-0.6-2.6-0.6-3.9C385.6,152.7,387.2,149.3,387.6,145.4z M391,145.4h-1.7c-0.2,3.9-2.1,7.6-2.1,12.3
    c0,0.9,0.1,1.8,0.2,2.7h1.8c-0.1-0.4-0.2-0.9-0.3-1.4c-0.1-0.7-0.2-1.4-0.1-2.1C388.8,153.1,390.3,149.3,391,145.4z M391.6,151.7
    c-0.2,1.5-0.4,3.1-0.4,4.5c0,1.2,0.1,2.3,0.4,3.4V151.7z M389.2,160.4h-1.8c0.3,1.6,0.7,3.3,1.6,5.1c-1.4-1.9-2.3-3.6-2.8-5.1h-2.6
    v1.6c0.5,2.3,2.1,4.4,3.7,6.2h4.2v-2.5C390.6,164.4,389.7,162.8,389.2,160.4z M414.2,153.6v6.1c0.1,0.2,0.2,0.5,0.3,0.7h3.1
    C416.5,158.2,415.4,155.8,414.2,153.6z M414.2,147.2v3.7c1.6,2.9,3.4,6.9,6,9.5h8.7v-1l-8.7-8.8c3.4,0,6.2,0.1,8.7,1v-3
    c-2.8,0.1-5.7,0.6-8.3,0.6C418.2,149.2,416,148.8,414.2,147.2z M417.7,145.4h-3.2c1.4,1.6,3.2,2.7,5.7,2.7c0.5,0,0.9,0,1.5-0.1
    C420,147.4,418.7,146.5,417.7,145.4z M428.8,160.4h-8.7c0.3,0.3,0.6,0.7,1,0.9c2.3,1.9,5.1,2.9,7.7,4.3V160.4z M414.2,162.9v5.2
    l0.1,0.1h2.8c-0.3-0.4-0.7-0.9-1-1.4C415.4,165.7,414.8,164.3,414.2,162.9z M417.6,160.4h-3.1c1.3,3.1,2.8,6,4.8,7.8h5.2
    c-1.7-1.3-3.2-2.5-4.3-3.7C419.3,163.5,418.5,162,417.6,160.4z M406.8,145.4h-0.5v1.1c1.8,4.1,2.7,9.2,4.2,13.9h2.8
    C411.2,154.9,409.2,148.6,406.8,145.4z M406.2,151.2v9.1h2.3c-0.8-2.2-1.4-4.5-1.8-6.8C406.6,152.7,406.5,152,406.2,151.2z
     M412.6,145.4h-3.5c1.2,1,2.4,1.8,3.1,2.4c0.7,0.6,1.4,1.7,2.1,3v-3.7c-0.2-0.1-0.3-0.3-0.5-0.5
    C413.3,146.3,412.9,145.8,412.6,145.4z M410,148.2c1.2,2,2.4,6.9,4.2,11.5v-6.1C412.9,151.1,411.5,148.9,410,148.2z M408.5,160.4
    h-2.3v4.3c0.5,1.2,1.1,2.4,1.7,3.5h4.4C410.9,166,409.6,163.3,408.5,160.4z M413.2,160.4h-2.8c0.9,2.7,2,5.3,3.6,7.5l0.1,0.2v-5.2
    C413.9,162.1,413.5,161.2,413.2,160.4z M449.6,145.4h-7.2c1.9,5.1,1.2,13,6.9,15h0.4l-0.9-1.9c0.8,0.6,1.6,1.1,2.6,1.4v-1.5
    c-2.1-0.8-3.5-1.9-3.9-2.8l-1.1,0.5c-1.1-2.3-1.3-4.2-1.2-6.9h6.2v-2.8L449.6,145.4z M436.8,152.6v6.5c0.3,0.4,0.5,0.9,0.8,1.3h4.1
    C439.3,158.2,438.4,155.1,436.8,152.6z M439.8,145.4h-3v2c5.3,5.4,4.3,9.5,6.4,13h2.5C441.9,156.3,444.1,149.5,439.8,145.4z
     M449.8,160.4h-0.4c0.2,0.1,0.3,0.1,0.5,0.2L449.8,160.4z M445.7,160.4h-2.5c0.4,0.7,1,1.4,1.8,2c-1.4-0.5-2.5-1.2-3.4-2h-4.1
    c1,1.9,2,4.1,3.1,6.7l-0.1-3.6c1.3,1.3,5.1,2.6,9.1,2.6c0.6,0,1.2,0,1.8-0.1v-2.8C448.7,162.6,446.9,161.7,445.7,160.4z
     M436.8,145.4h-3.9c1.4,0.3,2.6,0.7,3.5,1.6c0.1,0.1,0.3,0.3,0.4,0.4V145.4z M428.8,159.4v1h1L428.8,159.4z M431.1,151.2
    c0,0.9,3.5,1.3,3.9,3.2c0.1-0.2,0.2-0.5,0.2-0.8c0-1.4-1.8-3.2-3.1-3.2c-0.3,0-0.6,0.1-0.8,0.3C431.2,150.9,431.1,151,431.1,151.2
    L431.1,151.2z M436.8,152.6v6.5c-2.5-4.3-5-6.4-8-7.4v-3c0.2,0,0.4,0,0.6,0C433.4,148.6,435.4,150.3,436.8,152.6z M436.8,167.4
    l-7-7.1h-1v5.3c1,0.6,2,1.2,3,2c0.2,0.2,0.3,0.3,0.5,0.5h5.2L436.8,167.4z M460.2,159.1c-0.3,0-0.5,0.1-0.8,0.1v1.1v0.8
    C459.7,160.5,460,159.9,460.2,159.1z M451.4,158.4v1.5c0.8,0.3,1.6,0.4,2.3,0.5h3c0.6-0.1,1.1-0.2,1.5-0.3l0,0.1l0,0.1h1.2v-1.1
    c-0.8,0.1-1.6,0.2-2.4,0.2C454.8,159.4,452.9,159,451.4,158.4z M451.4,146.4v2.8h4.7L451.4,146.4z M459.4,160.4h-1.2
    c-0.1,1.5-2.5,2.3-4.7,2.3c-0.5,0-0.9,0-1.3-0.1v0.8c-0.3,0-0.6-0.1-0.8-0.2v2.8c3.3-0.4,6.4-1.7,8-4.9V160.4z M456.7,160.4h-3
    c0.5,0.1,1,0.1,1.5,0.1C455.8,160.5,456.3,160.4,456.7,160.4z M315.9,128.4c-1.6,1.3-3.3,2.5-4.7,2.5c-1.7,0-4.6-1.4-7.2-1.4
    c-2.3,0-4.3,1.1-5.2,5.1c0.3-0.1,0.6-0.1,0.8-0.1c2.2,0,4.1,1.5,6.2,3.1h5.1v-0.1c0.1,0,0.3,0,0.4,0.1h2.2c0.9-0.1,1.6-0.4,2.4-0.8
    V134c-0.8,1-2.3,1.7-4,1.7c-1,0-2.1-0.2-2.9-0.8c-2.2-1.4-4.2-1.9-5.7-1.9c-0.8,0-1.5,0.1-2.2,0.4c1.2-1.8,2.4-2.4,3.6-2.4
    c1,0,2,0.4,3,0.8c1.1,0.4,2.2,0.7,3.6,0.7c1.3,0,2.8-0.4,4.5-1.5l0.1,0.1V128.4z M326.4,122.7c-0.8,0-1.7,0.1-2.6,0.5v3.3
    c0.9-0.9,1.9-1.2,3-1.2c2.9,0,6.2,2.5,9.5,3.6c0.7,0.2,1.4,0.4,2.1,0.5v-1.6C334.6,127.2,330.9,122.7,326.4,122.7z M325.6,128.2
    c-0.6,0-1.2,0.1-1.8,0.3v2.2c0.6-0.3,1.3-0.4,2.1-0.4c0.8,0,1.7,0.2,2.6,0.6c-1.4,0.3-2.8,2.9-4.7,5.2v1.6h0.6
    c0.4-0.3,0.8-0.6,1.2-1l-0.6,1h13.4v-5.7C334,131.3,329.5,128.2,325.6,128.2z M338.5,122.6h-5.2c1.7,1.1,3.2,2.4,5.2,3V122.6z
     M323.7,122.6h-5.4l2.4,1.3c-0.9,0.7-2.8,2.8-4.8,4.5v2.6c0.7,1.2,0.6,2.2,0,3v2.8c3.1-1.6,5.2-5,8-6.2v-2.2
    c-0.7,0.2-1.3,0.6-1.9,1.1c0.6-1.4,1.2-2.4,1.9-3.1v-3.3c-0.2,0.1-0.3,0.1-0.5,0.2C323.5,123.2,323.6,122.9,323.7,122.6z M323.8,136
    c-0.5,0.6-1,1.1-1.6,1.6h1.6V136z M323.8,139.7l-3.4,5.7h3.4V139.7L323.8,139.7z M322.2,137.6l-0.3,0.3c-1.4,1.1-3.8,2.2-6,2.6v1.1
    c2.2-0.3,4.9-1.3,8-3.6v-0.5H322.2z M361.1,122.6h-2.2c-1.8,4.1-1.9,9.4-2.4,15h2.2c0.6-5.7,0.6-11.2,2.4-14.1V122.6z M358,122.6
    h-2.2c-1.8,3.2-3.6,8-3.8,15h2.1C354.7,132.6,355.4,126.7,358,122.6z M361.1,124.4c-0.8,3.2,0,8-0.1,13.2h0.1V124.4z M354.7,122.6
    H347c-0.2,0-0.4,0.1-0.6,0.1v4.1c1.3-1,2.4-2.2,3.4-3.4c-1.1,2.4-2.2,4.2-3.4,5.5v8.7h3.9C350.4,132.7,351.1,127.5,354.7,122.6z
     M358.7,137.6h-2.2c-0.2,2.6-0.6,5.2-1.2,7.8h2C358,142.9,358.4,140.3,358.7,137.6z M361.1,137.6H361c0,2.6-0.3,5.2-0.9,7.8h1V137.6
    z M354.2,137.6H352c0,0.4,0,0.9,0,1.3c0,2,0.1,4.1,0.4,6.4h0.5C353.6,143.6,353.8,140.8,354.2,137.6z M350.4,137.6h-3.9v7.8h4.1
    c0-2.3-0.2-4.7-0.2-7.3C350.4,138,350.4,137.8,350.4,137.6z M339,122.6h-0.5v3c0.7,0.2,1.5,0.4,2.3,0.4c0.9,0,2-0.2,3.2-0.5
    c-1.6,1.8-3.2,2.4-4.7,2.4c-0.3,0-0.6,0-0.9-0.1v1.6c0.3,0,0.7,0.1,1,0.1c2.6,0,4.9-1.1,6.9-2.6v-4.1c-1.3,0.3-2.8,0.4-4.5,0.4
    C341,123.1,340,122.9,339,122.6z M346.4,129c-2.1,2.3-4.3,3.1-6.5,3.1c-0.5,0-1,0-1.5-0.1v5.7h2.5l4.3-2.4c0,0.8,0,1.6-0.1,2.4h1.3
    V129z M340.9,137.6h-2.5v1.3L340.9,137.6z M346.4,137.6h-1.3c-0.2,3.3-0.8,5.8-1.6,7.8h1.3c0.4-0.9,0.9-1.9,1.3-3c0,0.1,0,0.2,0,0.4
    c0,0.7-0.1,1.6-0.3,2.6h0.6V137.6z M377,137.6h-3.3c1.7,2.5,3.4,5.1,4.2,7.8h1.9C379.7,142.9,378.6,140.5,377,137.6z M382.1,137.6
    h-3.3c2,2.5,3.1,5.2,3.5,7.8h1.3v-5.8C383.2,138.9,382.6,138.2,382.1,137.6z M369,144.1v1.3h0.9C369.6,145,369.3,144.5,369,144.1z
     M371.4,137.6H369v1.9c1.5,2.1,3,3.9,4,5.9h2.1C374.4,142.5,372.7,140.1,371.4,137.6z M369,122.6h-8v0.9c0.2-0.3,0.4-0.6,0.6-0.8
    c-0.3,0.5-0.5,1.1-0.6,1.7v13.2h4.2c-0.7-1.9-1.1-4.1-1.1-7c0-1.5,0.1-3.1,0.4-5c0,5.3,1.5,9,3.3,11.9h1.3V122.6z M365.2,137.6h-4.2
    v7.8h2.7l0.3-0.5c0.1,0.2,0.3,0.4,0.4,0.5h4.5v-1.3C367.8,142.3,366.3,140.4,365.2,137.6z M369,137.6h-1.3c0.4,0.7,0.8,1.3,1.3,1.9
    V137.6z M393.5,122.6h-1.9v1.5C392.4,123.8,393,123.2,393.5,122.6z M406.2,122.6H395c-1,2-2,3.7-2.2,3.8c-0.3,0.2-0.7,0.3-1.2,0.4
    v10.5l0.1,0.3h2.9c-0.2-1.5-0.6-3-1.3-4.5c1.3,1.1,2.1,2.7,2.5,4.5h6c0.1-2,0.6-4.4,1.7-7.4c-0.4,2.9-0.2,5.4,0.4,7.4h2.1
    c-1.2-4.3,1.1-7.6-1.4-13.7c0.7,0.6,1.2,1.2,1.7,1.9V122.6z M394.7,137.6h-2.9c0.8,1.5,1,3.2,1,5.1c0,0.9-0.1,1.8-0.2,2.7h1.5
    c0.4-1.9,0.6-3.7,0.6-5.6C394.8,139.1,394.7,138.3,394.7,137.6z M404.7,143.5c0.4,0.6,0.7,1.2,1.1,1.9h0.5v-0.6
    C405.7,144.2,405.2,143.8,404.7,143.5z M401.8,137.6h-6c0.3,1.3,0.4,2.7,0.4,4.2c0,1.2-0.1,2.4-0.2,3.6h2l-0.9-2.6
    c0.9,0.5,1.7,1.4,2.3,2.6h4.1c-1-2.1-1.9-4.3-1.9-7.2C401.8,138,401.8,137.8,401.8,137.6z M406,137.6h-2.1c0.5,2,1.4,3.5,2.4,4.8
    v-4.1C406.1,138.1,406.1,137.8,406,137.6z M391.6,122.6h-1.1l-0.2,0.1c-0.3,0.5-1,1.4-1.8,1.9c0.3,0.1,0.6,0.1,1,0.1
    c0.8,0,1.5-0.2,2.2-0.6V122.6z M384.8,122.6h-1.2v5.7l0.3,0c2.3,0,6.6-0.1,6.7-0.1c0.6,0,0.7,0.2,0.8,0.3v0c0,0.2-0.3,0.5-0.7,0.6
    c0,0-3.8,0.9-6.3,0.9c-0.2,0-0.3,0-0.5,0l-0.3,0v7.1c0.1,0.2,0.2,0.4,0.3,0.6h2.5c-0.1-0.3-0.3-0.6-0.4-0.9c0.3,0.3,0.5,0.6,0.7,0.9
    h4.1c-0.3-0.9-0.6-1.8-1.1-2.7c0.9,0.7,1.5,1.5,2,2.4v-10.5c-0.8,0.2-1.7,0.3-2.5,0.3c-0.8,0-1.5-0.1-2-0.2
    C386.2,126.6,385.1,124.3,384.8,122.6z M390.8,137.6h-4.1c1.9,2.6,2.6,4.8,2.6,7.1c0,0.2,0,0.5,0,0.7h1.7c0.2-1.3,0.4-2.6,0.4-3.9
    C391.4,140.2,391.2,138.9,390.8,137.6z M386.4,137.6h-2.5c0.6,1.3,1,3,1,4.6c0,0.2,0,0.3,0,0.5c-0.2-1.1-0.7-2.2-1.3-3.1v5.8h4
    c0.1-0.5,0.1-1.1,0.1-1.7C387.7,141.8,387.4,139.8,386.4,137.6z M414.2,125.7v5.6c1,2.2,2,4.4,3.2,6.2h3.4
    C418.6,135,416.7,130.2,414.2,125.7z M428.8,122.6h-3c1,1.5,2,3,3,4.3V122.6z M421.6,122.6h-7.5v0.3c3.5,5.4,5.8,10.6,9.2,13.3
    c0.7,0.6,1.5,1,2.3,1.5h3.1v-6.4C426.3,128.8,424,125.7,421.6,122.6z M420.8,137.6h-3.4c0.6,1,1.3,2,2,2.8c2.9,3.3,6.3,4.1,9.4,4.5
    v-3.2c-2.9-0.7-5.8-1.6-7.7-3.7C421,137.9,420.9,137.8,420.8,137.6z M414.2,139.1v6l0.3,0.3h3.2
    C416.1,143.7,415.1,141.5,414.2,139.1z M428.8,137.6h-3.1c1,0.5,2.1,0.9,3.1,1.2V137.6z M408.2,122.6h-2v3.1
    c1.4,2.1,1.7,4.5,1.7,6.9c0,1.3-0.1,2.7-0.1,4c0,0.3,0,0.6,0,0.9h1.9c0-0.7-0.1-1.4-0.1-2.1c0-1.5,0.1-3.1,0.2-4.8
    c0.3,1.8,0.6,4.3,1.2,6.9h2.6C412.1,132.7,411.1,127,408.2,122.6z M412.4,122.6h-2.3c1.6,2.8,2.8,5.8,4.1,8.7v-5.6
    C413.6,124.7,413,123.6,412.4,122.6z M414.2,122.6H414l0.2,0.3V122.6z M413.7,137.6h-2.6c0.6,2.7,1.6,5.5,3.1,7.5v-6
    C414,138.6,413.9,138.1,413.7,137.6z M406.2,144.8v0.6h0.5C406.6,145.2,406.4,145,406.2,144.8z M409.8,137.6h-1.9
    c0.1,1.9,0.3,3.6,1.3,5.3c-1.5-1.7-2.4-3.2-2.9-4.6v4.1c0.9,1.2,1.9,2.2,2.8,2.9h3.5C410.7,142.9,410,140.3,409.8,137.6z
     M451.4,127.3c-4.2,3.1-8.2,8.3-13.2,8.3c-0.5,0-0.9,0-1.4-0.1v2.1h10.6c0.3-0.2,0.6-0.4,0.9-0.6l0.5,0.6h2.1l-0.8-1.9
    c0.5-0.4,0.9-0.7,1.3-1.1v-3.1c-0.8,0.8-1.6,1.7-2.3,2.6c-0.2,0.2-0.3,0.3-0.4,0.3c-0.1,0-0.2-0.3,0-0.6c0.6-1.7,1.6-3.2,2.7-4.3
    V127.3z M446.8,122.6h-10v2.6c1.4,0.9,2.9,1.5,4.7,1.5c4.9,0,7.5-1.3,10-2.4v-1.2c-3.2,0.9-6.2,2.2-8.9,2.2c-0.5,0-1,0-1.5-0.2
    L446.8,122.6z M451.4,125.7c-4.1,0.9-6.3,4.6-12,4.7l-0.1,0c-0.9,0-1.7-0.2-2.5-0.7v2.6c0.7,0.1,1.5,0.2,2.3,0.2l0.3,0
    C444.5,132.6,448.5,127.6,451.4,125.7z M436.8,143.5v1.9h3l-0.2-0.2C438.9,144.4,437.9,143.9,436.8,143.5z M450.9,137.6h-2.1
    l2.6,3.2v-1.9L450.9,137.6z M447.4,137.6h-10.6v2.9c1.4,0.4,2.7,0.9,3.7,1.8c0.9,0.8,1.5,1.8,1.9,3h7.2l-9.5-5.6
    c0.4,0,0.7,0.1,1,0.1C443.4,139.8,445.5,138.9,447.4,137.6z M428.8,131.2v6.4h8v-2.1C433.8,135.1,431.2,133.5,428.8,131.2z
     M436.8,122.6h-2.9c0.9,1,1.9,1.9,2.9,2.6V122.6z M430,122.6h-1.2v4.3c2.2,2.7,4.6,4.9,8,5.5v-2.6
    C434.4,128.6,432.3,125.8,430,122.6z M428.8,141.7v3.2c1.4,0.2,2.8,0.3,4,0.5h3.9v-1.9C434.6,142.7,431.7,142.4,428.8,141.7z
     M436.8,137.6h-8v1.2c2.8,0.8,5.6,1,8,1.7V137.6z M459.4,125.4v1.2c1.6,0.4,3,1.4,3.9,3.2c0.1,0.2,0.1,0.3-0.1,0.3
    c-0.1,0-0.3-0.1-0.6-0.4c-1-1-2.1-1.6-3.2-1.8v2.7c4.9,0.1,4.5,4.1,4.2,7h1.9c0.4-1.4,0.7-3.5,0.2-5.9
    C465.1,128.4,462.7,126.1,459.4,125.4z M459.7,122.6h-0.3v0.9c4.1,0.9,7.7,3.7,7.7,9.3c0,2.1-0.5,3.7-1.1,4.8h1.7
    c1.6-3.8,1.4-10.1-4.2-13.4C462.2,123.4,460.9,122.9,459.7,122.6z M467.7,137.6H466c-0.5,1.1-1.1,1.7-1.1,1.7s0.3-0.6,0.6-1.7h-1.9
    c0,0.5-0.1,1-0.1,1.4c0,1,0.2,1.7,1,1.7h0C465.7,140.7,466.9,139.5,467.7,137.6z M458.5,127.9c-2.4,0-4.9,1.6-7.1,3.6v3.1
    c2.5-2.1,4.7-4,7.4-4h0.1c0.1,0,0.3,0,0.4,0v-2.7C459.1,127.9,458.8,127.9,458.5,127.9z M456.9,125.1c-1.9,0-3.7,0.9-5.5,2.2v2.1
    c1.9-1.9,4.2-3.1,6.5-3.1c0.5,0,1,0.1,1.5,0.2v-1.2C458.6,125.2,457.8,125.1,456.9,125.1z M459.4,122.6h-5.7
    c-0.8,0.2-1.5,0.3-2.2,0.5v1.2c1.5-0.6,3-1.1,5-1.1c1,0,2,0.1,3,0.3V122.6z M451.4,138.9v1.9l1.5,1.8L451.4,138.9z M315.9,109.3
    l-3.7,2l3.7-1.1V109.3z M315.9,99.8h-1.6c0.4,0.7,0.5,1.6,0.2,2.7c-2-1.1-4-1.5-5.7-1.5c-4.1,0-7.1,2.2-7.1,2.2
    c0.4-1.4,1.3-2.5,2.4-3.4h-3.8c-0.3,1.7-0.2,3.6,0.6,5.6c3.6-2.2,6.3-3,8.5-3c2.8,0,4.8,1.3,6.6,3.1V99.8z M315.9,114.9h-11.9
    l11.9,6.4V114.9z M338.3,99.8H325c1.5,0.9,3.5,1.6,6.1,1.6c0.9,0,1.9-0.1,3.1-0.3c-0.9,3-3.5,4.3-6.4,4.3c-1.2,0-2.6-0.2-3.8-0.7
    v3.9c0.8-1.5,5.5-2.7,9.4-2.7c2.5,0,4.6,0.5,5.3,1.7v-6.4l-0.3,0c-0.4,0-0.7,0-1.1,0.1C337.4,100.8,337.8,100.3,338.3,99.8z
     M338.5,109.1c-0.8,1.6-4.6,2.4-8.2,2.4c-3,0-5.8-0.6-6.5-1.8v2.3c1.6,0.7,3.4,1.2,5.6,1.2c0.4,0,0.8,0,1.3,0c2.7-0.2,5.4-0.6,7.8-1
    V109.1z M330.5,119.7c-1.1,0-2.2,0.4-3.3,1.4c0.4,0,0.8-0.1,1.1-0.1c2,0,3.5,0.7,4.9,1.5h5.2v-0.2
    C335.7,121.5,333,119.7,330.5,119.7z M338.5,114.9h-14.6v7.5c1.6-3.1,3.8-4.1,6.2-4.1c2.7,0,5.7,1.3,8.4,2.1V114.9z M317.4,99.8
    h-1.5v5.6c0.8,0.8,1.7,1.6,2.5,2.5l-2.5,1.3v0.9l3.6-1.1c1.3,1.2,2.6,2.2,4.3,3v-2.3c-0.1-0.1-0.1-0.3-0.1-0.4l0-0.1
    c0-0.2,0.1-0.3,0.1-0.5v-3.9C321.2,104,318.8,102.2,317.4,99.8L317.4,99.8z M323.8,114.9h-8v6.4l2.4,1.3h5.4l0.1-0.2V114.9z
     M359.2,99.8h-6.8c-0.9,0.3-1.7,0.4-2.6,0.4c-1.1,0-2.2-0.2-3.3-0.3v1.8c2.7,2.6,4,7.5,8,9.7c-3.4-0.8-5.6-3.5-8-5.9v5.4
    c1.2,0,2.2,0.3,2.7,0.9c1.3,1.5,0.2,2.5-2.1,2.8h3.8c0.7-0.5,1.3-0.8,1.7-0.8c0.2,0,0.5,0.1,0.7,0.3c0.1,0.1,0.2,0.3,0.2,0.5h7.6
    v-4.5c-1.1-0.8-2-1.9-2.6-3.3c-0.8,0.4-0.8,2.4-0.7,3.7c-1.8-1.9-2.8-4.9-1.2-7.1c-2.2,1-2.3,1.4-2.3,1.4c0.1-1.8,3.2-2.9,4.8-5
    L359.2,99.8z M361.1,103.1c-1.1,1.6-0.5,3.4-0.5,3.4s0.2-0.3,0.5-0.6V103.1z M361.1,114.8h-7.6c0,1.2-3.4,3.1-7,4v1.7
    c3-0.6,4.9-1.8,5.9-2.8c-0.4,2.7-2.4,4.2-5.4,4.9h7.7c1.3-1.8,3.1-3.6,5.4-5.2c-0.7,0.7-2.5,2.2-4.3,5.2h2.2
    c0.7-1.1,1.6-2.1,2.6-2.9c-0.7,0.9-1.3,1.8-1.7,2.9h2.2V114.8z M350.9,114.8h-3.8c-0.2,0-0.4,0-0.6,0.1v2.7
    C348.4,116.7,349.8,115.6,350.9,114.8z M345.4,99.9c-0.6,0-1.3,0-1.9,0.2c1.2,0.3,2.2,0.9,3,1.7V100
    C346.1,100,345.7,99.9,345.4,99.9z M338.5,101.3v6.4c0.1,0.2,0.2,0.4,0.2,0.7v0.1c0,0.2-0.1,0.5-0.2,0.7v3c3.1-0.5,5.7-1,7.7-1h0.3
    v-5.4C344.3,103.4,342,101.4,338.5,101.3z M346.4,114.9c-0.2,0-0.4,0-0.7,0h-7.3v5.4c1.2,0.4,2.4,0.6,3.5,0.6c1.7,0,3.2-0.2,4.5-0.5
    v-1.7c-1.3,0.3-2.6,0.5-3.8,0.5c-0.9,0-1.8-0.1-2.6-0.4l0.2,0c2.5,0,4.5-0.6,6.2-1.4V114.9z M338.5,122.5v0.2h0.5
    C338.8,122.6,338.6,122.5,338.5,122.5z M369,103.1v1.2c0.7-0.1,1.5-0.2,2.1-0.2c1.2,0,2.1,0.1,2.1,0.1
    C372.5,103.8,370.9,103.5,369,103.1L369,103.1z M376,99.8h-2.1c-0.5,0.8-1.3,1.3-2.1,1.3c-0.2,0-0.4,0-0.7-0.1
    c0.3-0.3,0.6-0.7,0.8-1.2h-2.7c0,0.2-0.1,0.4-0.1,0.6l-0.1,0v0.7c2.4,0.9,4.9,1.3,6.2,2C375.5,102.8,375.9,101.4,376,99.8L376,99.8z
     M377.5,99.8c-0.1,6.8-4.7,9.6-8,9.6c-0.1,0-0.3,0-0.4,0v5.4h5.4l0-0.3c-0.1-1.4,1.1-2,2-2c0.6,0,1,0.3,1,0.7
    c-0.7,0.2-1.2,0.9-1.2,1.6h1.8c-0.1-0.2-0.1-0.4-0.1-0.6c0-0.2,0-0.4,0.1-0.7c0,0,1.6,0.7,5.7,0.7V113c-2.2-0.1-4.3-0.6-4.3-0.6
    c-1.9-0.4,0.1-2.8,0.8-2.8c0,0,2.2,0,3.6,0v-0.7c-1-0.1-2.4-0.3-2.5-0.7c-0.4-1.2,0.4-7.5,0.4-7.5l-1.6-0.7l0-0.1H377.5z
     M363.2,100.2c0,0-0.1,0.2-0.1,0.6c0,0.2,0,0.4,0.1,0.6c-1.1,0.4-1.8,1-2.2,1.7v2.8c0.6-0.6,1.6-1.6,2.6-1.6h0.1
    c0,0-0.8,1.1-0.8,2.7c0,1.2,0.4,2.7,1.9,4.3c-0.2,0.1-0.5,0.1-0.7,0.1c-1,0-2-0.4-3-1.1v4.5h8v-5.4c-1.4-0.1-2.5-0.8-2.8-1.9
    c-0.1-0.3-0.1-0.5-0.1-0.7c0-1.5,1.3-2.2,2.9-2.5v-1.2C367,102.6,364.8,101.9,363.2,100.2z M368.3,99.8h-2.1c0.9,0.5,1.8,1,2.8,1.3
    v-0.7C368.7,100.3,368.5,100.1,368.3,99.8z M369,114.8h-8v7.8h8V114.8z M401.8,99.8h-2.1c-0.2,0.3-0.5,0.5-0.9,0.6
    c0-0.2-0.1-0.4-0.1-0.6H396c0.2,0.5,0.5,0.9,0.8,1.2c-0.2,0.1-0.4,0.1-0.6,0.1c-0.8,0-1.6-0.6-2.1-1.3h-2.1c0.1,1.6,0.5,3,0.8,3.3
    C394.6,102.1,398.7,101.7,401.8,99.8z M400.6,102.1c-3.2,2.1-6.7,1.5-7.5,3.8c0,0,2.6,5.7,3.6,9h2c-0.3-2.8,1.5-4.3,4.1-6.5
    C398.9,108.2,395.4,107.5,400.6,102.1z M391.6,112.5v1.5c0.2,0.2,0.3,0.5,0.3,0.8h1.5l0-0.3C393.6,113.2,392.5,112.6,391.6,112.5z
     M406.2,111.7c-0.7,0.1-1.4,0.2-2.2,0.4c0.8,0.5,1.5,1,2.2,1.6V111.7z M406.2,102.7c-0.3,0.3-0.4,0.7-0.4,1.1
    c0.1,0.3,0.2,0.5,0.4,0.5V102.7z M394,120.9c-0.1,0.3-0.9,0.7-2.3,1.3v0.4h1.9c0.3-0.5,0.5-0.9,0.5-1.4L394,120.9z M392.6,118.6
    c-0.2,0.2-0.6,0.4-1,0.5v1.2C392.2,119.8,392.6,119.1,392.6,118.6z M403.7,115.3c0.9,0.6,1.8,1.3,2.5,2.1v-1.1
    C405.4,115.8,404.6,115.5,403.7,115.3z M398.7,114.8h-2c0.3,0.9,0.5,1.6,0.5,2c0,1-1.1,3.6-2.2,5.8h11.3v-2.5
    c-1.8-1.8-4.1-3.2-7.3-3.9C398.8,115.7,398.7,115.3,398.7,114.8z M393.5,114.8h-1.5v0.1c0,0.3-0.1,0.6-0.3,0.9v1.2
    C392.6,116.4,393.3,115.7,393.5,114.8z M384,113c2.4,0,4.7-0.6,4.7-0.6 M384,113l-0.3,0v1.3l0.3,0 M384,114.3c4.3,0,4.7-1.9,4.7-1.9
     M391.5,112.5c-0.5,0-1,0.2-1,0.7v0c0.4,0.1,0.8,0.4,1.1,0.7L391.5,112.5L391.5,112.5z M383.7,108.9v0.7c0.5,0,0.9,0,0.9,0
    c0.2,0,0.4-0.2,0.4-0.4c0-0.1-0.1-0.2-0.3-0.2C384.5,108.9,384.1,108.9,383.7,108.9z M391.6,122.2c-0.3,0.1-0.7,0.3-1.1,0.4h1.1
    V122.2z M391.6,119.1c-1,0.5-2.4,1-3.5,1.8c-0.2,0.3-0.4,1.3-0.8,1.5l0.4,0c1.1,0,2.9-0.9,4-2V119.1z M391.6,115.8
    c-0.5,0.7-1.6,1.4-3.8,1.9l1.2-1.9c0,0-3.9,3.1-4.1,3.3c-0.1,0.1-0.5,0.1-0.8,0.1c-0.1,0-0.3,0-0.4,0v3.4h1.2c0-0.3-0.1-0.5-0.1-0.7
    c0-0.3,0-0.5,0.1-0.7c0.6-1.4,4.4-2.6,6.7-4.1V115.8z M414.2,114.4v0.5h0.6C414.6,114.7,414.4,114.5,414.2,114.4L414.2,114.4z
     M414.2,109v1.8c2.3,0.9,4.2,2.3,5.8,4h4.2C421.4,111.7,418.2,109.3,414.2,109L414.2,109z M420.7,105.3c2.8,0,5.5,2,8.1,3.6v5.9H428
    c-3-4-6.3-7.5-11.2-8C418.1,105.8,419.4,105.3,420.7,105.3L420.7,105.3z M414.2,102.7c1.1,0.5,2,1.1,2.6,1.9
    c-0.9-0.4-1.8-0.7-2.6-0.8V102.7L414.2,102.7z M424.7,102.5c-1,0-2.1,0.3-3.1,1.3c3,0.2,5.1,1.8,7.2,3.2v-3
    C427.6,103.2,426.2,102.5,424.7,102.5L424.7,102.5z M428.8,102.2c-1.3-0.5-2.6-0.9-4.2-0.9c-0.8,0-1.7,0.1-2.7,0.4
    c0.6-0.8,1.2-1.4,1.8-1.9h5.1V102.2z M428.8,114.8H428c0.3,0.4,0.6,0.8,0.9,1.2V114.8z M414.8,114.8h-0.6v7.8h7.5
    C419.4,119.7,417.2,116.9,414.8,114.8z M424.2,114.8H420c2.3,2.3,4,5.1,5.8,7.8h3v-1.7C427.4,118.8,425.9,116.7,424.2,114.8z
     M413.5,109c-1.3,0-2.7,0.2-4.1,0.7c1.8,0.1,3.4,0.5,4.8,1.1V109C414,109,413.8,109,413.5,109z M409.6,101.8c-1.5,0-2.8,0.3-3.4,0.9
    v1.7l0.3,0c0.4,0,1.1-0.2,2-0.5c0.9-0.2,2-0.5,3.3-0.5c0.7,0,1.6,0.1,2.4,0.3v-1.1C412.8,102.1,411.1,101.8,409.6,101.8z
     M407.1,111.7c-0.3,0-0.6,0-0.9,0v2c0.4,0.4,0.9,0.7,1.3,1.1h6.7v-0.5C412.1,112.7,409.8,111.7,407.1,111.7z M414.2,114.8h-6.7
    c2.7,2.4,4.7,5.1,6.5,7.8h0.2V114.8z M406.2,120.1v2.5h2C407.6,121.7,407,120.9,406.2,120.1z M406.2,116.3v1.1
    c1.5,1.5,2.7,3.3,3.8,5.3h2.3C410.6,120,408.7,117.7,406.2,116.3z M451,99.8h-3.4c1.9,2.2-6.5,10.7-10.8,12.2v1.4
    c2.3-0.6,4.2-2,5.7-3.5l8.9,1.3v-0.2l-7.2-2.8c1.6-1.6,2.9-3,4.5-3c0.3,0,0.7,0.1,1,0.2c0.6,0.2,1.2,0.6,1.7,0.9v-6.2
    C451.3,100.1,451.1,100,451,99.8z M445.3,99.8h-2.6c-0.2,0.4-0.4,0.8-0.5,1.3c-1.6,5-3.1,8-5.4,9.2v1.5
    C441.9,109.2,443.1,101.8,445.3,99.8z M438.8,99.8h-2v7.7C438.2,105.9,438.2,102.7,438.8,99.8z M451.4,114.9h-14.6v7.7h10l4.6-2.1
    V114.9z M429,114.8h-0.2v1.2c1.7,2.3,3.3,4.7,5,6.6h2.9v-7.7L429,114.8L429,114.8z M428.8,120.9v1.7h1.2
    C429.6,122.1,429.2,121.5,428.8,120.9z M468.3,99.8h-1.7c-0.5,2.4-1.5,4.7-3,6.1c-0.4,0.4-0.9,0.7-1.3,0.7c-0.3,0-0.5-0.1-0.7-0.4
    c-1-1.6,1.6-1.6,2.4-4c-1.3,1.1-3,1.7-4.7,1.7v5.1C463.8,109,467.5,104.8,468.3,99.8z M463.3,99.8h-3.9v1.6h0
    C460.8,101.4,462.2,101,463.3,99.8z M464.1,114.9h-4.7v2.1L464.1,114.9z M459.4,122.5L459.4,122.5l0.3,0.1L459.4,122.5z
     M456.8,122.3c-1.1,0-2.1,0.1-3.1,0.3h5.7v-0.1C458.5,122.4,457.7,122.3,456.8,122.3z M459.4,114.9h-8v5.6l8-3.6V114.9z M312.2,90.1
    h-0.3c-2.1,0.1-4.3,0.8-6.2,1.9h10.1v-1.3C314.8,90.4,313.6,90.1,312.2,90.1z M315.9,92.1h-10.1c-2.8,1.7-5,4.5-5.6,7.8h3.8
    c1.7-1.3,3.9-2,5.9-2c1.9,0,3.7,0.7,4.4,2h1.6V98c-0.5-0.5-1-0.9-1.5-1c-0.9-0.3-1.9-0.4-2.9-0.4c-0.5,0-1,0-1.5,0
    c-0.4,0-0.9,0-1.3,0c-1.2,0-2.1-0.2-2.4-1c-0.1-0.2-0.1-0.3-0.1-0.5c0-0.5,0.4-1.1,1-1.6c0.9-0.7,2.3-1.1,3.6-1.2c0.2,0,0.4,0,0.5,0
    c1.3,0,2.5,0.4,3.2,1.1c0.7,0.6,1,0.8,1.2,0.8h0V92.1z M335.6,77.1h-4.7c2.2,1.1,4.1,2.9,5.1,6l-8.7-0.7l8.9,2.3l2.2,6.6v-5.8
    c-0.2-0.9-0.4-1.7-0.5-2.6C337.6,80.1,336.7,78.3,335.6,77.1z M323.8,85.2V89l2.6,3h11.4L323.8,85.2z M337.8,92.1h-11.4l4.5,5.2
    c-1.1,0.6-2.1,0.8-3,0.8c-1.5,0-2.8-0.7-4.1-1.7v2.6c0.4,0.3,0.7,0.5,1.1,0.8h13.3l0.2-0.2v-7.3L337.8,92.1z M315.9,90.8v1.3h2.6
    C317.7,91.5,316.8,91.1,315.9,90.8z M318.1,82.4l5.7,6.7v-3.8L318.1,82.4z M315.9,98v1.9h1.5C316.9,99.1,316.4,98.5,315.9,98z
     M318.5,92.1h-2.6v2.1l0.1,0c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2,0-0.3,0-0.5l0-0.3l0.1-0.2l0,0c2.4,0.4,3.6,1.9,4.8,3.4
    c0.7,0.9,1.6,1.9,2.8,2.9v-2.6C322.2,95.2,320.6,93.4,318.5,92.1z M355.3,77.1h-8.4c2.5,5.8,6.3,9.1,10.3,9.1c1.3,0,2.6-0.3,3.9-1.1
    v-2.2L355.3,77.1z M359.5,91.4c0,0.2,0.1,0.5,0.1,0.7 M360.6,92.1h-0.9 M359.5,91.4c0,0,0.4,0.3,1,0.7 M346.4,80.7v11.3h8.7l0.2-0.2
    l-0.3,0C346.3,91.9,347.3,85.8,346.4,80.7z M348.6,82.1c-1.1,2.5,1,8.2,4.5,8.2c1.3,0,2.9-0.8,4.5-2.9
    C354.8,87.2,350.2,85.9,348.6,82.1z M346.4,95.2v2.4c0.3,0,0.6,0,0.9,0c2.2,0,4.1-0.2,5.4-2.1c-0.9,0.2-1.8,0.3-2.7,0.3
    C348.8,95.9,347.5,95.7,346.4,95.2z M355.1,92.1h-8.7V93c1.2,0.8,2.6,1.3,4,1.3C352.2,94.3,354,93.6,355.1,92.1z M360.6,92.1h-0.9
    c0.3,1.4,0.8,2.3,1.5,2.7v-2.4C360.9,92.2,360.7,92.2,360.6,92.1z M357,93.4c0,0.2,0,0.4,0,0.6c0,2.9-1.6,4.9-4.6,5.9h0h6.8
    c0.5-0.7,0.8-1.6,0.8-2.5C360,95.8,359.1,94.2,357,93.4z M338.5,85.5v5.8l0.3,0.8h3.2C340.3,90.3,339.1,88,338.5,85.5z M345.2,77.1
    h-1.5c0.5,0.9,0.6,1.7,0.6,2.7c0,2-0.8,4.3-0.8,7.3v0.2c0,2,0.7,3.6,1.8,4.8h1.1V80.7C346.2,79.4,345.9,78.1,345.2,77.1z
     M341.9,92.1h-3.2l0.2,0.5l-0.5-0.2v7.3c2.1-1.8,4.4-2,6.7-2c0.4,0,0.8,0,1.2,0v-2.4C344.7,94.6,343.2,93.5,341.9,92.1z M346.4,92.1
    h-1.1c0.3,0.4,0.7,0.7,1.1,0.9V92.1z M381.1,91c-0.5,0.5-0.9,0.9-1.3,1.1h1.2C381.1,91.7,381.1,91.4,381.1,91L381.1,91z M372.9,90.7
    c1.8,0,3.2,0.9,4.5,1.4H369v-0.3C370.2,91.3,371.6,90.7,372.9,90.7L372.9,90.7z M371.1,86.9c-0.7,0-1.4,0.1-2.1,0.3V88
    c1-0.5,2.2-0.8,3.5-0.9C372.1,86.9,371.6,86.9,371.1,86.9L371.1,86.9z M374.9,77.1c-0.5,2-2.3,3.5-4.4,3.5c-0.5,0-1-0.1-1.5-0.2
    v-3.3h0.6c0.1,0.1,0.3,0.2,0.4,0.3c0.4,0.2,0.8,0.4,1.3,0.4c0.6,0,1.2-0.2,1.6-0.7H374.9L374.9,77.1z M378.8,77.1
    c-0.2,0.7-0.4,1.5-0.8,2.4c0.2-0.9,0.4-1.7,0.4-2.4H378.8L378.8,77.1z M383.7,79.5c-0.7-0.6-1.3-1.4-1.8-2.4h1.8V79.5z M361.1,82.9
    v2.2c0.4-0.2,0.9-0.5,1.3-0.8L361.1,82.9z M369,77.1h-3c0.2,0.7,0.5,1.4,1.1,2c0.5,0.6,1.2,1,1.9,1.3V77.1z M369,91.8
    c-0.2,0.1-0.4,0.2-0.6,0.3h0.6V91.8z M364.6,77.1h-2.5c1.2,1.4,2.1,3.2,2.2,5.8c0.7-0.7,1-1.6,1-2.7
    C365.3,79.2,365.1,78.1,364.6,77.1z M369,87.2c-2.6,0.7-5.4,2.7-6.3,4.9h3.3l-0.1-0.2l0-0.3c0-1.1,1.2-2.6,3.2-3.5V87.2z M369,92.1
    h-0.6c-0.7,0.3-1.2,0.5-1.7,0.5c-0.4,0-0.7-0.1-0.8-0.5h-3.3c-0.1,0.2-0.2,0.4-0.2,0.6l-0.1,0c-0.4,0-0.8-0.2-1.3-0.4v2.4
    c0.4,0.3,0.9,0.4,1.5,0.4c2,0,4.6-1.6,6.5-2.4V92.1z M369,94.7c-1.7,0.7-3.5,2-5.3,2.8c0.7,1,1.5,1.7,2.5,2.3h2.1
    c-0.4-0.5-0.6-1.1-0.6-1.7c0-1,0.5-2,1.3-2.6V94.7z M391.6,77.2L391.6,77.2l0.1,0.2L391.6,77.2z M406.2,92.1h-12.2
    c-0.1,0.1-0.3,0.1-0.4,0.2c-0.7,0.3-1.3,0.5-1.9,0.5l-0.1,0v1.1c2.4-0.5,3.2-1.7,5.7-1.7c3,0,4.1,2,6.5,2c1,0,1.8-0.3,2.4-0.8V92.1z
     M396.6,94.2c-0.2,0-0.5,0-0.7,0.1c-3.2,0.6-4,3-4,5.2c0,0.1,0,0.3,0,0.4h2.1c-0.3-0.4-0.4-0.9-0.4-1.4c0-0.7,0.3-1.4,1-2
    c0.2,0.3,0.6,2,1.3,3.4h2.7c-0.4-1.8-1.7-4.3-1.8-4.6c0.2,0,0.4-0.1,0.7-0.1c1.7,0,2.7,1.6,2.7,3c0,0.6-0.2,1.2-0.5,1.7h2.1
    c1-0.6,1.8-1.3,2.5-2.3C401.6,96.4,398.9,94.2,396.6,94.2z M391.6,77.1h-0.2l0.2,0.2L391.6,77.1L391.6,77.1z M390,92.1h-3.2
    c0.5,1.1,1.5,1.9,2.9,1.9c0.7,0,1.4-0.1,1.9-0.2v-1.1C390.9,92.7,390.3,92.5,390,92.1z M428.8,87c-2.9,0.9-5.4,2.2-6.5,5.1h4.4
    c0.7-0.3,1.4-0.6,2.1-0.9V87L428.8,87z M427.5,83.8c-6.3,0-10.1,5.5-10.8,8.2h1.2c2.3-1.7,5.2-4.8,6.5-5.6c1.3-0.9,3-1,4.5-1.1v-1.5
    C428.4,83.9,427.9,83.8,427.5,83.8L427.5,83.8z M414.8,77.1c-0.1,0.7-0.3,1.4-0.6,2.1v-2.1H414.8L414.8,77.1z M420.2,77.1l-0.9,1.1
    c0,0-2.4,3.7-5.1,5.7v-1.4c1.4-1.5,2.7-3.4,3.3-5.5H420.2L420.2,77.1z M423.8,77.1c-1.4,0.5-2.8,1.3-4,2.6c-2.5,2.7-2.6,5-5.7,7.4
    v1.2c0.3,0.1,0.6,0.1,0.8,0.1c3.6,0,4.4-5.5,9.1-6.9c0.4-0.1,0.8-0.2,1.2-0.2c1.2,0,2.3,0.5,3.5,0.9v-1.4c-0.9-0.4-1.9-0.7-3-0.7
    c-0.5,0-0.9,0.1-1.4,0.2c0.4-0.6,2.2-0.9,4.5-1.8v-1.4H423.8z M414.2,77.1h-1.4c-0.6,2.8-2,5.2-5.9,6.4l0.4,0c4.2,0,6.1-1.8,7-4.3
    V77.1z M414.2,82.5c-1.3,1.3-2.7,2.2-3.9,2.5c0.3,0.1,0.6,0.2,0.9,0.2c1,0,2-0.5,3-1.3V82.5L414.2,82.5z M406.2,80.9v-1.4
    c1-0.7,1.6-1.5,2.1-2.4h2.2C409.9,78.8,408.6,80.2,406.2,80.9z M414.2,87.1c-0.3,0.3-0.7,0.5-1.1,0.8c0.4,0.2,0.8,0.3,1.1,0.4V87.1z
     M406.6,90.9c-0.1,0.2-0.2,0.3-0.4,0.5v0.7h0.7C407,91.7,406.9,91.3,406.6,90.9z M412.7,97.3c-1.9,0-3.6,0.5-3.6,1.5l0,0.1
    c0.1,0.3,0.4,0.4,0.6,0.4c0.9,0,2.4-1,4.4-1.3v-0.7C413.7,97.3,413.2,97.3,412.7,97.3z M410.9,93.1c-1.7,0-2.8,1.1-2.8,1.8l0,0.2
    c0.1,0.2,0.3,0.3,0.4,0.3c0.6,0,1.5-1.5,2.9-2.2C411.2,93.1,411.1,93.1,410.9,93.1z M407,92.1h-0.7v1.3
    C406.7,93,406.9,92.6,407,92.1z M446.4,77.1h-1.2c-0.2,8.8-3.8,10.8-6.6,12.6c-0.5,0.3-1.1,0.6-1.8,0.9v1.5h0.3l14.3-6.4v-2h-5.6
    C446.2,81.6,446.2,79.3,446.4,77.1z M444.1,91.5c-1.1,0-2.1,0.2-3,0.6h6.2C446.1,91.7,445.1,91.5,444.1,91.5z M451.4,89.9l-2.5,2.2
    h1.8l0.7-1.1V89.9z M441.6,79.9c-0.6,2.7-2.4,4.1-4.8,5v2.9C440,86,442.2,83.7,441.6,79.9z M439.5,77.1h-2.7v4.8
    C438.3,80.8,439,79.1,439.5,77.1z M437.1,92.1h-0.3v0.1L437.1,92.1z M436.8,94.8c-1.5,1.4-2.8,2.8-4,3.6c-0.8,0.5-1.6,0.7-2.4,0.7
    c-0.5,0-1-0.1-1.5-0.1v0.8h8V94.8z M436.8,92.1h-4.6c-1.1,0.3-2.3,0.7-3.4,1.1v2.6l8-3.6V92.1z M464.5,92.1h-1.9
    c-0.3,2.9-1.4,4.4-3.1,4.8v1.7h0.2c0.1,0.2,0.2,0.3,0.2,0.4c0,0.2-0.1,0.3-0.3,0.5v0.4h3.9c0.9-1,1.4-2.5,1.4-4.8
    C464.7,94.2,464.6,93.2,464.5,92.1z M466.9,92.1h-1.3c0.9,1.2,1.3,3,1.3,4.9c0,0.9-0.1,1.9-0.3,2.9h1.7c0.1-0.6,0.2-1.3,0.2-2
    C468.5,95.9,468,93.9,466.9,92.1z M335.5,57l3,9.9V60L335.5,57z M325.6,55.3c-5.3,0-10.5,7.1-7.1,14h5.3h1.7
    c-6.2-3-4.9-12.4,0.5-12.4l0.4,0c-2.1,3.6-1.8,9.9,5.4,12.4h6.7v-0.8c-0.7,0.1-1.5,0.2-2.2,0.2c-6.3,0-12.2-4.3-8.2-12.9
    C327.3,55.4,326.4,55.3,325.6,55.3z M338.5,69.3h-6.7c0.5,0.2,1.1,0.3,1.7,0.5c-1.3,0.3-2.5,0.4-3.6,0.4c-1.7,0-3.2-0.3-4.3-0.9
    h-1.7v5.1c2.2,0.9,4.8,1.5,7.1,2.7h4.7c-3.4-3.7-8.9-1.5-8.8-5.8c0.6,0.3,1.3,0.4,2.1,0.4c2.7,0,6.3-1.4,9.5-1.7V69.3z M323.8,69.3
    h-5.3c0.5,1.1,1.2,2.1,2.2,3.1c0.8,0.9,1.9,1.5,3.1,2V69.3z M360.3,56.2c-2.7,5.1-1.7,7.9,0.8,9.8v-3.1
    C360.1,61.2,359.7,59.1,360.3,56.2L360.3,56.2z M354.7,54.3c-2.2,5.1-3.4,10.4,1.5,15h-4c-1.9-2.6-2.7-4.9-2.9-7.1l-2.9-1.4v-1.3
    l2.8,0.6c0.1-2,0.7-3.9,1.4-5.8H354.7L354.7,54.3z M357.2,54.3c-2.4,4.5-4.3,8.7,0.1,13.1c0.8,0.8,1.7,1.4,2.8,1.9h1v-1.8
    c-5.9-2.8-4.1-7.8-1.7-13.1H357.2z M346.4,68.1v1.2h1.2L346.4,68.1z M361.1,69.3h-1c0.3,0.2,0.7,0.3,1,0.4V69.3z M347.7,69.3h-1.2
    v6.7c0.2,0.4,0.3,0.8,0.5,1.1h8.4L347.7,69.3z M356.2,69.3h-4c0.3,0.4,0.6,0.8,1,1.2c1.7,2,5.3,3.2,7.9,5.5v-3.2
    c-0.5-0.4-1-0.8-1.6-1.1C358.2,70.9,357.1,70.1,356.2,69.3z M341.1,74.5c1.3,0.9,2.1,1.7,2.6,2.6h1.5
    C344.4,75.8,343.2,74.9,341.1,74.5z M346.4,69.3h-8V70c0.4,0,0.8-0.1,1.2-0.1c2.7,0,5.1,1,6.3,4.7c0.1,0.4,0.3,0.9,0.5,1.3V69.3z
     M369,76.5v0.5h0.6C369.4,76.9,369.2,76.7,369,76.5z M394,68.6c0,0-0.2,0.3-0.5,0.7 M393.5,69.3h0.4 M394,68.6c0,0-0.1,0.3-0.1,0.7
     M406.2,60.7c-1.2,2.7-1,5.9-1.5,8.6h1.5V60.7z M404.9,54.3h-5.4c0.6,1.2,1,2.5,0.9,4.1c-0.1,3.3-4.2,6.3-4.9,10.9h4L404.9,54.3z
     M393.6,54.3h-1.9v5.5C392.7,58.1,393.5,56.4,393.6,54.3z M396.7,54.3h-0.2c-0.1,3-2.6,6-4.9,9.1v3.5
    C394.3,62.9,399,59.7,396.7,54.3z M399.6,69.3h-4c-0.3,2,0,4.2,1.6,6.8L399.6,69.3z M393.8,69.3h-0.4c-1,1.7-3,5.7,1.6,7.8h0.4
    C393.3,74.6,393.6,70.9,393.8,69.3z M406.2,69.3h-1.5c-0.1,0.7-0.3,1.3-0.5,1.9c-1,2.7-3.1,4.2-5.1,5.9h5.3c0.7-0.6,1.3-1.3,1.7-2
    l0.1-0.2V69.3z M391.6,63.4c-1.4,1.9-2.7,3.9-3.2,5.9h2c0.3-0.8,0.7-1.6,1.2-2.3V63.4z M390.4,54.3h-3.9c-0.3,1.3-0.9,2.7-2,4.2
    l-0.8-1.2v7.2C385.5,60.9,389.1,57.9,390.4,54.3z M391.6,54.3h-0.3c-0.2,5.6-5.3,8.6-7.7,12.5v2.5h2.3c0.7-3.5,3.7-6.3,5.7-9.5V54.3
    z M383.7,76.2v0.9h0.4C383.9,76.8,383.8,76.5,383.7,76.2z M390.4,69.3h-2c-0.2,0.6-0.2,1.2-0.2,1.8c0,2,0.9,4,3.2,6h0.2
    c-1.2-2-1.6-3.7-1.6-5.2C390,70.9,390.1,70.1,390.4,69.3z M386,69.3h-2.3v0.9c0.1-0.4,0.3-0.7,0.5-0.9c0,0-0.2,0.7-0.2,1.6
    c0,1.7,0.5,4.4,3.6,5.6c-1.3-2.1-1.8-3.9-1.8-5.5C385.8,70.4,385.9,69.8,386,69.3z M414.2,69.3h-0.5c-0.5,2.6-0.4,5.4-0.9,7.8h1.4
    V69.3z M407.5,69.3h-1.2v5.6C406.9,73.6,407.2,71.5,407.5,69.3z M411.6,69.3h-2.2c-0.2,2.9,0,5.6-1.1,7.8h2.2
    C411.4,74.9,411.3,72.1,411.6,69.3z M448.8,69.3h-1.5c-1.1,1.4-2,3.6-2.1,7.5l0,0.3h1.2C446.6,74,447,71.1,448.8,69.3z M440.7,69.3
    h-3.9v2.5c0.2-0.4,0.4-0.8,0.6-1.2c0.2,0.4,0.3,0.9,0.4,1.4c0,1-0.4,2.1-1,3.1v1.9h2.7C440.1,74.6,440.3,71.7,440.7,69.3z
     M436.8,65.3c-0.3,1.6-0.7,2.9-1.1,4h1.1V65.3z M436.8,75.1c-0.4,0.7-0.8,1.4-1.3,1.9h1.3V75.1z M436.8,69.3h-1.1
    c-1.6,4.2-4.2,5.6-6.8,6.4v1.4h2.8c1.8-1.1,3.7-2.7,5.1-5.3V69.3z M359.7,37.7c1.5,3.2,1.5,6.1,0.9,8.8h0.5v-7.4
    C360.7,38.6,360.2,38.2,359.7,37.7z M344.9,40.1c0.4,0,1-0.2,1.7-0.3c0.7-0.2,1.5-0.3,2.4-0.3c1.2,0,2.6,0.3,4.2,1.3
    c-0.7-2.5-3-3.4-5-3.4c-2.5,0-4.8,1.3-3.8,2.5C344.5,40.1,344.7,40.1,344.9,40.1L344.9,40.1z M361.1,35.2v1.7
    c-1.6-1.3-4.1-2.1-7.7-2.1c-0.6,0-1.2,0-1.9,0.1c8.2,2.5,8.5,6.7,6.7,11.7h-5.3c0.1-0.5,0.1-1.1,0.1-1.6c0-3-1.3-3.8-3-3.8
    c-0.9,0-2,0.2-3,0.5c-1,0.2-2,0.5-2.8,0.5c-0.8,0-1.4-0.2-1.7-0.9c-1.9-4.6,4.4-8,10.9-8C356.2,33.2,358.9,33.8,361.1,35.2z
     M361.1,46.5h-0.5c-0.7,2.8-2.1,5.3-3.4,7.8h2.2c0.6-1.3,1.2-2.6,1.7-3.8V46.5z M358.2,46.5h-5.3c-0.3,2.7-1.3,5.2-2.2,7.8h4.1
    C355.9,51.6,357.3,49,358.2,46.5z M361.1,39.1v7.4h1.3c0.2-0.9,0.3-1.8,0.3-2.7C362.7,42.1,362.2,40.5,361.1,39.1z M361.1,35.2v1.7
    c2.5,2,3.1,5.1,3.1,8.4c0,0.4,0,0.8,0,1.2h0.9c0.1-1,0.1-2,0.1-3v-0.2C365.2,39.4,363.5,36.8,361.1,35.2z M365.1,46.5h-0.9
    c-0.1,2.7-0.5,5.5-0.6,7.8h1.1c0-0.2,0-0.4,0-0.7C364.7,51.4,364.9,49,365.1,46.5z M362.4,46.5h-1.3v3.9
    C361.6,49.1,362.1,47.8,362.4,46.5z M391.6,46.5L391.6,46.5L391.6,46.5L391.6,46.5z M396.5,53.7c0,0.1,0,0.3,0,0.4v0.1h0.2
    C396.7,54.1,396.6,53.9,396.5,53.7z M391.6,46.5h-6.1c0.6,2,1.2,3.8,1.2,5.8c0,0.7-0.1,1.3-0.2,2h3.9c0.3-0.9,0.5-1.8,0.5-2.7
    c0-0.4,0-0.9-0.1-1.4c0.4,1.3,0.6,2.5,0.6,3.6c0,0.2,0,0.3,0,0.5h0.3V46.5z M424.4,46.5h-2.9c0.2,0.5,0.3,1.1,0.4,1.7v0.1
    c0,2.7-2.9,4.6-6,5.9h3.4c3-1.7,5.3-3.8,5.3-6.7C424.5,47.3,424.5,46.9,424.4,46.5z M426.5,50.5c-0.7,1.6-1.9,2.9-3.2,3.8h1.5
    C425.5,53.4,426.1,52.2,426.5,50.5z M428.8,46.5h-0.6c0.3,1,0.5,2.1,0.5,3.2c0,1.6-0.3,3.2-0.7,4.6h0.8V46.5z M429.1,46.5h-0.3v7.8
    h0.5c0.2-1.2,0.3-2.5,0.3-4.1C429.6,48.9,429.4,47.6,429.1,46.5z M428.8,171.9v4.2c0.3,0.8,0.5,1.7,0.5,2.7c0,1.2-0.2,2.2-0.5,3.3v1
    h1.9c0.5-1.1,1-2.8,1-5.4C431.7,175.5,430.5,173.6,428.8,171.9L428.8,171.9z M436.8,171.8L436.8,171.8v-0.2l5.1,1.1l-4.4-4.5h-5.2
    c1.6,1.7,2.2,3.8,2.2,5.9c0,3.4-1.4,6.9-2.9,9.1h1.7c1.7-2.5,3.1-5.4,3.5-8C437,174,437,172.9,436.8,171.8L436.8,171.8L436.8,171.8z
     M436.8,171.6L436.8,171.6L436.8,171.6z M377.9,114.8h-1.8c0,1.1,1.2,2.5,4.4,3.2c-0.2,0-0.4,0-0.7,0c-1.9,0-5.1-0.9-5.5-3.3H369
    v7.8h5.5c-0.4-0.3-0.8-0.7-1.1-1.2c0.8,0.3,1.5,0.4,2.1,0.4c1.2,0,1.7-0.4,1.7-0.4s-5-1.9-5.2-3.1c5,0.3,10.3,2.8,10.3,2.8
    c0.2,0.3,0.2,0.9,0.1,1.5h1.2v-3.4c-0.2,0-0.3,0-0.5-0.1C382.7,119,378.6,117.1,377.9,114.8z M338.5,137.6h-13.4l-1.3,2.1v5.7h3
    l11.6-6.4V137.6z M324.5,137.6h-0.6v0.5C324,137.9,324.3,137.8,324.5,137.6z M326.9,145.4h-3v1.7L326.9,145.4z M383.7,122.6h-1.2
    c-0.3,1.7-1.3,4-2.3,4.3c-0.2,0.1-0.5,0.1-0.8,0.1c-1.6,0-4.4-0.8-5.1-2.9c0.9,0.3,1.7,0.3,2.2,0.3c1.5,0,1.7-0.7,1.7-0.7
    c-0.1,0-2.1,0-3.5-1.1H369v15h2.4c-1.2-2.2-2.1-4.4-1.8-6.9c0.8,2.2,2.5,4.5,4.1,6.9h3.3c-0.6-1.1-1.2-2.2-2-3.5
    c1.5,1,2.7,2.2,3.8,3.5h3.3c-1.1-1.3-1.9-2.3-1.3-2.9c0.1-0.1,0.3-0.2,0.4-0.2c0.7,0,1.6,1,2.4,2.5V130h-0.2c-2.5,0-6.2-0.9-6.3-0.9
    c-0.5-0.1-0.8-0.4-0.7-0.6c0-0.1,0.1-0.3,0.7-0.3c0.1,0,4.1,0.1,6.4,0.1V122.6z M338.5,60v6.9l0.5,1.5c-0.2,0-0.3,0.1-0.5,0.1v0.8h8
    v-1.2L338.5,60z M341.8,58.6l4.6,2.2v-1.3L341.8,58.6z M364.7,54.3h-1.1c0,1.1,0,2.1,0.2,3c0.9,3.9,2.9,5.8,5.3,7.1v-2.8
    C365.6,61,364.8,58.1,364.7,54.3z M361.1,67.4v1.8h5.1c-1-0.3-2.1-0.7-3.4-1.2C362.1,67.9,361.6,67.7,361.1,67.4z M366.1,69.3h-5.1
    v0.4c2.6,1,5.5,1.5,8,2.2v-1.6C368.2,70,367.3,69.7,366.1,69.3z M365,72.8l-0.3,0c0.9,0.7,0.8,2.6,1.4,4.3h3v-0.5
    C367.6,75,366.6,72.8,365,72.8L365,72.8z M364.6,77.1h-2.5c-0.3-0.4-0.7-0.7-1.1-1.1v-3.2C362.7,74,363.9,75.6,364.6,77.1z
     M383.7,69.3h-1.1c-0.1,0.2-0.1,0.5-0.1,0.7c0-0.2,0-0.5,0-0.7h-2.1c0,0.2,0,0.5,0,0.7c0,3,0.6,5.4,1.5,7.1h1.8v-0.9
    c-0.7-2-0.6-4.5,0-6V69.3z M369,70.3v1.6c1.6,0.4,2.9,1,3.8,1.9c0.4,0.4,0.7,1,0.7,1.7c0,0.6-0.3,1.2-0.7,1.6h2.1
    c0.1-0.3,0.1-0.7,0.1-1c0-1.5-0.7-2.8-1.8-3.6C372.3,71.7,371.2,71.2,369,70.3L369,70.3z M373.4,69.3h-4.3c4.7,1.5,9.3,3.2,9.3,7.8
    h0.4C379.8,72.6,377.1,70.7,373.4,69.3L373.4,69.3z M379.1,70.3c-0.3-0.3-0.6-0.7-0.9-1h0.7L379.1,70.3z M436.8,77.1h-1.3
    c-0.8,1.1-1.5,1.8-1.5,1.8c1.3,0.5,1.3,2.4-0.4,2.9c-0.4,0.1-0.7,0.1-1,0.1c-1.3,0-2.5-0.6-3.8-1.1v1.4c1.2,0.5,2.5,0.9,3.9,0.9
    c1,0,2-0.2,3.2-0.7c0.3-0.1,0.6-0.3,0.9-0.5V77.1z M431.7,77.1h-2.8v1.4C429.7,78.1,430.7,77.7,431.7,77.1z M436.8,84.9
    c-2.4,0.9-5.3,1.3-8,2.1v4.1c2.7-1.1,5.6-2.1,8-3.4V84.9L436.8,84.9z M428.8,85.4c1.5-0.1,2.9,0,3.4-0.5c-1.2-0.5-2.4-0.8-3.4-0.9
    V85.4z M436.8,90.6c-1.3,0.6-2.9,1-4.6,1.5h4.6V90.6z M426.7,92.1h-4.4c-0.4,1.1-0.7,2.4-0.7,4.1C422.6,94.4,424.5,93.1,426.7,92.1z
     M417.9,92.1h-1.2c-0.1,0.3-0.1,0.6-0.1,0.8C417,92.7,417.4,92.4,417.9,92.1z M428.8,93.2c-2.7,1.1-5.2,2.5-6.1,5.3l6.1-2.7V93.2z
     M426.8,98.8c-1,0-2,0.2-3.1,1h5.1V99C428.2,98.9,427.5,98.8,426.8,98.8L426.8,98.8z M417.2,98.3c-0.7-0.2-1.4-0.3-2.1-0.3
    c-0.3,0-0.6,0-1,0.1v-0.7C415.4,97.5,416.5,97.8,417.2,98.3z M436.8,99.8h-8v2.3c0.3,0.1,0.5,0.2,0.8,0.3c0.1,0,0.2,0.1,0.4,0.1
    c0.8,0.3,1.6,0.5,2.3,0.5l0.1,0l0.1,0c0.3,0,0.6,0,0.8-0.1l0.4-0.1c0.3-0.1,0.7-0.3,1-0.5l0.2-0.2c0.2-0.1,0.4-0.3,0.6-0.5
    c0,0.2-0.1,0.5-0.1,0.7l-0.1,0.3c-0.5,2.3-1.3,3.1-2.2,3.2l-0.2,0c-0.2,0-0.4,0-0.7-0.1c-0.4-0.1-0.8-0.3-1.2-0.5l-0.2-0.1
    c-0.2-0.1-0.4-0.2-0.6-0.4c-0.5-0.3-1-0.6-1.5-0.9v3c1.6,1,3.2,1.9,5,1.9c1.4,0,2.3-0.5,3-1.3V99.8z M432.3,105.7
    c0.2,0.1,0.5,0.1,0.7,0.1C432.8,105.8,432.5,105.8,432.3,105.7L432.3,105.7z M430.9,105.2l0.2,0.1L430.9,105.2L430.9,105.2z
     M428.8,103.9c0.5,0.3,1,0.6,1.5,0.9C429.8,104.5,429.3,104.2,428.8,103.9L428.8,103.9z M432.3,103.1l0.1,0L432.3,103.1L432.3,103.1
    z M433.4,103c-0.3,0.1-0.6,0.1-0.8,0.1C432.8,103.1,433.1,103,433.4,103L433.4,103z M435.3,102.6c-0.5,2.3-1.3,3.1-2.2,3.2
    C434.1,105.8,434.8,104.9,435.3,102.6L435.3,102.6z M429.6,102.5c0.1,0,0.2,0.1,0.4,0.1C429.9,102.5,429.8,102.5,429.6,102.5
    L429.6,102.5z M434.7,102.4c-0.3,0.2-0.7,0.4-1,0.5C434.1,102.7,434.4,102.6,434.7,102.4L434.7,102.4z M435.5,101.7
    c-0.2,0.2-0.4,0.3-0.6,0.5C435.1,102,435.3,101.9,435.5,101.7c0,0.2-0.1,0.5-0.1,0.7C435.4,102.2,435.5,101.9,435.5,101.7z
     M428.8,108.9v5.9h0.2l0.1-2.2c1.8,0.8,3.5,1.2,5.1,1.2c0.9,0,1.8-0.1,2.6-0.3v-1.4c-0.4,0.2-0.8,0.2-1.2,0.2l-0.2,0
    c0.5-0.1,1-0.3,1.4-0.5v-1.5c-0.8,0.4-1.6,0.6-2.6,0.6l-0.1,0c-0.5,0-1-0.1-1.6-0.2C431.4,110.3,430.1,109.7,428.8,108.9
    L428.8,108.9z M450.7,92.1h-1.8l-0.5,0.4c-0.4-0.2-0.8-0.3-1.1-0.4H441c-1.6,0.6-3,1.7-4.3,2.8v5h2c0.7-3.1,2.1-5.8,6.7-5.8
    l-1.8-1.2c0.3,0,0.5,0,0.8,0c3,0,4.6,1.7,6.9,3.3v-1.7c-0.5-0.3-1-0.6-1.5-1L450.7,92.1z M445.9,97.5c-1.3,0-2.4,0.7-3.2,2.4h2.6
    c0.3-0.3,0.7-0.5,1.1-0.5c0.2,0,0.4,0,0.7,0.2c0.2,0.1,0.3,0.2,0.5,0.3h3.4C449.3,98.6,447.5,97.5,445.9,97.5z M452.8,88.6l-1.4,1.2
    v1.1L452.8,88.6L452.8,88.6z M451.4,85.7v-2h4.5L451.4,85.7z M451.4,94.4v1.7c1.8,1.2,4.1,2.4,8,2.4v-1.7c-0.3,0.1-0.7,0.1-1,0.1
    C456.5,97,454.2,96.1,451.4,94.4z M454.7,99.2L454.7,99.2c0,0.2,0.1,0.4,0.2,0.6h4.5v-0.4c-0.3,0.2-0.9,0.3-1.6,0.3
    C456.8,99.8,455.7,99.6,454.7,99.2z M462.5,87.9c0.1,1.6,0.1,3,0,4.1h1.9c-0.1-0.4-0.1-0.8-0.2-1.2c0.5,0.3,1,0.7,1.4,1.2h1.3
    C465.9,90.5,464.5,89.1,462.5,87.9z M459.4,99.8h-4.5c0.6,0.8,2.5,1.6,4.5,1.6V99.8z M451.4,100.2v6.2c2,1.2,3.9,2.7,7.7,2.8l0.2,0
    V104h-0.2c-2.2,0-4.5-0.8-6.4-2.6C452.4,101.1,451.9,100.6,451.4,100.2z M451.4,111.1v0.2l0.7,0.1L451.4,111.1z M310.9,137.6h-5.1
    c2.5,1.9,5.2,4.1,8.9,4.1c0.4,0,0.8,0,1.2-0.1v-1.1c-0.6,0.1-1.1,0.2-1.6,0.2C312.3,140.7,310.8,139.8,310.9,137.6z M313.5,137.6
    h-2.2c0.4,0.1,0.8,0.1,1.1,0.1C312.8,137.7,313.2,137.7,313.5,137.6z M381,92.1h-1.2c-0.4,0.2-0.7,0.3-1.1,0.3
    c-0.4,0-0.9-0.1-1.3-0.3H369v0.7c0.6-0.2,1.1-0.4,1.6-0.4c1.5,0,5.1,2.2,7.7,2.2C379.6,94.5,380.7,93.9,381,92.1z M377.9,96.2
    c-0.4,0-0.7,0-0.7,0c0.2,1.3,0.3,2.5,0.3,3.6h2.5c0.1-0.3,0.9-2.3,0.2-3C379.6,96.3,378.6,96.2,377.9,96.2L377.9,96.2z M372,94.2
    c3.3,0.7,4.1,3.3,4,5.6h-2.1c0.6-1,0.6-2.4-0.6-3.4c-0.1,0.3-0.6,2-1.3,3.4h-2.7c0.4-1.8,1.7-4.3,1.8-4.6c-0.2,0-0.4-0.1-0.6-0.1
    c-0.6,0-1,0.2-1.4,0.4v-0.9c0.8-0.3,1.6-0.6,2.3-0.6C371.6,94.2,371.8,94.2,372,94.2z M404.4,77.1h-5.3c-1.2,1-2.3,2.1-3.2,3.5h0.1
    C397.2,80.6,401.5,79.6,404.4,77.1z M395.5,77.1H395c0.2,0.1,0.5,0.2,0.7,0.3L395.5,77.1z M406.2,79.5c-1,0.8-2.4,1.4-4.4,1.9l0.2,0
    c1.7,0,3-0.2,4.2-0.5V79.5z M400.2,89.9c-2.9,0-4.3,1.1-6.1,2.1h12.2v-0.7c-0.3,0.3-0.7,0.5-1.1,0.5
    C403.6,91.8,401.7,89.9,400.2,89.9z M391.6,46.5v7.8h1.9l0-0.2C393.6,50.8,392.6,48.6,391.6,46.5L391.6,46.5L391.6,46.5z
     M406.2,46.5v4.1l-1.3,3.7h-5.4c-1.5-2.9-4.4-4.9-5.9-7.8h1.6c0.8,2.8,2.6,3.7,4.7,6.4l5.7-6.4H406.2z M410.6,49.2v5.1h1.5
    L410.6,49.2L410.6,49.2z M406.2,46.5h1.4l-1.4,4.1V46.5z M428.8,56.6v-2.3H428c-0.9,3.2-2.4,5.9-3.1,6.7c-1.2,1.5-4.4,4.2-6,8.3h7.2
    l2.6-3.4v-6.3l-2,1C426.8,60.6,428,59.6,428.8,56.6L428.8,56.6z M426.3,54.9c-2.5,4.7-8.1,5.6-10.7,9.4c-0.6,0.9-1,1.9-1.4,2.9v2.1
    h1.5c0.3-1.6,0.7-3,1.6-4.1C421,59.8,424.5,60.7,426.3,54.9L426.3,54.9z M415.8,54.3c-0.5,0.2-1.1,0.4-1.6,0.6v1.7
    c1.8-0.7,3.5-1.4,5-2.3H415.8L415.8,54.3z M423.3,54.3c-2.8,2.1-6.4,3.1-9.1,4.9v2.9c3.9-4.7,8.1-4.5,10.6-7.8H423.3z M428.8,54.3
    v2.3c0.2-0.7,0.4-1.5,0.5-2.3H428.8L428.8,54.3z M428.8,65.9l8-10.3v-0.1l-8,4.1V65.9z M438.2,65.7l-1-3.4c-0.1,1.1-0.3,2.1-0.5,3v4
    h3.9c0.3-1.3,0.6-2.5,1.2-3.5c2.6-4.3,9.7-8.4,14.7,0.4c0,0-8.5-8.4-12.5,1.6c2.8-2.3,6.9-3,6.9-0.8c-1.1,0.4-2.5,0.9-3.7,2.3h1.5
    c1.7-1.7,4.5-2.5,9.3-1.6C459.8,64,448.3,52.2,438.2,65.7L438.2,65.7z M436.8,55.6l0.2-0.2l-0.2,0.1V55.6z M423.8,77.1h5v-1.4
    C427.2,76.2,425.5,76.5,423.8,77.1L423.8,77.1z M419,69.3c-0.5,1.4-0.8,2.9-0.8,4.5c0,1.1-0.2,2.2-0.6,3.3h2.6l6-7.8H419L419,69.3z
     M414.2,69.3h1.5c-0.4,2.4-0.4,5.3-0.9,7.8h-0.6V69.3z M467.9,54.2v8.9h8.9v-8.9H467.9z M458.6,31.3v10.4H469V31.3H458.6z
     M491.2,105.5V92.4h-13.1v13.1H491.2z M453.6,71.6v8.9h8.9v-8.9H453.6z M490.5,75.6v10.3h10.3V75.6H490.5z M406.9,21.7v11.7h11.7
    V21.7H406.9z M424,18.5v7h7v-7H424z M399.4,37.5v6.6h6.6v-6.6H399.4z M456.6,45.4h-9.6V55h9.6V45.4z M392,0.1V6h5.9V0.1H392z
     M458.7,59v5.6h5.6V59H458.7z M478.9,123v-8.8h-8.7v8.8H478.9z M472.8,66.9v6.1h6.4v6.5h6V66.9H472.8z M430.6,33.8v13.1h13.1v-6.4
    h-6.7v-6.7H430.6z M383.9,26.2h13.3V14.1h-6.5v6.2h-6.7L383.9,26.2z M449.8,23.1v-6.7h6.7V8.2h-15v15L449.8,23.1z M472.8,73.1v6.5
    h6.4v-6.5H472.8z M437.1,33.8v6.7h6.7v-6.7H437.1z M383.9,14v6.2h6.7V14H383.9z M449.8,16.4v6.7h6.7v-6.7H449.8z"/>
  </svg>
  {{#link-to 'main'}}{{/link-to}}
</div>
{{yield}}
