<div class="form-wrap">
	<h2 class="form-title">{{texts.call_me_title}}</h2>
	<p>{{texts.call_me_desc}}</p>
	<form class="call-me-form form-validate" {{action "submit" on="submit"}}>
		<div class="form-group">
			<div class="form-control-wrap">{{input class="form-control" type="text" placeholder=texts.placeholder_name name="name" value=call.name}}</div>
			<div class="form-control-wrap">{{input class="form-control" type="text" placeholder=texts.placeholder_phone name="phone" value=call.phone}}</div>
		</div>
		<div class="form-group">
			<div class="form-control-wrap">{{input class="form-control" type="text" placeholder=texts.placeholder_company name="company" value=call.company}}</div>
			<p class="details">{{texts.call_me_select_time}}</p>
			<div class="form-control-wrap">
			{{#bm-select value=call.time_at class="form-control" action="preferredTimeSelected" }}
				{{#bm-selected}}
					{{#if call.time_at}}
						{{call.time_at.text}}
					{{else}}
						{{texts.preferred_time_dontmatter}}
					{{/if}}
				{{/bm-selected}}
				{{#bm-options}}
					{{#each preferredTimeList as |item|}}
						{{#bm-option value=item}}
							{{item.text}}
						{{/bm-option}}
					{{/each}}
				{{/bm-options}}
			{{/bm-select}}
			</div>
		</div>
		<div class="form-control-wrap">{{textarea class="form-control" placeholder=texts.placeholder_message name="text" value=call.text}}</div>
		<div class="btn-group">
			<button type="submit" class="btn btn-default">{{texts.btn_submit}}</button>
		</div>
	</form>
</div>
