<div class="nav-right">
	<div class="slider-nav">
		<i class="arrows up slider-arrow"></i>
		<i class="arrows up list-arrow hidden"></i>
		<!-- change class to btn-grid to see another icon (btn-close/ btn-grid)-->
		<div class="change-view btn-grid">
			<span></span><span></span><span></span><span></span>
		</div>
		<i class="arrows down slider-arrow"></i>
		<i class="arrows down list-arrow hidden"></i>
	</div>
</div>
<!-- list or slider -->
<div class="companies-grid slider cf">
	{{#each companies as |company|}}
		<div class="item">
			<div class="image">
				{{#link-to 'company' company.id }}
					{{{company.svg_logo_color}}}
				{{/link-to}}
			</div>
			<div class="details">
				<div class="name-wrap">{{#link-to 'company' company.id class="name" }}{{company.name}}{{/link-to}}</div>
				<div class="show-all-wrap">{{#link-to 'company' company.id class="show-all"}}{{texts.btn_show}}{{/link-to}}</div>
			</div>
		</div>
	{{/each}}
</div>
<div class="nav-dots">
	{{#each companies as |company|}}
		<div class="dot-wrap">
			<div class="text">{{company.name}}</div>
			<div class="dot"></div>
		</div>
	{{/each}}
</div>