<div class="content-inner full">
	<div class="image-wrap">
		{{#each countries as |country|}}
		<div class="info-box">
			<div class="link-wrap">
				{{#link-to 'main'}}<span class="xs-screen-inline">{{texts.link_home_small}}</span><span class="md-screen-inline">{{texts.link_home_full}}</span>{{/link-to}}
			</div>
			<div class="info">
				{{#each country.companies as |company|}}
					<div class="name">{{company.name}}</div>
				{{/each}}
				<div class="country-wrap"><span class="country">{{country.name}}</span></div>
			</div>
			{{#each country.companies as |company|}}
			<!--<div class="label-wrap">
				<div class="label-content">{{company.city}}</div>
				<div class="label-triangle"></div>
			</div>-->
			{{/each}}
			{{{country.svg_map}}}
		</div>
		{{/each}}
	</div>
	<div class="description-wrap cf">
		<div class="btn-close"></div>
		<div class="nav-right">
			<div class="btn-close"></div>
			<div class="scroll-wrap"></div>
			<div class="arrows"><i class="up"></i><i class="down"></i></div>
		</div>
		{{#each countries as |country|}}
			{{#if country.companies }}
			<div class="description">
				<div class="location cf">
					<div class="image">
						<img src="http://vivaki.apexapps.kz/{{country.image}}">
					</div>
					<div class="left">
						<div class="country">{{country.name}}</div>
						{{#each country.companies as |company|}}
						<div class="town"><span>{{texts.city}}:</span> {{company.city}}</div>
						{{/each}}
					</div>
				</div>
				{{#each country.companies as |company|}}
				<div>
					<div class="name">{{company.name}}</div>
					<div class="foundation"><span>{{texts.foundation_date}}: </span> {{company.dateFound}}</div>
					<p>{{company.description}}</p>
					<div class="clients"><span>{{texts.customers}}: </span>{{company.clients}}</div>
					<div class="stats">
						<h3>{{texts.stat}}</h3>
						{{{company.add2}}}
					</div>
				</div>
				{{/each}}
			</div>
			{{/if}}
		{{/each}}
	</div>
	<div class="carousel-wrap">
		<div class="carousel-inner">
			<div class="owl-carousel owl-theme">
				{{#each countries as |country|}}
					<div><img src="http://vivaki.apexapps.kz{{country.image}}" title="{{country.name}}"></div>
				{{/each}}
			</div>
		</div>
		<div class="carousel-nav">
			<div class="carousel-prev"></div>
			<div class="carousel-next"></div>
		</div>
	</div>
</div>