<div class="form-wrap">
	<h2 class="form-title">{{texts.form_contact_us_title}}</h2>
	<form class="form-validate feedback-form" {{action "submit" on="submit"}}>
		<div class="form-group">
			<div class="form-control-wrap">{{input class="form-control" type="text" placeholder=texts.placeholder_name name="name" value=contact.name }}</div>
			<div class="form-control-wrap">{{input class="form-control" type="text" placeholder=texts.placeholder_phone name="phone" value=contact.phone}}</div>
		</div>
		<div class="form-group">
			<div class="form-control-wrap">{{input class="form-control" type="email"  placeholder=texts.placeholder_mail name="email" value=contact.email}}</div>
			<div class="form-control-wrap">{{input class="form-control" type="text" placeholder=texts.placeholder_company name="company" value=contact.company}}</div>
		</div>
		<div class="form-control-wrap">{{textarea class="form-control" placeholder=texts.placeholder_message name="text" value=contact.text }}</div>
		<div class="btn-group">
			<div class="form-control-wrap file"><label for="file-upload" class="btn btn-linear">{{texts.btn_file}}</label><input id="file-upload" class="file-upload" type="file" name="file" /></div>
			<button type="submit" class="btn btn-default">{{texts.btn_submit}}</button>
		</div>
	</form>
</div>
