<div class="btn-group">
	<form class="form-validate" {{action "submit" on="submit"}}>
		{{input type="hidden" name="job_id" value=job.id}}
		<div class="form-control-wrap file">
			<label for="file-upload{{job.id}}" class="btn btn-linear"> {{texts.btn_file}}</label>
			<input class="file-upload" id="file-upload{{job.id}}" type="file" name="file{{job.id}}" value="{{job.file}}"/>
		</div>
		<button type="submit" class="btn btn-default">{{texts.btn_submit}}</button>
	</form>
</div>