<div class="hero">
	<div class="link-wrap">
		{{#link-to 'main'}}<span class="xs-screen-inline">{{texts.link_home_small}}</span><span class="md-screen-inline">{{texts.link_home_full}}</span>{{/link-to}}
	</div>
	<div class="pinned">
		<h1 class="title" data-number="{{texts.employeies_count}}">0</h1>
		<p class="subTitle">{{texts.employeies_desc}}</p>
		<div class="chevron-wrap">
			<div class="chevron"></div>
			<span>{{texts.map_scale}}</span>
		</div>
	</div>
</div>
<div class="spacer" style="padding: 300px 0px 0px"></div>
