<div class="modalFrame">
	<div class="orbit-wrap">
		<span class="moveX">
			<div class="moveY"><div class="elipsoid-wrap"><span class="elipsoid"></span></div></div>
		</span>
	</div>
	{{cookie}}
	<p>Для выбора компаний вращайте сферу</p>
	<a class="btn btn-default" {{ action 'closeModal' }}>Ok</a>
	{{!-- <a class="btn btn-default" {{ action 'closeModal' }}>Ok</a> --}}
</div>
