<div class="shapes-wrap">
	<svg id="shapes">
		<path id="shadow" fill="rgba(222,220,218,0.2)"  d="M178.3,70.5L144.3-1l48.8,41L178.3,70.5z M83.8,145.8l39.8-7.2
	l-20-69.5l-46.2,45.5L83.8,145.8z M157.7,146.5L195.8,98l-72.2,41.7L157.7,146.5z"/>
		<path id="shape" fill="none" stroke="#000000" stroke-miterlimit="10" d="M47.5,65.1l35.7-48.7l61.1-7l-40.7,69.3L47.5,65.1z M83.8,155.3  l39.8-7.2l-20-69.5l-46.2,45.5L83.8,155.3z M193.2,50.3l-48.8-41l34,71.5L193.2,50.3z M123.7,148.2l54.7-67.3l-74.7-2.2L123.7,148.2  z M195.8,106.5l-17.5-25.7l-54.7,67.3L195.8,106.5z M157.7,155l-34-6.8l-1.8,65.3l22.5-12.5L157.7,155z M121.8,213.5l1.8-65.3  l-29.5,52.2L121.8,213.5z M57.5,124.2l46.2-45.5L47.5,65.1L57.5,124.2z M123.7,148.2l-39.8,7.2l10.3,45L123.7,148.2z M195.8,106.5  l-2.7-56.2l-14.8,30.5L195.8,106.5z M195.8,106.5l-72.2,41.7l34,6.8L195.8,106.5z M81.5,14v4.2h4V18h-4v-0.5h4V17h-4v-0.5h4V16h-4  v-0.5h4V15h-4v-0.5h4V14H82H81.5z M101.6,75.9v4.2h4v-0.2h-4v-0.5h4v-0.5h-4v-0.5h4v-0.5h-4v-0.5h4v-0.5h-4v-0.5h4v-0.5h-3.5H101.6z   M55.5,122v4.2h4V126h-4v-0.5h4V125h-4v-0.5h4V124h-4v-0.5h4V123h-4v-0.5h4V122H56H55.5z M193.5,104v4.2h4V108h-4v-0.5h4V107h-4  v-0.5h4V106h-4v-0.5h4V105h-4v-0.5h4V104H194H193.5z M92.5,196.9v4.2h4v-0.2h-4v-0.5h4v-0.5h-4v-0.5h4v-0.5h-4v-0.5h4v-0.5h-4v-0.5  h4v-0.5H93H92.5z"/>
	</svg>
	<div class="shapes-bg"></div>
</div>