// common styles
h1
	font-size 50px
.content-inner
	width contentWidth1280
	padding-top 93px
.liquid-container
	padding contentMargin1280 contentMargin1280 71px 0
.connectedParticles
	padding contentMargin1280 contentMargin1280 0 0
	&:before
		right contentMargin1280
	&:after
		top -1*contentMargin1280
		right contentMargin1280
		width 88px
		height 101px
.t
	height 13px
.r
	width 13px
.wrap
	padding contentMargin1280 contentMargin1280 0 0
.hamburger
	width 101px
	height 101px
	padding contentMargin1280
	.label
		font-size 16px
		line-height 101px
.humburgerLines
	padding 43px 0 0 30px
.sphereCompany
	a
	span
		font-size 40px
.bottomMenu
	margin 0 contentMargin1280 0 0
.sphere
.sphereHoverContainer
	top contentMargin1280
// main menu (popup)
#menu
	.item
		a
			font-size 34px
			line-height 34px
			padding 51px 20px 49px 20px
	.modalFrame
		padding-top 89px
		width 789px
.sphereNav
	a
		font 15px/24px introBlack
.plus
	height 36px
	width 36px
	&:before
		background-size 15px 15px
.bottomMenu
	height 70px
	li
		height 70px
		// line-height 70px
		font-size 14px
	.fb
	.tw
		width 70px
	.fb
		i
			background-size 10px 20px
	.tw
		i
			background-size 23px 18px
	.contacts
		padding-left 50px
		width 127px
	.lang
		width 70px
	.mail
		width 88px
		/*&:before
			background-position 18px 35px
		&:hover:before
			background-position -116px 35px*/
		i
			width 59px
			height 26px
			background url(mailIconBig) no-repeat -100px 0
			/*&:before
				width 19px
				height 19px
				left 2px*/

// logo
#logo
	width 278px
	height 111px
	padding-top 43px
// feedback form, inputs
.form-wrap
	width 790px
	p
		font-size 18px
		line-height 22px
		margin-bottom 47px
	textarea
		margin 30px 0
.form-title
	font-size 40px
	padding 169px 0 18px
.form-control
	font-size 16px
	height 60px
	padding 29px 20px 11px
// select styles
bm-selected
	&:after
		width 60px
bm-option
	font-size 16px
	padding 29px 20px 11px
// feedback form
.feedback
	.form-title
		padding 110px 0 18px 0
	textarea
		height 200px
	.footer-contacts
		padding-top 85px
// .call-me
.call-me
	.form-group
		&:nth-child(2)
			padding-top 54px
	.details
		top 0
	.footer-contacts
		padding-top 30px
//buttons
.btn
	font-size 15px
	padding-top 12px
.btn-linear
	padding-left 73px
	&:before
		left 44px
	&:after
		width 44px
		background-position -2px center
	&:hover
		&:after
			background-position -98px center
	&.btn-back
	&.btn-show
		&:after
			background-position -4px center
		&:hover
			&:after
				background-position -100px center


//breadcrumb
.breadcrumb
	font-size 16px

// contacts
.contacts
.vacancies
	font-size 20px
	line-height 26px
	h1
		padding 197px 0 24px
.contacts
	.boxes-wrap
		margin-top 77px
	.box
		margin-bottom 44px
		&:nth-child(2n+1)
			margin-right 50px
		.box-title
			font-size 19px
			margin-bottom 11px
		.box-content
			font-size 18px
			line-height 24px
			&.mail
				font-size 16px
				line-height 22px
				.details
					font-size 18px
					line-height 20px
					margin-bottom 14px
		.details
			font-size 16px
			line-height 24px
			&.map
				background-size 17px 23px
				padding-left 25px
			&.phone
				background-size 23px 23px
				padding-left 30px
				margin-top 11px
	& + .form-wrap
		margin-bottom 144px
		.form-title
			font-size 40px
			padding 40px 0 45px
		textarea
			height 200px
			margin-bottom 30px

.cp-Panels
	h3
		font-size 24px
		padding 24px 66px 15px 0
		margin-bottom 10px
		&:before
		&:after
			width 72px
		&:before
			height 66px
			background-image url(accordionIcon)
			background-position center -66px
		&:hover
			&:after
				height 66px
	.cp-Panel
		margin-bottom 30px
		&.cp-is-open
			margin-bottom 20px
			.cp-Panel-toggle
				&:before
					bottom 20px
					height 30px
			h3
				&:before
					background-position center 0
				&:after
					height 66px
				&:hover
					&:before
						background-position center 66px
	h4
		font-size 18px
		margin 40px 0 30px
	table
		font-size 16px
		tr
			td
				padding 15px 0 11px
				& + td
					font-size 18px
	ul
		font-size 18px
	.hide
		font-size 15px
		padding 23px 57px 22px 0
		line-height 18px
		&:before
		&:after
			width 31px
			margin-right 10px


// companies list/grid
.content-inner
	&.companies
		padding 0 62px 0 0
.companies
	.list
		height calc(100vh - 71px - 13px)
		.item
			padding 40px 20px 54px
		.image
			svg
				width 60%
		.details
			height 24px
			margin-top 19px
		.name
			font-size 24px
			line-height 24px
		.show-all
			line-height 24px
	.slider
		height calc(100vh - 71px - 13px)
		.item
			padding-top 84px
		.details
			padding-top 25px
		.name
			font-size 60px
			line-height 65px
		.show-all
			font-size 15px
			line-height 24px
			padding-left 10px 5px 10px 46px
			min-width 185px
			margin-top 22px
			&:before
				width 49px
				background-position -1px center
			&:after
				left 44px
			&:hover
				&:before
					background-position -97px center
.nav-right
	width 88px

.worldMap
	.centerToLeft
		float none
		right auto
	.centerToRight
		right auto
	svg
		max-width 100%
.mapOfPresence
	.hero
		padding-top 93px
		.link-wrap
			width 995px
	h1
		font-size 150px
		line-height 150px
		padding 15px 0
	p
		font-size 36px
		line-height 46px
	.chevron-wrap
		span
			padding-top 15px
			font-size 16px
			line-height 18px
	.chevron
		width 40px
		height 63px
		border-radius 20px
		&:after
			bottom 20px
		&:before
			bottom 28px
.mapOfPresence
	.image-wrap
		height calc(100vh - 13px - 71px - 117px)
		padding-top 92px
		.link-wrap
			padding-right 122px
			padding-bottom 75px
		.label-wrap
			.label-content
				font-size 18px
				padding 11px 21px
		.info
			bottom 58px
		.info-box
			padding-bottom 200px
		.name
			font-size 50px
			line-height 50px
			text-decoration none
			padding-bottom 12px
		.country
			font-size 26px
			line-height 26px
	.description-wrap
		height calc(100vh - 13px - 71px - 117px)
		&:before
			width 816px
	.nav-right
		top 101px
		bottom calc(71px + 117px - 1px)
		width 89px
		.btn-close
			height 86px
		.arrows
			i
				height 86px
				background-size 22px 11px
	.description
		padding-top 124px
		height calc(100vh - 13px - 71px - 117px)
		width 625px
		.location
			.image
				margin-right 30px
				img
					max-width 175px
					width 175px
					height 114px
			.left
				padding-top 28px
		.country
			font-size 26px
			line-height 26px
			padding-bottom 5px
		.town
			font-size 20px
			span
				font-size 16px
		.name
			font-size 34px
			line-height 40px
			padding 43px 30px 11px 0
		.foundation
			font-size 30px
			line-height 30px
			padding-bottom 28px
			span
				font-size 16px
				padding-bottom 0
		p
			font-size 16px
			line-height 22px
		.clients
			font-size 20px
			line-height 26px
			span
				font-size 16px
		.stats
			padding-top 35px
			h3
				font-size 22px
			ul
				li
					font-size 16px
					line-height 30px
					strong
						font-size 30px
// about
.content-inner
	&.about
		width 996px
		padding-top 0
.about
	.back_to_main_wrap
	.welcome
		width 995px
	.mouse-down-wrap
	.company_wrap
		width contentWidth1280
	p
		font-size 20px
		line-height 30px
	h2
		font-size 50px
		line-height 175px
		margin-top 70px
	.back_to_main_wrap
		a
			font-size 15px
			line-height 23px
			padding-left 33px
	.know_more
		font-size 15px
	.welcome-wrap
		padding-top 90px
		padding-bottom 50px
		height calc(100vh - 71px - 13px)
		margin-bottom 270px
	.welcome
		font-size 40px
		line-height 55px
		padding 45px 0 39px
		&:before
		&:after
			height 5px
			width 127px
	.mouse-down-wrap
		span
			font-size 16px
			padding-top 9px
		.mouse-down
			width 40px
			height 65px
			border-radius 40px
			margin-bottom 18px
			border-width 3px
			&:before
				top 4px
				width 4px
				height 14px
			&:after
				background-size 20px 10px
				height 10px
				bottom -18px
	.company_wrap
		width 800px
		margin 77px auto 108px
		h1
			padding 33px 0 43px
			margin 0
		.know_more
			margin-top 7px
	.affiliates
		width 800px
		margin 0 auto
		padding-top 178px
		// background-size 381px 506px
		min-height 381px
		&:before
		&:after
			width 379px
			height 504px
		&:after
			background-size 381px 506px
		p
			font-size 40px
			line-height 55px
			margin-bottom 25px
// boxes with companies
.content-inner
	&.full
		padding 0
		width 100%
.boxes
	.box_inner
		width 376px
	.box
		min-height 501px
		.name
			font-size 36px
			line-height 40px
			&:after
				width 65px
				height 3px
		p
			font-size 18px
			line-height 26px
	.box_hover
		.name
			// padding 55% 0 0 0
			margin 0

//========================================company single page========================================.
.company
	&.content-inner
		padding-top 93px
		padding-bottom 175px
	.breadcrumb
	.company-info
	.we_offer
	.accordion
		width contentWidth1280
	.mission
		width 1065px
	p
		font-size 20px
		line-height 30px
	.logo_wrap
		padding-top 205px
		padding-bottom 32px
	.company-arrow
		width 72px
		height 60px
		border-bottom-width 3px
		background url(contactArrowsBig)
		top 351px
		&:before
			border-top-width 3px
			bottom -3px
		&.prev
			background-position 0 -60px
			&:hover
				background-position -144px -60px
		&.next
			background-position 72px 0
			&:hover
				background-position 216px 0
	.company-info
		margin-top 30px
		h1
			padding 40px 0 28px
		p
			font-size 20px
			line-height 30px
	.mission
		margin-top 120px
		h2
			font-size 40px
			margin 0 0 53px
			padding 0 0 35px
			&:after
				width 75px
				height 3px
		p
			font-size 28px
			line-height 36px
	.we_offer
		margin-top 125px
		margin-bottom 52px
		h2
			font-size 50px
			margin 0 0 40px
		p
			font-size 20px
			line-height 26px
	.cp-Panels
		.cp-Panel
			margin-bottom 0
		h3
			padding 23px 66px 23px 0
			margin-bottom 25px
		.cp-Panel
			&.cp-is-open
				margin-bottom 23px
	.accordion
		p
			font-size 18px
			line-height 24px
		h4
			font-size 40px
			margin-bottom 0
			padding 36px 0
			&.h4
				font-size 40px
				padding 23px 0 20px 0
		ul
			li
				padding-bottom 22px
				margin-bottom 25px
				&:last-child
					margin-bottom 0
				h5
					font-size 20px
					line-height 28px
				p
					font-size 18px
					line-height 24px
		.height
			margin-top 46px
	.form-wrap
		.form-title
			padding 142px 0 43px
			font-size 40px
		textarea
			height 200px
.carousel-wrap
	padding 15px 0
.carousel-inner
	width 1035px
.carousel-nav
	.carousel-prev
	.carousel-next
		&:before
			background-size 17px 32px
			width 17px
			height 32px
	.carousel-prev
		&:before
			left 60px
	.carousel-next
		&:before
			right 60px
//footer
.footer
	.nav
		.item
			font-size 18px
			padding 0 15px
	.copy
		font-size 14px
// footer contact info
.footer-contacts
	.address
		font-size 16px
		padding-top 70px
	.contacts
		font-size 18px
		padding-top 10px
// styles for links
.link-wrap
	a
		font-size 15px
// 404
.not-found
	.content-inner
		padding-top 90px
	h1
		font-size 60px
		line-height 60px
		padding-bottom 48px
	p
		font-size 20px
		margin-bottom 12px
// success
.success
	.content-inner
		width 1000px
	p
		font-size 40px
		line-height 55px
		margin-bottom 45px
	.footer-contacts
		padding-top 50px
		padding-bottom 90px !important
// fix scrolling logo
.company-view
.contact-info-view
.vacancies-view
	.liquid-container
		margin-top -46px
.about-view
	.liquid-container
		margin-top -138px
#instruction
	p
		font-size 20px
		line-height 20px
// sphere
.orbit-wrap
	background-size 174px 126px
	width 194px
	height 126px
.moveX
	width 65px
	animation moveX 5s ease-in-out 0s infinite
.moveY
	width 65px
	height 20px
	top -10px
.elipsoid-wrap
	width 20px
	height 20px
.elipsoid
	width 10px
	height 10px