
// common styles
h1
	font-size 52px
.content-inner
	width contentWidth1680
	padding-top 92px
.connectedParticles
	padding contentMargin1680 contentMargin1680 0 0
	&:before
		right contentMargin1680
	&:after
		top -1*contentMargin1680
		right contentMargin1680
		width 98px
		height 111px
.wrap
	padding contentMargin1680 contentMargin1680 0 0
.hamburger
	width 111px
	height 111px
	padding contentMargin1680
	.label
		font-size 18px
		line-height 111px
.humburgerLines
	padding 46px 0 0 36px
.bottomMenu
	margin 0 contentMargin1680 0 0
.sphere
.sphereHoverContainer
	top contentMargin1680
// main menu (popup)
#menu
	.item
		a
			padding 48px 20px
	.modalFrame
		padding-top 86px
		width 994px
.sphereNav
	a
		font 18px/24px introBlack
	.left
		margin-left 133px
	.right
		margin-right 133px
.plus
	height 38px
	width 38px
.bottomMenu
	.mail
		width 98px
		/*&:before
			background-position 28px 35px
		&:hover:before
			background-position -106px 35px
		i
			margin-left 9px*/
// logo
 #logo
	padding-left 30px
// feedback form, inputs
.form-wrap
	width 994px
	p
		font-size 20px
		line-height 28px
		padding-bottom 0
.form-title
	font-size 46px
	padding 157px 0 15px 0
.form-control
	font-size 18px
	line-height 18px
	padding-top 25px
// select styles
bm-option
	font-size 18px
	line-height 18px
// feedback form
.feedback
	.form-title
		padding 150px 0 45px 0
	textarea
		height 250px
	.footer-contacts
		padding-top 100px
// call-me form
.call-me
	.details
		font-size 16px
	.footer-contacts
		padding-top 90px
//buttons
.btn
	font-size 18px
	padding-bottom 9px

//breadcrumb
.breadcrumb
	font-size 18px

// contacts
.contacts
.vacancies
	font-size 22px
	line-height 28px
	h1
		padding-bottom 19px
.contacts
	.boxes-wrap
		margin-top 74px
	.box
		margin-bottom 45px
		width 48%
		&:nth-child(2n+1)
			margin-right 40px
		&:nth-child(3)
			.box-title
				font-size 19px
		.box-title
			font-size 21px
			padding 14px 0
		.box-content
			font-size 20px
			line-height 26px
			&.mail
				font-size 18px
				line-height 26px
				.details
					font-size 20px
					line-height 20px
		.details
			font-size 20px
			&.map
			&.phone
				line-height 28px
				font-size 18px
			&.map
				background-size 21px 28px
				padding-left 29px
				margin-top 13px
			&.phone
				background-size 28px 28px
				padding-left 40px
				margin-top 7px
	&+ .ember-view
		.form-wrap
			margin-bottom 148px
			.form-title
				font-size 42px
				padding 27px 0 45px
			textarea
				height 250px
.vacancies
	&.content-inner
		padding-bottom 120px
.cp-Panels
	margin-top 65px
	h3
		font-size 26px
		padding 15px 66px 15px 0
		&:before
		&:after
			width 54px
	.cp-Panel
		margin-bottom 40px
		&.cp-is-open
			margin-bottom 41px
			.cp-Panel-toggle
				&:before
					bottom 19px
					height 34px
	h4
		font-size 20px
		margin-bottom 38px 0 28px
	table
		font-size 18px
		tr
			td
				padding 15px 0 10px
				&:first-child
					width 60%
				& + td
					font-size 20px
	p
		font-size 20px
		line-height 26px
	ul
		font-size 20px
		margin-bottom 60px
		li
			margin-bottom 11px
	.btn-group
		margin-top 40px
	.hide
		font-size 18px
		padding 20px 48px 24px 0
		line-height 18px
		&:before
		&:after
			margin-right 12px

// companies list/grid
.content-inner
	&.companies
		padding 0 85px 0 0
.companies
	.list
		.image
			svg
				width 44%
		.details
			height 26px
		.name
			font-size 26px
		.show-all
			line-height 26px
	.slider
		.item
			padding-top 50px
		.image
			svg
				// max-width 45%
		.details
			padding-top 0
			margin-top 0
		.name
			font-size 62px
			line-height 65px
		.show-all
			font-size 18px
			line-height 24px
			padding-left 11px 5px 11px 46px
			min-width 202px
			margin-top 20px
			&:before
				width 49px
				background-position 0 center
			&:after
				left 45px
			&:hover
				&:before
					background-position -96px center
.nav-right
	width 98px

.mapOfPresence
	.hero
		padding-top 91px
		.link-wrap
			width 1410px
	h1
		font-size 156px
		line-height 156px
		padding 15px 0
	p
		font-size 38px
		line-height 48px
		padding 0 15%
	.chevron-wrap
		width 380px
		span
			padding-top 15px
			font-size 18px
			line-height 20px
	.chevron
		&:before
			bottom 29px
.mapOfPresence
	.image-wrap
		height calc(100vh - 13px - 71px - 116px)
		.link-wrap
			padding-right 114px
			padding-bottom 20px
		.label-wrap
			.label-content
				font-size 20px
				padding 12px 21px
		.info
			bottom 47px
		.name
			font-size 56px
			line-height 56px
			padding-bottom 20px
		.country
			font-size 28px
			line-height 28px
	.description-wrap
		height calc(100vh - 13px - 71px - 116px)
	.nav-right
		top 111px
		bottom calc(71px + 116px - 1px)
		width 99px
		.btn-close
			height 96px
		.arrows
			i
				height 96px
	.description
		padding-top 124px
		height calc(100vh - 13px - 71px - 116px)
		width 816px
		.location
			.image
				margin-right 30px
				img
					max-width 175px
					width 175px
					height 114px
			.left
				padding-top 28px
		.country
			font-size 28px
			line-height 28px
			padding-bottom 7px
		.town
			font-size 22px
			line-height 22px
			span
				font-size 18px
		.name
			font-size 36px
			line-height 42px
			padding 42px 30px 22px 0
		.foundation
			font-size 32px
			line-height 32px
			padding-bottom 40px
			span
				font-size 18px
				padding-bottom 0
		p
			font-size 18px
			line-height 24px
		.clients
			font-size 22px
			line-height 28px
			padding-top 50px
			padding-bottom 0
			span
				font-size 18px
				padding-bottom 8px
		.stats
			padding-top 25px
			h3
				font-size 24px
			ul
				li
					font-size 18px
					line-height 32px
					strong
						font-size 32px
// about
.content-inner
	&.about
		width 1412px
		padding-top 0
.about
	.back_to_main_wrap
	.welcome
		width 1412px
	.mouse-down-wrap
	.company_wrap
		width contentWidth1680
	p
		font-size 22px
		line-height 32px
	h1
		margin-bottom 20px
	h2
		font-size 52px
		line-height 197px
		margin-top 21px
	.back_to_main_wrap
		a
			font-size 18px
			line-height 24px
			padding-left 32px
	.know_more
		font-size 18px
		margin-top 15px
	.welcome-wrap
		padding-top 90px
		padding-bottom 98px
		height calc(100vh - 71px - 13px)
	.welcome
		font-size 42px
		line-height 57px
		padding 51px 0
	.mouse-down-wrap
		span
			font-size 18px
			padding-top 13px
		.mouse-down
			width 46px
			height 74px
			border-radius 46px
			margin-bottom 15px
			&:before
				top 10px
			&:after
				bottom -17px
	.company_wrap
		margin-top 30px
		h1
			padding-bottom 39px
		.know_more
			margin-top 16px
	.affiliates
		width 1050px
		margin 0 auto
		// background-size 575px 764px
		padding-top 288px
		min-height 575px
		&:before
		&:after
			width 573px
			height 762px
		&:after
			background-size 575px 764px
		p
			font-size 42px
			line-height 55px
			margin-bottom 28px
.content-inner
	&.full
		padding-top 37px
		padding 0
		width 100%
.boxes
	.box_inner
		width 550px
	.box
		min-height 517px
		.name
			font-size 38px
			line-height 42px
		p
			font-size 20px
			line-height 28px
	.box_hover
		.name
			// padding 45% 0 0 0
			margin 0

//========================================company single page========================================
.company
	&.content-inner
		padding-top 92px
		padding-bottom 190px
	.breadcrumb
	.company-info
	.we_offer
	.accordion
	.mission
		width contentWidth1680
	p
		font-size 22px
		line-height 32px
	.logo_wrap
		padding-top 172px
		padding-bottom 12px
		img
			max-width 576px
	.company-arrow
		width 54px
		&.prev
			left 30px
			background-position 0 -60px
			&:hover
				background-position -144px -60px
		&.next
			right 30px
			background-position -162px 0
			&:hover
				background-position -19px 0
	.company-info
		margin-top 10px
		h1
			font-size 52px
			padding 40px 0 33px
		p
			font-size 22px
			line-height 32px
	.mission
		margin-top 165px
		h2
			font-size 42px
		p
			font-size 30px
			line-height 38px
	.we_offer
		margin-top 120px
		margin-bottom 68px
		h2
			font-size 52px
			margin-bottom 37px
		p
			font-size 22px
			line-height 28px
	.cp-Panels
		h3
			padding 15px 66px 15px 0
			margin-bottom 30px
		.cp-Panel
			&.cp-is-open
				margin-bottom 34px
	.accordion
		h4
			font-size 42px
			padding-bottom 41px
			&.h4
				font-size 42px
				padding 10px 0 20px
		p
			font-size 20px
			line-height 26px
		ul
			li
				padding-bottom 34px
				margin-bottom 35px
				h5
					font-size 22px
					line-height 28px
				p
					font-size 20px
					line-height 26px
	.form-wrap
		.form-title
			font-size 40px
			padding 142px 0 44px
		textarea
			height 250px
.carousel-wrap
	padding 14px 0
.carousel-inner
	width 1065px
//footer
.footer
	padding 93px 0 45px 0
	.nav
		.item
			font-size 20px
			padding 0 15px
	.copy
		font-size 18px
		padding-top 56px
		padding-bottom 50px
		span
			padding 0 9px
// footer contact info
.footer-contacts
	.address
		font-size 18px
		padding-top 68px
	.contacts
		font-size 20px
		padding-top 22px
// styles for links
.link-wrap
	a
		font-size 18px
// 404
.not-found
	.content-inner
		padding-top 100px
	h1
		font-size 62px
		line-height 62px
		padding-bottom 43px
	p
		font-size 22px
		margin-bottom 20px
// success
.success
	.content-inner
		width 1200px
	p
		font-size 42px
		line-height 57px
	.footer-contacts
		padding-top 100px
		padding-bottom 20px !important
// fix scrolling logo
.company-view
.contact-info-view
.vacancies-view
	.liquid-container
		margin-top -50px
.about-view
	.liquid-container
		margin-top -141px
#instruction
	p
		font-size 22px
		line-height 22px