h1
	font-size 30px
	margin 0
	padding 50px 0 20px
	color #2b2b2b
	font-weight normal
	line-height 1
.content-inner
	padding 103px 15px 0 20px
	margin 0 auto
	width auto
.logoContainer
	width 50%
#logo
	position absolute
	top 0
	left 0
	width 140px
	height 56px
	padding-top 20px
	padding-left 20px
	z-index 20
.connectedParticles
	position fixed
	box-sizing border-box
	width 100%
	height 100%
	padding contentMargin320 contentMargin320 0 0
	z-index 0
	&:before
		content ''
		position absolute
		top 0
		right 0
		width 100%
		height 100%
		background #f3f3f3
		z-index -1

.t
.r
	position fixed
	overflow hidden
	z-index 999
.t
	width 100%
	height 5px
	top 0
	left 0
.r
	width 5px
	height 100%
	top 0
	right 0

.anim
	background #c72d57
	&:after
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 5000px
		z-index -1
		animation gradientFirstType 400s
		animation-iteration-count infinite
		animation-direction alternate
		background-repeat repeat-x
		background-image url('/assets/i/grad.png')
		// with this property animation doesn`t play correct in firefox
		// will-change transform

.wrap
	position relative
	box-sizing border-box
	width 100%
	height 100%
	padding contentMargin320 contentMargin320 0 0
	z-index 1
	overflow hidden

//animated routes container fix
.liquid-container,
.liquid-child
	width 100%
	height 100%
	max-height 100%
.liquid-container
	box-sizing border-box
	padding contentMargin320 contentMargin320 51px 0
	transform translateY(0)
	transition transform 1s ease-in 0s
	&.menuOpened
		transform translateY(100%)
	// z-index 20
	.velocity-animating
		will-change transform
		overflow hidden
.liquid-child
	background rgba(0,0,0,0) //IE10 scroll fix in transparent block with overfolw
	overflow visible
	overflow-scrolling touch
	will-change scroll-position
	// padding-right 10px
	&:first-child
		z-index 1
.content
	position relative
	width 100%
	height 100%
	// margin-right -100px
	// padding-right 100px
	// overflow-y scroll
	// overflow-x hidden
	// -ms-overflow-style none
	// &::-webkit-scrollbar
	//	 display none

.hamburger
	box-sizing border-box
	position fixed
	right 0
	top 0
	width 58px
	height 58px
	margin 0
	padding contentMargin320
	font-size 0
	white-space no-wrap
	cursor pointer
	overflow hidden
	z-index 20
	*
		user-select none
	.label
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		margin auto
		color #fff
		font 12px/58px introBlack
		font-weight normal
		text-transform uppercase
		text-align center
		vertical-align middle
		// transition left 0.2s ease-in-out
		transition padding 0.2s ease-in-out
		padding-left 0
	&:hover
		.label
			// left 100%
			padding-left 150%
		.humburgerLines
			li
				margin 0 0 6px 0
				// transition transform 0.3s cubic-bezier(0.5, 0, 0.25, 1) 0s
				&:first-child
					transition-duration 0.2s
					transition-delay 0.2s
					transition-timing-function linear
				&:nth-child(2)
					transition-duration 0.2s
					transition-delay 0.4s
					transition-timing-function linear
				&:nth-child(3)
					transition-duration 0.2s
					transition-delay 0.6s
					transition-timing-function linear
	&.opened
		.label
			left 100%
		.humburgerLines
			li
				margin 0 0 6px 0
				// transition all 333ms cubic-bezier(0.5, 0, 0, 1)
				transition transform 0.3s cubic-bezier(0.5, 0, 0.25, 1) 0s
				&:first-child
					transition-duration 0.2s
					transition-delay 0.01s
					transition-timing-function ease-in
					transform rotate(45deg) translateY(6px) translateX(6px)
				&:nth-child(2)
					transition-duration 0.2s
					transition-delay 0.01s
					transition-timing-function ease-in
					// opacity 0
					background-color transparent
					// transition-delay 0s
					// background-color 0.2s ease 0.1s
				&:nth-child(3)
					transition-duration 0.2s
					transition-delay 0.01s
					transition-timing-function ease-in
					transform rotate(-45deg) translateY(-6px) translateX(4px)
			&:hover
				li
					&:first-child
						transform rotate(0) translateY(8px) translateX(0)
					&:last-child
						transform rotate(0) translateY(-8px) translateX(0)
.humburgerLines
	position absolute
	display inline-block
	top 0
	left 0
	right 0
	bottom 0
	margin auto
	padding 20px 0 0 12px
	list-style none
	vertical-align middle
	transition all 233ms cubic-bezier(0.5, 0, 0, 1)
	li
		width 35px
		height 2px
		margin 0 0 6px 100%
		// margin 0 0 6px 0
		padding 0
		background #fff
		transform translate3d(0, 0, 0)
		/*transition transform 0.3s cubic-bezier(0.5, 0, 0.25, 1) 0s*/
		/*&:nth-child(2)*/
			/*transition background-color 0.2s ease 0.1s*/

.sphere
	position absolute
	top contentMargin320
	left 0
	width 100%
	height 100%
	text-align center
	overflow hidden
	will-change transform
	transition opacity 0.1s linear 0.5s
	z-index 0
	.scene
		transition padding 0.5s linear 0s
		vertical-align middle
		&.matchVertical
			height 100%
			width auto
		&.matchHorizontal
			height auto
			width 100%
		&.matchVertical
		&.matchHorizontal
			position relative
			z-index 10
	&.inAbout
		transform translateX(100%)
		animation-delay 1s
		animation-name sphereAppear
		animation-duration 1s
		animation-timing-function ease-in-out
		animation-iteration-count 1
		animation-fill-mode forwards
.main-view
	.sphere
		opacity 1
		transition opacity 0s ease-in 0.5s
		// &.showSphere
		// 	transition opacity 0.2s ease-in 0.4s
		// 	opacity 1
		.scene
			padding-left 0 !important
		&.sphereHide
			opacity 0
			transition opacity 0s ease-in 0s
	.liquid-container
		pointer-events none
		&.toFront
			pointer-events visible
.menuOpened
	.sphere
		opacity 0 !important
		transition opacity 0.1s linear 0s
.modalWrap
	display none
	position relative
	width 100%
	height 100%
	min-height 100%
	&:after
		content ''
		display block
		height 51px
#menu
	&.modalWrap
		display block
		position absolute
		top 0
		left 0
		transition transform 1s ease-in 0s
		transform translateY(-150%)
		height auto
		&.open
			transform translateY(0%)

.modalFrame
	box-sizing border-box

#menu
	.nav
		margin 0
		padding 0
	.item
		margin 0
		padding 0
		list-style none
		border-bottom 1px solid #c3c3c3
		&:hover
			color #000
		a
			display block
			padding 18px
			font 20px/20px introRegular
			color #000
			text-decoration none
	.modalFrame
		width 280px
		margin auto
		text-align center
		padding-top 50px

.sphereNav
	box-sizing border-box
	position absolute
	left 0
	bottom 100px
	width 100%
	padding 0
	margin 0
	pointer-events none
	list-style-type none
	a
		font 13px/15px introBlack
		text-transform uppercase
		text-decoration none
		color #000
		pointer-events visible
	span
		display block
	.link
		box-sizing border-box
		width 50%
	.left
	.right
		position relative
		&:before
			content ''
			position absolute
			bottom -7px
			width 24px
			height 7px
	.left
		float left
		padding 0 12px 10px 0
		text-align right
		&:before
			right 12px
			background url(arrowLeft)
		&:after
			content ''
			position absolute
			top -6px
			right 0
			height 60px
			width 1px
			background #797979
	.right
		float right
		padding 0 0 10px 12px
		text-align left
		&:before
			left 12px
			background url(arrowRight)
.plus
	display none
	height 28px
	width 28px
	background #0c0c0c
	overflow hidden
	position relative
	transition all 0.1s ease-in-out
	z-index 1
	&.blue
		background rgba(0, 176, 243, 0.95)
	&.orange
		background rgba(250, 158, 12, 0.95)
	&.gold
		background rgba(182, 153, 96, 0.95)
	&.red
		background rgba(203, 24, 24, 0.95)
	&:before
	&:after
		content ""
		display block
		position absolute
		right 0
		left 0
		width 100%
		height 100%
		transition all 0.2s ease-in-out 0.1s
	&:before
		background url(plusIcon) no-repeat center center
		background-size 11px 11px
		top 0
	&:after
		background url(plusHoverIcon) no-repeat center center
		top -100%
	&:hover
		&:before
			top 100%
		&:after
			top 0
.sphereHoverContainer
	position absolute
	top contentMargin768
	left 50%
	pointer-events none
	a
		position absolute
		pointer-events auto
.sphereCompany
	position absolute
	top 50%
	transform translateY(-50%)
	padding 0 7.5%
	box-sizing border-box
	width 100%
	text-align center
	pointer-events none
	transition opacity 0.1s linear 0.4s
	opacity 1
	a
	span
		color black
		font-family "Intro-regular"
		font-size 30px
		font-weight 400
		line-height 28px
		pointer-events auto
.about-view
	.sphereCompany
		opacity 0
		transition opacity 0.1s linear 0s
.main-view
	.sphereCompany
		transition opacity 0s ease-in 0.5s
		&.sphereHide
			opacity 0
			transition opacity 0s ease-in 0s
.menuOpened
	.sphereCompany
		opacity 0
		transition opacity 0.1s linear 0s
.bottomMenu
	position fixed
	display flex
	flex-direction row
	align-items center
	bottom 0
	left 0
	right 0
	height 50px
	padding 0
	margin 0 contentMargin320 0 0
	text-transform uppercase
	border-top 1px solid #dbdbdb
	background #fff
	z-index 22
	*
		user-select none
	a
		display block
	li
		list-style-type none
		flex 1
		height 50px
		font 16px/20px introBold
		text-align center
		line-height 50px
		border-right 1px solid #dbdbdb
		cursor pointer
		&:last-child
			border-right none
		&:hover
			background #dbdbdb
			i
				opacity 0.8
	i
		&.i
			display inline-block
			vertical-align middle
	.fb
	.tw
	.contacts
		display none
	.contacts
		a
			color #000
			text-decoration none
	.share
		flex 2
		.i
			width 18px
			height 25px
			background-image url(shareIcon)
	.fb
		.i
			width 10px
			height 20px
			background-image url(fbIcon)
	.tw
		.i
			width 23px
			height 18px
			background-image url(twIcon)
	.lang
		flex none
		width 60px
	.mail
		flex none
		width 53px
		position relative
		i
			position relative
			box-sizing border-box
			margin-top 0
			border 2px solid #000
			width 31px
			height 26px
			overflow hidden
			transition background 0.3s ease-out 0s
			&:before
				content ""
				position absolute
				width 19px
				height 19px
				border 2px solid #000
				transform rotate(45deg)
				top -13px
				left 2px

// feedback form, inputs
textarea
	resize none
.form-wrap
	margin 0 auto
	width auto
	padding 0 15px 0 20px
	p
		font-size 16px
		margin-bottom 21px
		text-align center
		line-height 20px
		color #414141
	textarea
		margin 20px 0
		height 180px
.form-title
	margin 0
	line-height 45px
	text-align center
	font-family introRegular
	color #000
	font-size 26px
	padding 70px 0 8px
	font-weight normal
.form-control
	display block
	line-height 16px
	font-size 14px
	border 2px solid #b9b9b9
	padding 19px 20px 10px
	color #414141
	width 100%
	background transparent
	box-sizing border-box
	height 50px
	position relative
	z-index 1
	margin-top -2px
	border-radius 0
	box-shadow none
	outline none
	appearance none
	&:focus
		border-color #ababab
		color #000
		outline none
		z-index 3
		outline none
/* WebKit, Blink, Edge */
::-webkit-input-placeholder
	color #414141
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder
	color #414141
/* Mozilla Firefox 19+ */
::-moz-placeholder
	color #414141
	opacity 1
/* Internet Explorer 10-11 */
:-ms-input-placeholder
	color #414141
	opacity 1

.file-upload
	max-width 100%
.btn-group
	margin 20px 0
	text-align center
// styles for select
bm-select
	&.form-control
		cursor pointer
		z-index 2
		&:focus
			border-color #b9b9b9
		&.is-open
			bm-selected
				&:after
					background #000 url(selectOpen) no-repeat center center
					border-left-color #ababab
bm-selected
	padding 0
	&:after
		position absolute
		display block
		width 47px
		top -2px
		bottom -2px
		width 47px
		border-left 2px solid #b9b9b9
		border-right none
		border-top none
		right -2px
		margin 0
		background url(selectArrow) no-repeat center center
		z-index 3
		transition all 0.3s easy
bm-options
	top 100%
	left -2px
	right -2px
	border-color #b9b9b9
	border-width 2px 2px 0 2px
bm-option
	border-bottom 2px solid #b9b9b9
	line-height 16px
	font-size 14px
	color #414141
	padding 19px 20px 10px
	background #f3f3f3
	cursor pointer
	&:hover
	&:focus
		outline none
		color #000
		background #fff

// feedback-form
.feedback
	.feedback-form
		padding-top 5px
	.btn-group
		margin-top 30px
	.footer-contacts
		padding 45px 15px 0 20px
		.address
			padding-top 0
// сall-me
.call-me
	.footer-contacts
		padding 0 15px 0 20px
		.address
			padding-top 0
	.details
		font-size 14px
		line-height 22px
		text-align left
		color #606060
		padding-top 24px
		margin-bottom 5px
// validation styles
.form-control-wrap
	position relative
	&.file
		display inline-block
	.form-control
		&.error
			border-color #000
			z-index 5
label
	&.error
		position absolute
		top 0
		left 20px
		margin auto
		font-size 12px
		line-height 16px
		color #fff
		background #2a2a2a
		display inline-block
		padding 5px 10px 5px 14px
		transform translateY(-50%)
		z-index 7
		&:before
			content ""
			display block
			position absolute
			left 0
			right 0
			bottom 0
			margin auto
			width 0
			height 0
			border-style solid
			border-width 5px 5px 0 5px
			border-color #2a2a2a transparent transparent transparent
			transform translateY(100%)
.vacancies
	label
		&.error
			top -20px
			left 0
			right 0
			margin auto
//buttons
.btn
	cursor pointer
	display inline-block
	padding 12px 27px
	text-transform uppercase
	text-align center
	line-height 24px
	border 2px solid
	backface-visibility hidden
	position relative
	transform translateZ(0px)
	transition-duration 0.3s
	transition-property color
	font-family introBlack
	font-size 14px
	vertical-align top
	bax-sizing border-box
	&:before
		content ""
		bottom -2px
		left -2px
		position absolute
		right -2px
		top -2px
		transition-duration 0.3s
		transition-property all
		transition-timing-function ease-out
		z-index -1

.btn-default
	background #000
	border-color #000
	color #fff
	&:before
		background #dbdbdb
		transform scaleY(0)
		transform-origin 50% 100% 0
	&:hover
		color #000
	&:hover
	&:focus
	&:active
		&:before
			transform scaleY(1)

.btn-linear
	background transparent
	color #000
	border-color #000
	padding-left 77px
	overflow hidden
	&:before
		background #000
		left 48px
		width 2px
	&:after
		content ""
		position absolute
		display block
		width 48px
		top 0
		bottom 0
		left 0
		background url(btnDefault) no-repeat 0 center
		transition-duration 0.3s
		transition-property background
		transition-timing-function ease-out
	&.btn-back
		&:after
			background url(btnBack) no-repeat 0 center
	&.btn-show
		&:after
			background url(btnShow) no-repeat 0 center
	&:hover
		color #fff
	&:hover
	&:focus
	&:active
		&:before
			width 100%
		&:after
			background-position -96px center

.btn-group
	.btn
		&:first-child
			margin-bottom 10px
.file-upload
	opacity 0
	visibility hidden
	position absolute
	top 0
	left 0
//breadcrumb
.breadcrumb
	list-style none
	text-align right
	padding 0 38px 0 0
	margin 0
	font-size 14px
	line-height 24px
	li
		display inline-block
		&:last-child
			color #737373
		a
			&:hover
				color #737373

// contacts, vacancies
.contacts
.vacancies
	font-size 16px
	color #414141
.vacancies
.company
	.liquid-container
		margin-top 0 !important
.contacts
	.boxes-wrap
		margin-top 39px
	.box
		margin 0 0 32px 0
		.box-content
			color #414141
		.box-title
			font-size 18px
			padding 10px 0
			color #000
			text-transform uppercase
			border-bottom 2px solid #000
			margin-bottom 15px
			font-weight normal
		.box-content
			font-size 16px
			line-height 22px
			&.mail
				font-size 14px
				line-height 22px
				.details
					margin-bottom 7px
		.details
			color #000
			font-size 16px
			line-height 20px
			font-family introBold
			display block
			cursor pointer
			&.map
			&.phone
				font-size 14px
				line-height 24px
			&.map
				background url(mapIcon) no-repeat 1px center / 14px 19px
				padding-left 25px
				margin-top 7px
			&.phone
				background url(phoneIcon) no-repeat 1px center / 19px 19px
				padding-left 30px
				margin-top 9px
	& + .form-wrap
		margin-bottom 51px
		padding-bottom 30px
		.form-title
			font-size 30px
			padding 32px 0 29px
		textarea
			margin-bottom 30px
// vacancies
.vacancies
	.btn-group
		position relative
.cp-Panels
	margin 30px 0
	h3
		cursor pointer
		border-bottom 1px solid #9e9e9e
		position relative
		font-size 20px
		line-height 22px
		padding 10px 60px 10px 0
		box-sizing border-box
		font-weight normal
		color #000
		margin 0 0 10px
		&:before
		&:after
			content ""
			position absolute
			display block
			right 0
			width 26px
		&:before
			background url(accordionIcon) no-repeat center 62px
			background-repeat repeat
			height 52px
			bottom -1px
			border-bottom 2px solid #000
		&:after
			height 2px
			bottom -3px
			border-top 2px solid #000
			transition all 0.5s ease-in-out
		&:hover
			color #414141
			border-color #000
			&:after
				height 52px
	.cp-Panel
		position relative
		margin-bottom 25px
		&.cp-is-open
			margin-bottom 36px
			.cp-Panel-toggle
				&:before
					content ""
					position absolute
					display block
					width 100%
					height 30px
					background rgba(0,0,0,0)
					right 0
					bottom 20px
					z-index 100
			h3
				border-bottom-color #000
				border-bottom-width 2px
				&:before
					background-position center -5px
					transition all 0.5s ease-in-out
					bottom -2px
				&:after
					height 52px
				&:hover
					&:before
						background-position center 62px
					&:after
						height 2px
						bottom -4px
		.cp-Panel-body
			.liquid-container
				padding 0
	h4
		font-family introBold
		text-transform uppercase
		font-weight normal
		font-size 16px
		line-height 1
		color #000
		margin 45px 0 25px 0
	div
		&.pane
			padding 0
	.table-wrap
		padding-bottom 12px
	table
		font-size 14px
		tr
			& + tr
				border-top 1px solid #c7c7c7
			td
				padding 15px 0 5px 0
				&:first-child
					width 36%
				& + td
					color #000
					font-size 16px
	ul
		padding-left 25px
		list-style none
		li
			position relative
			margin-bottom 21px
			&:before
				content ""
				position absolute
				display block
				width 6px
				height 6px
				background #464646
				left -25px
				top 5px
	.hide
		text-transform uppercase
		font-size 13px
		padding 20px 35px 20px 0
		position relative
		line-height 22px
		border-top 2px solid #000
		margin 60px 0 0
		cursor pointer
		text-align right
		color #000
		font-family introBlack
		box-sizing border-box
		overflow hidden
		&:before
		&:after
			content ""
			display block
			position absolute
			width 30px
			height 2px
			right 0
			top 0
			bottom 0
			margin auto
			background #000
			transform rotate(45deg)
			transition all 0.3s ease-out
		&:after
			transform rotate(-45deg)
	// for working close buttom
	.cp-Panel-toggle
		&:hover
			& + .cp-Panel-body
				.hide
					&:before
					&:after
						transform rotate(0deg)

// about
.about-content
	overflow-x hidden
.about
	padding-top 0
	color #414141
	position relative
	h2
		font-size 30px
		line-height 101px
		text-align center
		margin-top 77px
		margin-bottom 0
		border-top 1px solid #D3D3D3
		border-bottom 1px solid #D3D3D3
		font-weight normal
		color #000
	p
		color #252525
		font-size 16px
		line-height 22px
	.link-wrap
		text-align left
	.back_to_main_wrap
		text-align right
		position relative
		padding-bottom 20px
		a
			font-size 13px
			line-height 28px
			font-family introBlack
			text-transform uppercase
			color #000 !important
			padding-left 33px
		.view_span2
			display none
	.know_more
		position relative
		font-size 14px
		line-height 24px
		font-family introBlack
		text-transform uppercase
		display inline-block
		padding-left 34px
		position relative
		color #000
		&:before
			content ''
			position absolute
			display block
			background url(arrow-view) no-repeat center center
			width 24px
			height 100%
			left 0
			top 0
			bottom 0
	.welcome-wrap
		overflow hidden
		box-sizing border-box
		// padding-top 69px
		padding-bottom 0
		padding-left 20px
		padding-right 15px
		display flex
		flex-direction column
		justify-content space-between
		height calc(100vh - 76px - 51px - 5px)
		margin-bottom 95px
	.welcome
		font-size 22px
		line-height 26px
		color #000
		text-align center
		padding 18px 5px
		position relative
		&:before
		&:after
			content ""
			display block
			position absolute
			height 3px
			width 97px
			background #343434
		&:before
			top 0
			left 0
			transform translate3D(-1000%, 0, 0)
			animation moveL 2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s 1 normal forwards running
		&:after
			bottom 0
			right 0
			transform translate3D(1000%, 0, 0)
			animation moveR 2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s 1 normal forwards running
	.mouse-down-wrap
		text-align center
		padding-top 22px
		padding-bottom 30px
		span
			display none
		.mouse-down
			position relative
			width 25px
			height 39px
			border 2px solid #00
			border-radius 25px
			margin-bottom 13px
			box-sizing border-box
			display block
			margin 0 auto
			position relative
			&:before
				content ""
				position absolute
				display block
				background #000
				width 3px
				height 11px
				left 0
				right 0
				top 9px
				margin 0 auto
				border-radius 3px
				animation-name animateScrollIcon
				animation-duration 1s
				animation-iteration-count infinite
				animation-direction alternate
			&:after
				content ""
				position absolute
				display block
				width 100%
				height 8px
				bottom -15px
				box-sizing border-box
				background url(mouseTriangle) no-repeat center center / 16px 8px
	.company_wrap
	.affiliates
		padding-left 20px
		padding-right 15px
	.company_wrap
		h1
			padding 51px 0 30px
		.know_more
			margin-top 8px
	.affiliates
		position relative
		text-align center
		min-height 190px
		margin-top 70px
		padding-top 53px
		position relative
		&:before
		&:after
			content ""
			position absolute
			display block
			margin auto
			right 0
			left 0
			top 0
			width 177px
			height 237px
		&:before
			background-image url("/assets/i/grad.png")
			animation-name gradientSecondType
			animation-duration 600s
			animation-iteration-count infinite
			animation-direction alternate
			z-index 0
		&:after
			background url('/assets/i/mapMarkerMask.png') no-repeat center center / 179px 239px
			z-index 1
		p
		.link-wrap
			position relative
			z-index 2
		p
			font-size 22px
			line-height 26px
			color #000
			display block
			margin-bottom 30px
		.link-wrap
			text-align center
		.view_span2
			display none
// boxes with companies
.content-inner
	&.full
		padding 0
		width 100%
.boxes
	position relative
	.box
		position relative
		border-bottom 1px solid #D3D3D3
		display flex
		align-items center
		min-height 351px
		box-sizing border-box
		padding 10px 0
		&:hover
			.box_hover
				opacity 1
			.box-inner
				opacity 0
		.name
			font-size 26px
			line-height 30px
			position relative
			color #000
			padding-bottom 34px
			margin-bottom 15px
			&:after
				content ""
				position absolute
				display block
				width 55px
				height 2px
				background-color #000
				bottom 0
		p
			color #414141
			font-size 16px
			line-height 24px
			margin 0
	.box_inner
		position relative
		padding 0 15px 0 20px
		transition opacity 0.2s ease-in-out
	.box_hover
		position absolute
		width 100%
		height 100%
		left 0
		top 0
		text-align center
		background #f3f3f3
		transition opacity 0.2s ease-in-out
		overflow hidden
		opacity 0
		display flex
		justify-content center
		align-items flex-end
		&:before
			content ""
			position absolute
			display block
			top 0
			right 0
			width 100%
			height 100%
			opacity 0.7
			z-index 1
			background-image url("/assets/i/grad2.png")
			backgtound-repeat repeat-x
			transform scale(2.5) rotate(45deg)
			animation-name gradientSecondType
			animation-duration 600s
			animation-iteration-count infinite
			animation-direction alternate
		.img
			position absolute
			left 0
			top 0
			height 100%
			width 100%
			align-items center
			justify-conrtent center
			padding 50px 0
			box-sizing border-box
			svg
				width 80%
				height 100%
		.name
			font-size 26px
			line-height 30px
			color #fff
			margin 0
			padding 0 15px 0 20px
			z-index 2
			&:after
				display none
		.know_more
			font-size 13px
			line-height 24px
			color #fff
			z-index 2
			margin-bottom 50px
			&:before
				background-image url(arrow-view-white)
// company single
.company
	position relative
	&.content-inner
		padding-top 103px
	p
		color #252525
	.logo_wrap
		position relative
		text-align center
		padding-top 54px
		img
			max-width 64%
			height auto
	.company-arrow
		width 26px
		height 46px
		position absolute
		border-bottom 2px solid #000
		cursor pointer
		transition background 0.5s ease-in-out
		background url(contactArrowsSmall)
		top 67px
		&:before
			content ""
			position absolute
			display block
			width 100%
			height 0
			bottom -2px
			border-top 2px solid #000
			transition all 0.5s ease-in-out
		&:hover
			&:before
				height  100%
				bottom 0
		&.next
			background-position -112px 0
			right 0
			&:hover
				background-position -20px 0
		&.prev
			background-position 0 -46px
			left 0
			&:hover
				background-position -91px -46px
	.company-info
		h1
			padding 40px 0 20px
			margin 0
			font-weight normal
		p
			font-size 16px
			line-height 22px
			color #252525
	.mission
		position relative
		text-align center
		padding-top 50px
		h2
			position relative
			font-size 26px
			line-height 45px
			color #2b2b2b
			padding 0 0 18px 0
			margin 0 0 20px
			font-weight normal
			&:after
				content ""
				position absolute
				width 55px
				height 2px
				background-color #000
				display block
				left 0
				right 0
				bottom 0
				margin auto
		p
			font-size 20px
			line-height 26px
			color #252525
	.we_offer
		padding-top 53px
		margin-bottom 53px
		h2
			font-size 30px
			line-height 45px
			color #2b2b2b
			margin 0 0 23px 0
			padding 0
			font-weight normal
		p
			font-size 16px
			line-height 20px
			color #414141
	.cp-Panels
		h3
			margin-bottom 21px
		.cp-Panel
			&.cp-is-open
				margin-bottom 22px
	.accordion
		margin-top 0
		p
			font-size 16px
			line-height 22px
			color #414141
		h4
			position relative
			font-size 26px
			line-height 30px
			color #2b2b2b
			text-align center
			padding 29px 0
			margin 0
			font-family introRegular
			text-transform none
		ul
			padding-left 0
			margin 0
			li
				position relative
				padding-left 40px
				padding-right 15px
				padding-bottom 20px
				border-bottom 1px solid #C6C6C6
				margin-bottom 20px
				&:before
					top 0
					bottom auto
					left 0
					width 26px
					height 20px
					background url(types-items-h3) top center no-repeat
				&:last-child
					border-bottom none
				h5
					font-size 16px
					line-height 28px
					color #000
					font-family introBold
					text-transform uppercase
					margin 0 0 7px
					padding 0
					position relative
					font-weight normal
				p
					color #414141
					font-size 16px
					line-height 20px
					margin 0
		.hide
			margin-top  24px
		.btn
			display none
	.form-wrap
		padding 0
// =========================================companies list/grid=========================================


// companies list/grid
.content-inner
	&.companies
		padding 0 51px 0 0
		width auto !important
.companies
	user-select none
	.item
		text-align center
		box-sizing border-box
		.image
			cursor pointer
		.details
			text-align center
			overflow hidden
			position relative
		.name
			cursor pointer
		.show-all
			font-family introBlack
			font-size 13px
			text-transform uppercase
			padding-left 35px
			position relative
			cursor  pointer
			font-weight normal
			display inline-block
			&:before
				content ""
				display block
				position absolute
				width 35px
				height 100%
				background url(btnShow) no-repeat -7px center
				left 0
				top 0
		.name-wrap
		.show-all-wrap
			transition all 0.5s ease-in-out
	.list
		height calc(100vh - 56px)
		overflow-y scroll
		.item
			padding 25px 20px
			box-sizing border-box
			border-bottom 1px solid #c6c6c6
			&:nth-child(odd)
				border-right 1px solid #c6c6c6
		.image
			&:hover
				& + .details
					.show-all-wrap
						padding-top 0
				& + .details
					.name-wrap
						padding-top 26px
			svg
				width 60%
				height auto
		.details
			height 20px
			margin-top 5px
		.name
			font-family introRegular
			line-height 20px
			font-size 16px
			position relative
			padding 0 10px
			display inline-block
		.show-all-wrap
			left 0
			padding-top 20px
			position absolute
			right 0
			top 0
		.show-all
			line-height 20px
	.slider
		height calc(100vh - 56px)
		position relative
		.item
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			opacity 0
			transition 0.3s opacity ease-in-out
			height 100%
			overflow hidden
			&.show
				opacity 1
		.image
			height 65%
			padding 0 5%
			svg
				width auto
				height 100%
				max-width 100%
				overflow visible
			&:hover
				cursor default
		.details
			margin-top 0
		.name
			font-size 26px
			line-height 30px
			padding 0 15px
		.show-all-wrap
			padding-top 8px
.nav-dots
	display none
.nav-right
	width 53px
	border-left 1px solid #d1d1d1
	position absolute
	right 0
	top 0
	bottom 0
	background #fff
	display flex
	align-items center
	justify-content center
	z-index 1
.arrows
	display block
	width 28px
	height 28px
	background url(arrowsUpDown) no-repeat
	transition background 0.5s ease-in-out
	cursor pointer
	margin 0 auto
	&.up
		background-position 0 -52px
		&:hover
			background-position 0 -0
	&.down
		background-position  -52px -52px
		&:hover
			background-position -52px 0
.btn-close
	width 40px
	height 40px
	position relative
	cursor pointer
	margin 30px auto
	span
		display block
		width 40px
		height 2px
		background #000
		position absolute
		transform rotate(45deg)
		top 0
		bottom 0
		margin auto
		transition transform 0.5s ease-in-out
		&:nth-child(2)
			transform rotate(-45deg)
		&:nth-child(3)
		&:nth-child(4)
			display none
	&:hover
		span
			transform rotate(0)
			top 0
			right 0
			bottom  0
			left 0
			margin auto
.btn-grid
	width 34px
	height 34px
	margin 30px auto
	transition transform 0.3s ease-in-out
	cursor pointer
	&:hover
		transform rotate(90deg)
		span
			background #000
	span
		display block
		float left
		width 15px
		height 15px
		margin 1px
		background #3f3f3f

//map
.map-canvas
	width 100%
	height 100%
	background #333333 !important
.rainbowBubble
	width 104px
	height 41px
	padding 0 0 16px
	position relative
	.inn
		box-sizing border-box
		position absolute
		text-transform uppercase
		text-align center
		width 104px
		height 41px
		font-size 22px
		top 0
		left 0
		padding-top 9px
		line-height 1
	.triangle-wrap
		box-sizing border-box
		position absolute
		width 22px
		height 22px
		top 100%
		left 0
		transform rotate(45deg) translate(0, -100%)
		transform-origin 0 0
		overflow hidden
	.triangle
		box-sizing border-box
		position absolute
		width 16px
		height 16px
		transform rotate(-45deg)
		transform-origin 165% 75%
.mapBubbleBackground
	animation mapBubbleAnimation 600s
	animation-iteration-count infinite
	animation-direction alternate
	background-size 500px 1px
	background-image url(mapBg)

@keyframes mapBubbleAnimation {
	from {
		background-position: 0 0
	}
	to {
		background-position: -500px 0
	}
}

//map of presense
.mapOfPresence
	height 100%
	.hero
		box-sizing border-box
		height 100%
		min-height 100% // for mozilla
		padding 70px 0 0 0
	h1
		font 80px/80px introRegular
		padding 13px 0
		margin 0
		text-align center
		letter-spacing 0.1em
	p
		font 18px/22px introRegular
		text-align center
		padding 0 10%
		margin 0
	.chevron-wrap
		span
			display none
	.chevron
		position relative
		width 55px
		height 55px
		margin 30px auto 0
		background #000
		transform rotate(45deg)
		&:after
			content ''
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			width 18px
			height 18px
			margin auto
			border-width 0 2px 2px 0
			border-style solid
			border-color #fff
.pinned
	position fixed
	top 20%
	will-transform opacity
	pointer-events none
	padding-bottom 15px
.spacer
	padding 400px 0 0
.worldMap
	position fixed
	box-sizing border-box
	width 100%
	height 100%
	padding 100px 0 0
	z-index -1
	// overflow hidden
	top 0
	transition transform 0.5s linear 0s
	&:after
		content ''
		display block
		clear both
	.centerToLeft
		position relative
		float right
		right 50%
		height 100%
	.centerToRight
		position relative
		right -50%
	svg
		height 100%
		width auto
		min-height 100% // for mozilla
		transform-orign 0 0 0 // for chrome
.pulse_rays
	animation pulse 2s linear infinite
	opacity 0
.hero
	color #000
.mapOfPresence
	.content-inner
		overflow hidden
		position relative
		&.show-desc
			.image-wrap
				opacity 0
				transition all 0.5s ease-in 0s
			.description-wrap
				margin-right 0
				z-index 10
			.carousel-wrap
				opacity 0
	.link-wrap
		padding 0 15px 0 20px
		text-align right
		a
			padding-left 0
			padding-right 35px
			&:before
			&:after
				background url(linkArrow) no-repeat center center
			&:before
				transform translate3d(-100%, 0, 0)
			&:after
				transform translate3d(0, 0, 0)
				opacity 1
	.image-wrap
		padding-top 70px
		height calc(100vh - 5px - 51px - 108px)
		box-sizing border-box
		transition all 1s ease-in 1s
		.link-wrap
			text-align right
			padding 0
		.label-wrap
			display none
		.info-box
			position relative
			text-align center
			padding 0 15px 20px 20px
			box-sizing border-box
			display none
			&.current
				display block
			svg
				width auto
				height 100%
				max-width 100%
		.info
			position absolute
			margin auto
			top 50%
			left 0
			right 0
			transform translateY(-50%)
		.name
			font-size 24px
			line-height 26px
			text-align center
			text-decoration underline dotted
			padding-bottom 10px
			cursor pointer
		.country-wrap
			text-align center
		.country
			font-size 16px
			line-height 20px
			position relative
			padding 0 10px
			&:before
			&:after
				content ""
				position absolute
				display block
				margin auto
				height 2px
				width 6px
				top 0
				bottom 0
				background #000
			&:before
				left 0
				transform translateX(-100%)
			&:after
				right 0
				transform translateX(100%)
	.description-wrap
		overflow hidden
		position relative
		height calc(100vh - 5px - 51px)
		transition margin 2s linear
		margin-right -100%
		width 100%
		position absolute
		right 0
		top 0
		&:before
			background linear-gradient(to bottom, rgba(243,243,243,0) 0%, rgba(243,243,243,1) 65%, rgba(243,243,243,1) 100%);
			bottom 0
			content ""
			display block
			height 93px
			position absolute
			width 100%
			z-index 1
	.btn-close
		position absolute
		width 53px
		height 53px
		right 0
		top 0
		margin 0
		&:before
		&:after
			content ""
			background #fff
			position absolute
			display block
			bottom 0
			top 0
			left 0
			right 0
			margin auto
			width 40px
			height 2px
			transform rotate(-45deg)
			transition transform 0.5s ease-in-out 0s
		&:before
			transform rotate(45deg)
		&:hover
			&:before
			&:after
				transform rotate(0)
	.nav-right
		display none
		z-index 1
	.description
		height 100%
		overflow-y scroll
		padding 132px 15px 0 20px
		box-sizing border-box
		float right
		z-index 8
		display none
		width 100%
		&.current
			display block
		.location
			text-align center
			color #000000
			.image
				margin-bottom 17px
				border-radius 3px
				overflow hidden
			img
				max-width 100%
				width 125px
				height auto
				display inline-block
				vertical-align top
		.country
			font-size 22px
			line-height 20px
			padding-bottom 9px
		.town
			font-size 18px
			line-height 20px
			span
				font-size 14px
				color #2d2d2d
		.name
			padding 40px 0 21px
			font-size 26px
			line-height 28px
			color #000
		.foundation
			font-size 26px
			line-height 26px
			padding-bottom 30px
			span
				font-size 14px
				color #2d2d2d
				display block
		p
			font-size 16px
			line-height 22px
			color #414141
			padding 0
			text-align left
		.clients
			font-size 18px
			line-height 24px
			padding-top 39px
			span
				display block
				color #2d2d2d
				font-size 14px
				line-height 20px
		.stats
			padding-top 45px
			padding-bottom 30px
			h3
				font-size 20px
				line-height 36px
				color #000
				margin 0
				padding 10px 0
				text-transform uppercase
				text-align center
				font-family introBold
				font-weight normal
			ul
				list-style none
				padding 0
				margin 0
				li
					font-size 14px
					line-height 20px
					color #2d2d2d
					padding 15px 0
					border-top 1px dotted #bebebe
					strong
						display block
						font-size 26px
						line-height 26px
						font-weight normal
						padding-top 5px
.carousel-wrap
	position relative
	border-top 1px solid #dbdbdb
	background #f3f3f3
	padding 10px 0
	z-index 5
.carousel-inner
	.owl-item
		padding 10px 0
		text-align center
		div
			transition transform 0.2s ease-in-out 0s
			cursor pointer
			border-radius 3px overflow hidden
		&:before
				content ""
				position absolute
				display block
				width 80%
				height 2px
				background #bebebe
				left 0
				right 0
				bottom 10px
				border-radius 50%
				box-shadow 0 0 4px rgba(0, 0, 0, 0.6)
				margin 0 auto
				opacity 0
				transition opacity 0.3s ease-in-out 0s
		&:hover
		&.current
			div
				position relative
				transform translateY(-10px)
			&:before
				opacity 1
				transition opacity 0.5s ease-in-out 0.2s
		img
			max-width 100%
			height auto
			width auto
			display inline-block
			vertical-align middle
.carousel-nav
	margin 0
	&.disabled
		opacity 0
	.carousel-prev
	.carousel-next
		position absolute
		top 0
		bottom 0
		height 100%
		border-radius 0
		margin 0
		padding 0
		width 71px
		cursor pointer
		z-index 10
		&:before
			content ""
			display block
			position absolute
			width 12px
			height 22px
			top 0
			bottom 0
			margin auto
	.carousel-prev
		left 0
		background linear-gradient(to right, rgba(243, 243, 243, 1) 0px, rgba(243, 243, 243, 1) 50%, rgba(243, 243, 243, 0) 100%)
		&:before
			background url(navPrev) no-repeat center center / 12px 22px
			left 20px
		&:hover
			background linear-gradient(to right, rgba(243, 243, 243, 1) 0px, rgba(243, 243, 243, 1) 50%, rgba(243, 243, 243, 0) 100%)
	.carousel-next
		right 0
		background linear-gradient(to right, rgba(243, 243, 243, 0) 0px, rgba(243, 243, 243, 1) 50%, rgba(243, 243, 243, 1) 100%)
		&:before
			background url(navNext) no-repeat center center / 12px 22px
			right 20px
		&:hover
			background linear-gradient(to right, rgba(243, 243, 243, 0) 0px, rgba(243, 243, 243, 1) 50%, rgba(243, 243, 243, 1) 100%)

//footer
.footer
	position relative
	background #fff
	border-top 1px solid #dbdbdb
	padding 68px 0 36px 0
	.nav
		margin 0
		padding 0
		.item
			display block
			width 100%
			text-align center
			font-size 18px
			padding 8px 0
			&:first-letter
				text-transform uppercase
			a
				color #000
				position relative
				&:before
					content ""
					display block
					position absolute
					left 0
					right 0
					top -10px
					margin auto
					width 6px
					height 6px
					background transparent
					transition background 0.5s ease-in 0s
				&:hover
					color #414141
					&:before
						background #464646
	.copy
		color #575757
		font-size 14px
		text-align center
		padding-top 53px
		padding-bottom 30px
		span
			padding 0 20px
			display inline-block
			position relative
			max-width 150px
			&:before
			&:after
				content ""
				display block
				position absolute
				width 32px
				height 2px
				background #707070
				top 0
				bottom 0
				margin auto
			&:before
				left -32px
			&:after
				right -32px
// footer contact info
.footer-contacts
	padding-bottom 30px !important
	.address
		margin 0
		font 13px/17px introRegular
		text-align center
		color #454545
		padding-top 35px
	.contacts
		margin 0
		font 14px/20px introRegular
		text-align center
		white-space nowrap
		padding-top 13px
	.tel
		text-decoration none
		color #000
		&:after
			content ''
			display inline-block
			width 1px
			height 31px
			margin 0 1em
			background #a0a0a0
			vertical-align middle
	.mail
		text-decoration none
		color #000
	.tel
	.mail
		&:hover
			color #414141
//social
.social
	h1
		color #000
		font-size 26px
		text-align center
		padding-top 35px
		padding-bottom 17px
	p
		font-size 16px
		color #414141
		text-align center
		padding 0 3px 25px 3px
	.soc-icons
		text-align center
		i
			width 66px
			height 66px
			border 2px solid #c6c6c6
			display inline-block
			&.fc
				background url(fbIconBig)
				background-size 14px 28px
			&.tw
				background url(twIconBig)
				background-size 26px 21px
			&.fc
			&.tw
				background-position center center
				background-repeat no-repeat
			&:hover
				opacity 0.7
		a
			& + a
				i
					border-left-width 0
// styles for links
.link-wrap
	overflow hidden
	a
		display inline-block
		padding-left 35px
		font-size 13px
		line-height 24px
		text-transform uppercase
		font-family introBold
		position relative
		overflow hidden
		transition all 0.3s ease-in-out
		&:before
		&:after
			content ""
			position absolute
			display block
			width 24px
			top 0
			height 100%
			transition all 0.3s ease-in-out
			background url(arrow-view) no-repeat center
		&:before
			left 0
			opacity 1
			transform translate3d(0, 0, 0)
		&:after
			right 0
			transform translate3d(100%, 0, 0)
			opacity 0
// 404
.not-found
	text-align center
	display flex
	align-items center
	.content-inner
		padding-top 40px
	h1
		margin 0
		padding 0 0 40px 0
		font-size 30px
		line-height 30px
	p
		font-size 18px
		line-height 22px
		margin-bottom 7px
		color #010101
	.lion
		position absolute
		top -5px
		right 0
		bottom 0
		left 0
		z-index -1
		overflow hidden
		svg
			height 100%
			width auto
			float right
			// fill-opacity 0.7
			margin-right -57%
			polygon
				transition fill 25s linear
// success
.success
	display flex
	align-items center
	text-align center
	p
		color #000
		font-size 18px
		line-height 22px
		margin-bottom 25px
	.btn
		color #fff
		&:hover
			color #000
	.footer-contacts
		padding-top 15px
// classes for different screns
.xs-screen-inline
	display inline-block
.md-screen-inline
	display none
// fix scrolling logo
.company-view
.contact-info-view
.vacancies-view
.about-view
	background #f3f3f3
	& > .ember-view
		height auto
	.logoContainer
		position relative
		z-index 1
	#logo
		position static
	.liquid-container
		padding-top 0
		height auto
		max-height auto
	.content-inner
		padding-top 33px !important
		&.about
			padding-top 0 !important
	// .modalFrame
	// 	padding-top 0 !important
// for displaying close button
.map-view
	.liquid-container
		position relative
		z-index 21
.social-view
	.hamburger
		.label
			opacity 0
// preloader shapes
.shapes-wrap
	position fixed
	width 245px
	height 218px
	top -40px
	right 0
	bottom 0
	left 0
	margin auto
	z-index 10
	svg
		position relative
		z-index 1
		height 214px
.shapes-bg
	width 159px
	height 160px
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	margin auto
	z-index 0
	background linear-gradient(225deg, #0bc9ba, #e5f953, #00a253, #50aed9, #c82d57, #d6d950)
	background-size 1200% 1200%
	animation preloaderGradient 30s ease infinite
.pace-done
	.shapes-wrap
		opacity 0
		visibility hidden
// main page modal
#instruction
	display flex
	text-align center
	justify-content center
	align-items center
	p
		font-size 16px
		line-height 18px
		padding 20px 50px 15px
		color #2d2d2d
//sphere
.sphere-wrap
	height 100%
.moveX
	position absolute
	height 1px
	top 50%
	right 0
	margin-top -1px
	width 30px
	animation moveX320 5s ease-in-out 0s infinite
.moveY
	background transparent
	position absolute
	animation moveY 5s linear 0s infinite
	width 30px
	height 10px
	top -5px
.elipsoid-wrap
	position absolute
	right 0
	width 10px
	height 10px
.elipsoid
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	margin auto
	background #000
	border-radius 50%
	animation perspective 5s linear 0s infinite
	width 5px
	height 5px
.orbit-wrap
	position relative
	background url(sphere) no-repeat center center
	background-size 78px 56px
	width 88px
	height 56px
	margin 0 auto
.ovfHidden
	overflow hidden
.slideUp
	transform translateY(-100%)
	transition transform 1s ease-in 0s
body
	& > div
		&.menuOpened
			overflow hidden
			height 80vh !important
.map-of-presence-view
	.liquid-child
		transition opacity 0.3s linear 0.3s
.map-of-presence-view
	.menuOpened
		.liquid-child
			opacity 0
			transition opacity 0.3s linear 0s
// -------
.about-view
	.sphere
		canvas
			padding-left 100%