// common styles
h1
	font-size 42px
	margin-bottom 10px
.liquid-container
	padding contentMargin768 contentMargin768 71px 0
.content-inner
	width contentWidth768
	padding 82px 0 0 0
.connectedParticles
	padding contentMargin768 contentMargin768 0 0
	&:before
		right contentMargin768
	&:after
		top -1*contentMargin768
		right contentMargin768
		width 88px
		height 98px
.t
	height 10px
.r
	width 10px
.wrap
	padding contentMargin768 contentMargin768 0 0
.hamburger
	width 98px
	height 98px
	padding contentMargin768
	.label
		font-size 16px
		line-height 98px
.humburgerLines
	padding 40px 0 0 30px
.bottomMenu
	margin 0 contentMargin768 0 0
.sphere
.sphereHoverContainer
	top contentMargin768
// main menu (popup)
#menu
	.item
		a
			font-size 36px
			line-height 36px
			padding 48px 20px
	.modalFrame
		width 575px
		padding-top 99px
.sphereNav
	bottom 200px
	a
		font 17px/24px introBold
	span
		display inline-block
	.left
	.right
		&:before
			bottom auto
			top 9px
	.left
		padding-right 47px
		&:after
			width 0
		&:before
			right 13px
	.right
		padding-left 59px
		&:before
			left 25px
.plus
	height 38px
	width 38px
	&:before
		background-size 15px 15px
.sphereCompany
	top auto
	bottom 165px
	transform none
	a
	span
		font-size 42px
		line-height 40px
.bottomMenu
	height 70px
	li
		height 70px
		line-height 1
		display flex
		align-items center
		justify-content center
	.share
		display none
	.fb
	.tw
		display flex
		flex none
		width 70px
	.contacts
		display flex
		justify-content flex-start
		margin-right auto
		text-align left
		padding-left 54px
		border-right none
	.lang
		width 70px
		border-left 1px solid #dbdbdb
		border-right none
	.mail
		width 88px
		border-left 1px solid #dbdbdb
		border-right none
		&:hover
			i
				background-position 0 0
		i
			border none
			width 59px
			background url(mailIconBig) no-repeat -100px 0
			&:before
				content none

// logo
#logo
	width 241px
	height 95px
	padding-top 40px
	padding-left 30px

// feedback form, inputs
.form-wrap
	width 524px
	padding 0
	p
		font-size 18px
		line-height 20px
		margin-bottom 36px
	textarea
		margin 30px 0
.form-title
	font-size 42px
	padding  88px 0 20px 0
.form-control
	font-size 16px
	padding 28px 22px 11px
	height 60px
// select styles
bm-select
	&.form-control
		&.is-open
			bm-selected
				&:before
					right 19px
bm-selected
	&:after
		width 56px
bm-option
	font-size 16px
	padding 28px 22px 11px
// feedback-form
.feedback
	.form-title
		padding 151px 0 25px 0
	.feedback-form
		padding-top 20px
	.btn-group
		.btn
			&:first-child
				margin-right 10px
	.footer-contacts
		padding-top 85px
// сall-me
.call-me
	.footer-contacts
		padding-top 20px
	.details
		font-size 16px
		padding-top 25px
		margin-bottom 11px

//buttons
.btn
	font-size 17px

//breadcrumb
.breadcrumb
	font-size 16px
	padding-right 0

// contacts
.contacts
.vacancies
	font-size 22px
	line-height 26px
	h1
		padding 145px 0 20px
.contacts
	.boxes-wrap
		margin-top 53px
	.box
		margin-bottom 45px
		.box-title
			font-size 21px
			padding 15px 0
		.box-content
			font-size 20px
			line-height 26px
			&.mail
				font-size 18px
				line-height 22px
				.details
					font-size 20px
					line-height 22px
					margin-bottom 10px
		.details
			font-size 20px
			&.map
			&.phone
				line-height 28px
			&.map
				background-size 20px 27px
				padding-left 29px
				font-size 18px
				margin-top 12px
			&.phone
				background-size 28px 28px
				padding-left 37px
				margin-top 13px
				font-size 16px

	& + .form-wrap
		margin-bottom 124px
		.form-title
			font-size 32px
			padding 51px 0 40px
// vacancies
.cp-Panels
	margin-top 48px
	h3
		font-size 26px
		line-height 28px
		padding 15px 70px 15px 0
		margin-bottom 25px
		&:before
		&:after
			width 53px
	.cp-Panel
		margin-bottom 5px
		&.cp-is-open
			margin-bottom 30px
			.cp-Panel-toggle
				&:before
					bottom 20px
					height 30px
	h4
		font-size 20px
		margin-bottom 30px
	.table-wrap
		padding-bottom 15px
	table
		font-size 18px
		tr
			td
				padding 15px 0 7px
				&:first-child
					width 54%
				& + td
					font-size 20px
	ul
		font-size 20px
		li
			margin-bottom 15px
			&:before
				top 10px
	.hide
		font-size 17px
		padding-right 47px
		&:before
		&:after
			margin-right 11px
// about
.content-inner
	&.about
		padding-top 0
		width 100% !important
.about
	.back_to_main_wrap
	.welcome
	.mouse-down-wrap
	.company_wrap
		width contentWidth768
		margin 0 auto
		box-sizing border-box
		padding-right 0
		padding-left 0
	h2
		font-size 42px
		line-height 170px
		margin-top 118px
	p
		font-size 22px
		line-height 30px
	.back_to_main_wrap
		.view_span1
			display none
		.view_span2
			display inherit
		&:before
			display none
		a
			font-size 17px
			line-height 24px
			&:hover
				padding-left 0
	.know_more
		font-size 17px
	.welcome-wrap
		// padding-top 80px
		padding-bottom 87px
		padding-right 0
		padding-left 0
		height calc(100vh - 135px - 71px - 10px)
		margin-bottom 258px
	.welcome
		font-size 32px
		line-height 42px
		padding 45px 0px 43px
		&:before
		&:after
			height 4px
			width 117px
	.mouse-down-wrap
		padding-bottom 0
		span
			display block
			color #000
			font-size 18px
			line-height 18px
			padding-top 13px
		.mouse-down
			width 39px
			height 62px
			border-radius 39px
			margin-bottom 14px
			&:before
				top 6px
				height 14px
			&:after
				background-size 18px 9px
				height 9px
	.company_wrap
		h1
			padding 23px 0 18px
		.know_more
			margin-top 11px
	.affiliates
		width contentWidth768 + 60*2
		margin 85px auto 0
		min-height 335px
		padding-top 145px
		padding-right 0
		padding-left 0
		&:before
		&:after
			width 333px
			height 443px
		&:after
			background-size 335px 445px
		.link-wrap
			margin-top 30px
		p
			font-size 32px
			line-height 42px
			margin-bottom 15px
		.view_span1
			display none
		.view_span2
			display block
.content-inner
	&.full
		padding 0
		width 100%
.boxes
	.box
		min-height 441px
		.name
			font-size 36px
			line-height 30px
			margin-bottom 13px
			padding-bottom 39px
			&:after
				width 65px
				height 3px
		p
			font-size 20px
			line-height 26px
	.box_hover
		.name
			padding 0
.box_inner
	position relative
	padding 0
	width 524px
	margin 0 auto

//company single page
.company
	&.content-inner
		padding-top 82px
		width 100% !important
	.breadcrumb
	.company-info
	.we_offer
	.accordion
		width contentWidth768
		margin 0 auto
	.mission
		width 655px
		margin 0 auto
	p
		font-size 22px
		line-height 30px
	.logo_wrap
		padding-top 171px
		padding-bottom 35px
		img
			max-width 334px
	.company-arrow
		width 54px
		height 60px
		border-bottom-width 3px
		background url(contactArrowsBig)
		top 211px
		&:before
			bottom -3px
			border-top-width 3px
		&.prev
			background-position 0 -60px
			left 30px
			&:hover
				background-position -144px -60px
		&.next
			background-position -162px 0
			right 30px
			&:hover
				background-position -19px 0
	.company-info
		margin-top 50px
		h1
			padding 40px 0 30px 0
		p
			font-size 22px
			line-height 30px
	.mission
		margin-top 120px
		padding 0
		h2
			font-size 32px
			margin 0 0 54px 0
			padding 0 0 31px
			&:after
				margin-top 29px
				width 75px
				height 3px
		p
			font-size 28px
			line-height 36px
	.we_offer
		position relative
		margin-top 121px
		margin-bottom 53px
		padding 0
		h2
			font-size 42px
			margin-bottom 36px
		p
			font-size 22px
			line-height 26px
	.cp-Panels
		h3
			padding 22px 66px 25px 0
			margin-bottom 24px
		.cp-Panel
			&.cp-is-open
				margin-bottom 13px
	.accordion
		p
			font-size 20px
			line-height 26px
			color #414141
		h4
			font-size 32px
			line-height 45px
			margin-bottom 0
			padding 43px 0
			&.h4
				font-size 42px
				padding 8px 0
		ul
			li
				padding-bottom 24px
				margin-bottom 26px
				h5
					font-size 22px
					line-height 28px
				p
					font-size 20px
					line-height 26px
		.hide
			margin-top 42px
		.btn
			display inline-block
	.form-title
		font-size 32px
		padding 152px 0 40px

// companies list/grid
.content-inner
	&.companies
		padding 0 80px 0 0
.companies
	.list
		height calc(100vh - 71px - 10px)
		.item
			padding 41px 15px 50px 15px
		.image
			svg
				width 50%
			&:hover
				& + .details
					.name-wrap
						padding-top 37px
		.details
			height 37px
			margin-top 20px
		.name
			font-size 30px
			line-height 37px
			&:after
			&:before
				content ""
				position absolute
				top 0
				bottom 0
				margin auto
				display block
				width 35px
				height 1px
				background #a6a6a6
			&:after
				left -35px
			&:before
				right -35px
		.show-all-wrap
			padding-top 37px
		.show-all
			line-height 37px
	.slider
		height calc(100vh - 71px - 10px)
		.item
			padding 153px 0 30px
		.image
			height 60%
		.name
			font-size 48px
			line-height 65px
		.show-all
			font-size 17px
			line-height 24px
			margin-top 10px
			padding-left 30px
			border 2px solid #000
			min-width 196px
			position relative
			padding 12px 5px 12px 52px
			box-sizing border-box
			overflow hidden
			transition all 0.5s linear
			margin-top 11px
			z-index 1
			&:before
				width 50px
				background-position -96px center
				transition all 0.3s ease-in-out
			&:after
				content ""
				position absolute
				display block
				top 0
				bottom 0
				left 50px
				width 2px
				background #000
				z-index -1
				transition all 0.5s ease-in-out
			&:hover
				color #fff
				&:after
					width 100%
				&:before
					background-position 0 center
		& + .nav-dots
			display block
.nav-dots
	position fixed
	left 30px
	top 50%
	transform translate(0,-50%)
	.dot-wrap
		position relative
		& + .dot-wrap
			margin-top 33px
		&.current
			background #3f3f3f
			transition all 0.5s ease-in-out
	.dot
		box-sizing border-box
		width 12px
		height 12px
		background transparent
		cursor pointer
		transition all 0.5s easy-in-out
		z-index 999
		position relative
		&:before
			content ""
			display block
			position absolute
			width 8px
			height 8px
			border 2px solid #3f3f3f
			top 0
			right 0
			bottom 0
			left 0
			margin auto
			box-sizing border-box
			transition all 0.5s linear
		&:hover
			&:before
				background #3f3f3f
	.text
		// opacity 0
		// visibility hidden
		position absolute
		font-size 10px
		color #414141
		top 0
		left 20px
		line-height 12px
		font-family introBold
		// transition opacity 0.3s easy-in
		width 200px
	.dot-wrap
		// &:hover
		// 	.text
		// 		opacity 1
		// 		visibility visible
		&.current
			.text
				// opacity 1 !important
				// visibility visible !important
				&:hover
					visibility hidden !important
				span
					visibility visible !important
.nav-right
	right 0
	width 88px

//map of presense
.mapOfPresence
	.hero
		padding-top 80px
		.link-wrap
			padding 0
			margin 0 auto
			width contentWidth768
			a
				&:hover
					padding-left 35px
					padding-right 0
					&:before
						// opacity 1
						transform translate3d(0, 0, 0)
					&:after
						transform translate3d(100%, 0, 0)
						// opacity 0
	h1
		font-size 152px
		line-height 152px
		padding 13px 0
	p
		font-size 38px
		line-height 48px
	.chevron
		width 76px
		height 76px
		margin 130px auto 0
.pinned
	top 50%
	transform translateY(-50%)
.mapOfPresence
	.content-inner
		&.show-desc
			.carousel-wrap
				opacity 1
	.image-wrap
		padding-top 80px
		height calc(100vh - 10px - 71px - 128px)
		.link-wrap
			padding-right 93px
			padding-bottom 30px
		.info-box
			height 100%
			padding 0 30px 150px
		.info
			top auto
			transform translateX(0)
			bottom 50px
		.name
			font-size 50px
			line-height 50px
			padding 0 30px 25px
		.country
			font-size 30px
			line-height 30px
	.description-wrap
		height calc(100vh - 10px - 71px - 128px)
		&:before
			height 87px
	.btn-close
		width 88px
		height 88px
		right 0
		top 0
	.nav-right
		width 87px
		background #f3f3f3
		border 1px solid #d3d3d3
		right 10px
		top 98px
		bottom 70px
		position fixed
		// display block
	.description
		text-align left
		padding 205px 118px 0 0
		width 643px
		float right
		.location
			text-align left
			.image
				float left
				margin-right 39px
				margin-bottom 0
				img
					max-width 240px
					width 240px
					height 156px
			.left
				float left
				padding-top 34px
		.country
			font-size 28px
			padding-bottom 14px
		.town
			font-size 22px
			span
				font-size 18px
		.name
			font-size 36px
			line-height 42px
			padding 42px 20px 15px 0
		.foundation
			font-size 32px
			padding-bottom 33px
			span
				font-size 18px
				padding-bottom 5px
		p
			font-size 18px
			line-height 24px
		.clients
			font-size 22px
			line-height 26px
			span
				font-size 18px
		.stats
			h3
				font-size 24px
				line-height 26px
				padding 20px 0
			ul
				li
					font-size 20px
					line-height 32px
					strong
						font-size 32px
.carousel-wrap
	padding 20px 0
.carousel-inner
	width 520px
	margin 0 auto
	.owl-item
		padding 10px 0
.carousel-nav
	.carousel-prev
	.carousel-next
		width
		&:before
			background-size 17px 32px
			width 17px
			height 32px
	.carousel-prev
		&:before
			left 45px
	.carousel-next
		&:before
			right 45px
//footer
.footer
	text-align center
	padding 97px 0 46px
	.nav
		display inline-block
		.item
			font-size 16px
			float left
			padding 0 13px
			width auto
			box-sizing border-box
	.copy
		clear both
		padding-top 54px
		span
			max-width 100%
// footer contact info
.footer-contacts
	.address
		font-size 16px
		padding-top 56px
	.contacts
		font-size 18px
// styles for links
.link-wrap
	a
		font-size 17px
		&:hover
			padding-left 0
			padding-right 35px
			&:before
				transform translate3d(-100%, 0, 0)
			&:after
				transform translate3d(0, 0, 0)
				opacity 1
// 404
.not-found
	.content-inner
		padding-top 67px
	h1
		font-size 52px
		line-height 52px
		padding-bottom 47px
	p
		font-size 22px
		line-height 24px
		margin-bottom 15px
	.lion
		svg
			margin-right -30%
// success
.success
	.content-inner
		width 721px
	p
		font-size 32px
		line-height 36px
		margin-bottom 45px
	.footer-contacts
		padding-top 200px
// classes for different screns
.xs-screen-inline
	display none
.md-screen-inline
	display inline-block
// fix scrolling logo
.company-view
.contact-info-view
.vacancies-view
	.liquid-container
		margin-top -43px
	.content-inner
		padding-top 0 !important
// for displaying close button
.call-me-view
.feedback-view
	height auto
#instruction
	p
		font-size 22px
		line-height 22px
// sphere
.orbit-wrap
	background-size 148px 106px
	width 164px
	height 106px
.moveX
	width 57px
	animation moveX768 5s ease-in-out 0s infinite
.moveY
	width 57px
	height 16px
	top -8px
.elipsoid-wrap
	width 16px
	height 16px
.elipsoid
	width 8px
	height 8px