::-webkit-scrollbar
	display none
body
	& > .ember-view
		height 100%
		min-height 100%
// common styles
h1
	font-size 40px
.liquid-container
	padding contentMargin960 contentMargin960 51px 0
.content-inner
	width contentWidth960
	padding-top 69px
.connectedParticles
	padding contentMargin960 contentMargin960 0 0
	&:before
		right contentMargin960
	&:after
		top -1*contentMargin960
		right contentMargin960
		width 68px
		height 78px
.t
	height 10px
.r
	width 10px
.wrap
	padding contentMargin960 contentMargin960 0 0
.hamburger
	width 78px
	height 78px
	padding contentMargin960
	.label
		font-size 12px
		line-height 78px
.humburgerLines
	padding 30px 0 0 20px
.sphereCompany
	bottom auto
	top 50%
	transform translateY(-15%)
	a
	span
		font-size 30px
.bottomMenu
	margin 0 contentMargin960 0 0
.sphere
.sphereHoverContainer
	top contentMargin960
// main menu (popup)
#menu
	.item
		a
			font-size 26px
			line-height 26px
			padding 37px 20px 36px
	.modalFrame
		padding-top 49px
.sphereNav
	bottom auto
	top 50%
	transform translateY(-50%)
	a
		font 13px/15px introBlack
	.link
		width auto
		padding-bottom 0
	.left
	.right
		overflow hidden
		transition all 0.5s ease
		&:before
		&:after
			top 0
			bottom 0
			margin auto
		&:before
			transition all 0.5s ease
			opacity 1
		&:after
			width 24px
			height 7px
			opacity 0
			transition all 0.5s ease
	.left
		text-align left
		margin-left 39px
		padding-right 33px
		&:after
			left -35px
			right auto
			background url(arrowLeft)
		&:before
			right 0
		&:hover
			padding-left 30px
			padding-right 0
			&:before
				right -35px
				opacity 0
			&:after
				left 0
				opacity 1
	.right
		text-align right
		margin-right 39px
		padding-left 33px
		&:after
			content ""
			display inline-block
			position absolute
			right -35px
			background url(arrowRight)
			// transform rotate(-180deg)
		&:before
			left 0
		&:hover
			padding-right 33px
			padding-left 0
			&:before
				left -24px
				opacity 0
			&:after
				right 0
				opacity 1
.plus
	height 33px
	width 33px
	&:before
		background-size 11px 11px
.bottomMenu
	height 50px
	li
		height 50px
		// line-height 50px
		font-size 12px
	.fb
	.tw
		width 50px
		i
			background-repeat no-repeat
			background-position center center
	.fb
		i
			background-size 7px 14px
	.tw
		i
			background-size 18px 14px
	.contacts
		padding-left 39px
		flex none
		width 107px
		border-right 1px solid #dbdbdb
	.lang
		width 50px
	.mail
		width 67px
		/*&:before
			background-position 8px 25px
		&:hover
			&:before
				background-position -128px 25px*/
		i
			width 54px
			height 21px
			background url(mailIconSmall) no-repeat -90px 0
			/*&:before
				left 0
				width 17px
				height 17px*/

//logo
#logo
	width 198px
	height 78px
	padding-left 40px
//  forms, inputs
.form-wrap
	width 575px
	p
		font-size 16px
		line-height 28px
		margin-bottom 33px
	textarea
		margin 20px 0
		height 160px
	.form-control-wrap
		&:nth-child(even)
			margin-left -2px
.form-title
	font-size 30px
	padding 55px 0 10px 0
.form-group
	clear both
	// padding-top 2px
	&:before
	&:after
		content " "
		display table
		clear both
.form-control
	font-size 14px
	padding 19px 19px 10px
	margin-top 0
	height 50px
// input
// bm-select
// 	&.form-control
.form-group
	.form-control-wrap
			width 50%
			float left
			margin-top -2px
// select styles
bm-selected
	&:after
		width 48px
bm-select
	margin-left -2px
bm-option
	font-size 14px
	padding 19px 19px 10px
//feedback forms
.feedback
	.form-title
		padding 110px 0 18px 0
	.feedback-form
		padding-top 0
	.footer-contacts
			padding-top 35px
// .call-me
.call-me
	.form-group
		&:nth-child(2)
			position relative
			padding-top 44px
	select
		margin-left -2px
	.details
		position absolute
		top -10px
		right 0
		width 50%
		font-size 14px
		line-height 22px
	.footer-contacts
		padding-top 10px
//buttons
.btn
	font-size 13px
	padding-bottom 8px
	padding-top 8px
.btn-linear
	padding-left 68px
	&:before
		left 40px
	&:after
		width 40px
		background-position -5px center
	&:hover
		&:after
			background-position -99px center
	&.btn-back
	&.btn-show
		&:after
			background-position -4px center
		&:hover
			&:after
				background-position -100px center


// breadcrumbs
.breadcrumb
	font-size 14px

// contacts
.contacts
.vacancies
	font-size 18px
	line-height 24px
	h1
		padding 160px 0 24px
.contacts
	.boxes-wrap
		margin-top 75px
	.box
		width 45%
		display inline-block
		vertical-align top
		margin-bottom 24px
		&:nth-child(odd)
			margin-right 28px
		.box-title
			font-size 16px
			padding 13px 0
		.box-content
			font-size 16px
			line-height 20px
			&.mail
				font-size 14px
				line-height 22px
				.details
					font-size 16px
					line-height 20px
		.details
			font-size 16px
			&.map
			&.phone
				line-height 24px
				font-size 14px
			&.map
				background-size 14px 19px
				padding-left 23px
			&.phone
				background-size 19px 19px
				padding-left 28px
				margin-top 11px
	& + .form-wrap
		margin-bottom 130px
		.form-title
			font-size 30px
			padding 49px 0 28px
		textarea
			margin-bottom 20px
.cp-Panels
	h3
		font-size 22px
		margin-bottom 13px
		&:before
		&:after
			width 45px
		&:before
			background-image url(accordionIconSmall)
	.cp-Panel
		&.cp-is-open
			margin-bottom 22px
			.cp-Panel-toggle
				&:before
					bottom 13px
					height 30px
	h4
		font-size 16px
		margin-bottom 33px
	.table-wrap
		padding-bottom 0
	table
		font-size 14px
		tr
			td
				padding 9px 0 7px
				&:first-child
					width 65%
				& + td
					font-size 16px
	ul
		font-size 16px
		li
			margin-bottom 12px
	.hide
		font-size 13px
		padding 13px 41px 13px 0
		&:before
		&:after
			width 22px
			margin-right 11px
	.btn-group
		text-align left


// companies list/grid
.content-inner
	&.companies
		padding 0 62px 0 0
.companies
	.list
		height calc(100vh - 51px - 10px)
		.item
			width 50%
			float left
			padding 40px 15px 27px 15px
		.details
			margin-top 15px
		.name
			font-size 18px
			line-height 20px
	.slider
		height calc(100vh - 51px - 10px)
		.item
			padding-top 50px
		.image
			height 70%
			svg
				// max-width 50%
		.name
			font-size 50px
			line-height 65px
		.details
			margin-top 13px
		.show-all-wrap
			padding-top 0
		.show-all
			font-size 13px
			line-height 24px
			padding 9px 5px 9px 46px
			min-width 172px
			border 2px solid #000
			position relative
			overflow hidden
			transition-duration 0.3s
			transition-property all
			transition-timing-function ease-out
			&:before
				width 40px
				background-position -4px center
			&:after
				content ""
				position absolute
				display block
				left 40px
				top 0
				width 2px
				height 100%
				background #000
			&:hover
				&:before
					background-position -100px center
				&:after
					width 100%
.nav-right
	width 68px

//map of presense
.mapOfPresence
	.hero
		.link-wrap
			width 728px
	h1
		font-size 120px
		line-height 120px
		padding 20px 0
	p
		font-size 26px
		line-height 36px
	.chevron-wrap
		width 280px
		margin 0 auto
		text-align center
		position relative
		margin-top 100px
		span
			display inline-block
			font-size 14px
			line-height 16px
			padding-top 10px
		&:after
			content ''
			position absolute
			top 16px
			bottom auto
			left 0
			right 0
			width 7px
			height 7px
			margin auto
			border-width 0 2px 2px 0
			border-style solid
			border-color rgba(255,255,255, 0.3)
			transform rotate(45deg)
			animation shevronLines 1s linear 1s infinite
			transition opacity 1s linear
	.chevron
		background rgba(0,0,0,0.85)
		border-radius 17px
		transform rotate(0deg)
		width 34px
		height 54px
		&:after
		&:before
			transform rotate(45deg)
			width 7px
			height 7px
			transition opacity 1s linear
		&:before
			content ''
			position absolute
			top auto
			bottom 23px
			left 0
			right 0
			margin auto
			border-width 0 2px 2px 0
			border-style solid
			border-color rgba(255,255,255, 0.6)
			animation shevronLines 1s linear 2s infinite
		&:after
			top auto
			bottom 17px
			animation shevronLines 1s linear 3s infinite
.worldMap
	.centerToLeft
		right auto
		float none
	.centerToRight
		right auto
	svg
		width 100%
.mapOfPresence
	.content-inner
		&.show-desc
			.image-wrap
				transition all 1s linear 0s
				opacity 1
				padding-right 40%
			.link-wrap
			.info
				opacity 0
			.btn-close
				display none
			.nav-right
				display flex
				.btn-close
					display block
			.label-wrap
				display inline-block
	.image-wrap
		height calc(100vh - 10px - 51px - 99px)
		padding-top 69px
		padding-right 0
		transition all 1s linear 0s
		.link-wrap
			padding-right 95px
		.label-wrap
			position relative
			position absolute
			top 50%
			left 50%
			.label-content
				font-size 16px
				line-height 20px
				color #fff
				background #343434
				padding 9px 21px
				display inline-block
				font-family introBold
			.label-triangle
				height 13px
				width 13px
				overflow hidden
				position relative
				&:before
					content ""
					width 18px
					height 18px
					position absolute
					display block
					background #000
					transform translate(50%, -50%) rotate(-45deg)
					top 0
					right 0
		.info-box
			padding 0 20px 85px
		.info
			bottom 45px
		.name
			font-size 40px
			line-height 40px
			padding-bottom 10px
		.country
			font-size 24px
			line-height 24px
	.description-wrap
		height calc(100vh - 10px - 51px - 99px)
		background transparent
		transition margin 1s linear 0s
		&:before
			right 0
			width 465px
	.btn-close
		display none
	.nav-right
		top 78px
		bottom calc(51px + 99px - 1px)
		width 66px
		flex-direction column
		.btn-close
			position relative
			width 100%
			background transparent
			height 67px
			box-sizing border-box
			border-bottom 1px solid #d3d3d3
			top 0
			right 0
			&:before
			&:after
				content ""
				background #000 none repeat scroll 0 0
				bottom 0
				display block
				height 2px
				margin auto
				position absolute
				top 0
				left 0
				right 0
				transform rotate(45deg)
				transition transform 0.5s ease-in-out 0s
				width 30px
			&:after
				transform rotate(-45deg)
			&:hover
				&:before
				&:after
					transform rotate(0)
		.scroll-wrap
			flex 1 1 0
		.arrows
			background none
			width 100%
			height auto
			border-top 1px solid #d3d3d3
			i
				height 67px
				box-sizing border-box
				display block
				background url(mapOfPresenceArrow) no-repeat center center / 16px 8px
				&.up
					transform rotate(180deg)
				&.down
					border-top 1px solid #d3d3d3
	.description
		padding-top 94px
		height calc(100vh - 10px - 51px - 99px)
		width 465px
		transition margin 1 s linear
		.location
			.image
				margin-right 29px
				img
					max-width 123px
					width 123px
					height 80px
			.left
				padding-top 14px
		.country
			font-size 22px
			line-height 22px
			padding-bottom 7px
		.town
			font-size 16px
			span
				font-size 14px
		.name
			font-size 30px
			line-height 36px
			padding 43px 20px 17px 0
		.foundation
			font-size 26px
			line-height 20px
			padding-bottom 36px
			span
				font-size 14px
				padding-bottom 8px
		p
			font-size 14px
			line-height 20px
		.clients
			font-size 18px
			line-height 24px
			span
				font-size 14px
		.stats
			h3
				font-size 20px
				line-height 36px
			ul
				li
					font-size 16px
				strong
					font-size 28px
// about
.content-inner
	&.about
		width 730px
		padding-top 0
.about
	.back_to_main_wrap
	.welcome
		width 728px
	.mouse-down-wrap
	.company_wrap
		width contentWidth960
	.affiliates
		width 585px
	h2
		font-size 40px
		line-height 168px
		margin-top 37px
	p
		font-size 18px
		line-height 28px
	.back_to_main_wrap
		a
			font-size 13px
	.know_more
		font-size 13px
		margin-top 7px
		transition all 0.3s ease-in-out
		overflow hidden
		&:before
		&:after
			transition all 0.3s ease-in-out
		&:before
			transform translateX(0)
		&:after
			content ''
			position absolute
			display block
			background url(arrow-view) no-repeat center center
			width 24px
			height 100%
			right 0
			top 0
			bottom 0
			transform translateX(100%)
		&:hover
			padding-left 0
			padding-right 34px
			&:before
				transform translateX(-100%)
			&:after
				transform translateX(0)
	.welcome-wrap
		padding-top 67px
		padding-bottom 71px
		height calc(100vh - 51px - 10px)
		margin-bottom 203px
	.welcome
		font-size 30px
		line-height 40px
	.mouse-down-wrap
		span
			font-size 14px
			padding-top 11px
		.mouse-down
			width 33px
			height 54px
			border-radius 33px
			margin-bottom 13px
			&:before
				height 11px
			&:after
				height 8px
				background-size 16px 8px
	.company_wrap
		width 575px
		position relative
		margin 0 auto
		h1
			padding 33px 0 21px
		.know_more
			margin-top 5px
	.affiliates
		margin 75px auto 0
		padding-top 118px
		min-height 325px
		// background-size 275px 364px
		&:before
		&:after
			width 273px
			height 362px
		&:after
			background-size 275px 364px
		p
			font-size 30px
			line-height 40px
			margin-bottom 27px
		.link-wrap
			margin-top 0

// boxes with companies
.content-inner
	&.full
		padding 0
		width 100%
.boxes
	.box_inner
		width 280px
		margin 0 auto
		padding 0
	.box
		width 50%
		float left
		border-left 1px solid #d3d3d3
		border-bottom 1px solid #d3d3d3
		box-sizing border-box
		min-height 466px
		.name
			font-size 26px
			margin-bottom 15px
			// padding-bottom 35px
			&:after
				width 55px
				height 2px
		p
			font-size 16px
			line-height 24px
	.box_hover
		.name
			// padding 65% 0 0 0
			margin 0
		.know_more
			margin-bottom 38px
			&:after
				background url(arrow-view-white) no-repeat center center

//========================================company single page========================================
.company
	&.content-inner
		padding-top 69px
	.breadcrumb
	.company-info
	.we_offer
	.accordion
		width contentWidth960
	.mission
		width 785px
	p
		font-size 18px
		line-height 28px
	.logo_wrap
		padding-top 165px
		padding-bottom 30px
		img
			max-width 424px
			height auto
	.company-arrow
		width 46px
		height 46px
		border-bottom-width 2px
		background url(contactArrowsSmall)
		top 192px
		&:before
			bottom: -2px
			border-top-width 2px
		&.prev
			background-position 0 -46px
			left 40px
			&:hover
				background-position -91px -46px
		&.next
			right 40px
			background-position -92px 0
			&:hover
				background-position 0 0
	.company-info
		margin-top 40px
		p
			font-size 18px
			line-height 28px
	.mission
		padding 0
		margin-top 100px
		h2
			font-size 30px
			margin 0 0 51px
			padding 0 0 29px
			&:after
				width 55px
				height 2px
		p
			font-size 26px
			line-height 36px
	.we_offer
		margin-top 103px
		margin-bottom 50px
		h2
			margin 0 0 30px 0
			font-size 40px
		p
			font-size 18px
			line-height 24px
	.cp-Panels
		h3
			padding 13px 66px 13px 0
			margin-bottom 21px
		.cp-Panel
			&.cp-is-open
				margin-bottom 19px
	.accordion
		p
			font-size 16px
			line-height 22px
		h4
			font-size 30px
			margin-bottom 0
			padding 23px 0
			&.h4
				font-size 30px
				padding 0
		ul
			li
				padding-bottom 19px
				margin-bottom 19px
				h5
					font-size 16px
					line-height 28px
					margin-bottom 7px
				p
					font-size 16px
					line-height 22px
		.hide
			margin-top 31px
	.form-wrap
		.form-title
			font-size 30px
			padding 129px 0 29px
.carousel-wrap
	padding 15px 0
.carousel-inner
	width 751px
.carousel-nav
	.carousel-prev
	.carousel-next
		&:before
			background-size 14px 26px
			width 14px
			height 26px
	.carousel-prev
		&:before
			left 55px
	.carousel-next
		&:before
			right 55px
//footer
.footer
	.nav
		.item
			padding 0 15px
// footer contact info
.footer-contacts
	.address
		font-size 14px
		padding-top 45px
	.contacts
		font-size 16px
		padding-top 10px
// styles for links
.link-wrap
	a
		font-size 13px
// not-found
.not-found
	.content-inner
		padding-top 80px
	h1
		font-size 50px
		line-height 50px
		padding-bottom 48px
	p
		font-size 18px
		margin-bottom 9px
	.lion
		svg
			margin-right 0
// success
.success
	.content-inner
		width 800px
	p
		font-size 30px
		line-height 40px
		margin-bottom 40px
	.footer-contacts
		padding-top 105px
// fix scrolling logo
.company-view
.contact-info-view
.vacancies-view
	.liquid-container
		margin-top -39px
.about-view
	.liquid-container
		margin-top -108px
#instruction
	p
		font-size 22px
		line-height 22px
// sphere
.orbit-wrap
	background-size 122px 88px
	width 136px
	height 88px
.moveX
	width 45px
	animation moveX960 5s ease-in-out 0s infinite
.moveY
	width 45px
	height 14px
	top -7px
.elipsoid-wrap
	width 14px
	height 14px
.elipsoid
	width 7px
	height 7px
// hide scroll on map of presence
// .map-of-presence-view
// 	& > div
// 		overflow hidden
// 	.liquid-container
// 		transform translateX(20px)