// mobile screens
@media only screen and (max-width 768px) and (max-height 529px)
	.modalFrame
		padding-top 40px
	#menu
		.item
			a
				padding 15px
				font 16px/16px introRegular
// sm screens
@media only screen and (min-width 767px) and (max-width 959px) and (max-height 1023px)
	#menu
		.modalFrame
			padding-top 40px
	.footer-contacts
		.address
			padding-top 30px
@media only screen and (min-width 767px) and (max-width 959px) and (max-height 900px)
	#menu
		.item
			a
				padding 40px 20px
				font 32px/32px introRegular
@media only screen and (min-width 767px) and (max-width 959px) and (max-height 790px)
	#menu
		.item
			a
				padding 38px 20px
				font 30px/30px introRegular
@media only screen and (min-width 767px) and (max-width 959px) and (max-height 750px)
	#menu
		.item
			a
				padding 35px 20px
				font 30px/30px introRegular
@media only screen and (min-width 767px) and (max-width 959px) and (max-height 730px)
	#menu
		.item
			a
				padding 30px 20px
				font 28px/28px introRegular
@media only screen and (min-width 767px) and (max-width 959px) and (max-height 670px)
	#menu
		.item
			a
				padding 28px 20px
				font 25px/25px introRegular
@media only screen and (min-width 767px) and (max-width 959px) and (max-height 640px)
	#menu
		.item
			a
				padding 25px 20px
				font 20px/20px introRegular
// md screens
@media only screen and (min-width 960px) and (max-width 1279px) and (max-height 625px)
	.company
		.logo_wrap
			padding-top 50px
			img
				max-width 324px
		.company-info
			margin-top 0
@media only screen and (min-width 960px) and (max-width 1279px) and (min-height 750px)
	#menu
		&.modalWrap
			&.open
				display flex !important
				align-items center
@media only screen and (min-width 960px) and (max-width 1279px) and (max-height 730px)
	#menu
		.modalFrame
			padding-top 30px
@media only screen and (min-width 960px) and (max-width 1279px) and (max-height 715px)
	#menu
		.item
			a
				padding 35px 20px
				font 25px/25px introRegular
	.footer-contacts
		.address
			padding-top 25px
@media only screen and (min-width 960px) and (max-width 1279px) and (max-height 675px)
	#menu
		.item
			a
				padding 30px 20px
				font 20px/20px introRegular
@media only screen and (min-width 960px) and (max-width 1279px) and (max-height 675px)
	#menu
		.item
			a
				padding 25px 20px
				font 18px/18px introRegular
// lg screens
@media only screen and (min-width 1280px) and (max-width 1679px) and (max-height 790px)
	.company
		.logo_wrap
			padding-top 100px
			img
				max-width 350px
		.company-info
			margin-top 0
@media only screen and (min-width 1280px) and (max-width 1679px) and (max-height 1023px)
	#menu
		.modalFrame
			padding-top 60px
	.footer-contacts
		.address
			padding-top 40px
@media only screen and (min-width 1280px) and (max-width 1679px) and (max-height 920px)
	#menu
		.item
			a
				padding 45px 20px 45px
				font 30px/30px introRegular
@media only screen and (min-width 1280px) and (max-width 1679px) and (max-height 849px)
	#menu
		.item
			a
				padding 40px 20px 40px
				font 28px/28px introRegular
@media only screen and (min-width 1280px) and (max-width 1679px) and (max-height 789px)
	#menu
		.item
			a
				padding 38px 20px 38px
				font 25px/25px introRegular
@media only screen and (min-width 1280px) and (max-width 1679px) and (max-height 750px)
	#menu
		.modalFrame
			padding-top 30px
@media only screen and (min-width 1280px) and (max-width 1679px) and (max-height 750px)
	#menu
		.item
			a
				padding 35px 20px
				font 23px/23px introRegular
@media only screen and (min-width 1280px) and (max-width 1679px) and (max-height 679px)
	#menu
		.item
			a
				padding 30px 20px
				font 20px/20px introRegular
@media only screen and (min-width 1280px) and (max-width 1679px) and (max-height 679px)
	.footer-contacts
		.address
			padding-top 20px
// xlg screens
@media only screen and (min-width 1680px) and (max-height 825px)
	.company
		.logo_wrap
			padding-top 80px
			img
				max-width 500px
		.company-info
			margin-top 0
@media only screen and (min-width 1680px) and (max-height 1023px)
	#menu
		.modalFrame
			padding-top 30px
	.footer-contacts
		.address
			padding-top 40px
@media only screen and (min-width 1680px) and (max-height 939px)
	#menu
		&.modalWrap
			.item
				a
					padding 40px
					font 28px/28px introRegular
@media only screen and (min-width 1680px) and (max-height 879px)
	#menu
		&.modalWrap
			&.open
				display flex !important
				align-items flex-start
			.item
				a
					padding 30px
					font 30px/30px introRegular
@media only screen and (min-width 1680px) and (max-height 750px)
	#menu
		.modalFrame
			padding-top 30px
@media only screen and (min-width 1680px) and (max-height 730px)
	#menu
		&.modalWrap
			&.open
				display block !important
		&.modalWrap
			.item
				a
					padding 25px
					font 25px/25px introRegular
@media only screen and (min-width 1680px) and (min-height 730px)
	#menu
		&.modalWrap
			&.open
				display flex !important
				align-items flex-start

@media (max-width: 959px)
	.map-of-presence-view
		&.open
			.liquid-container
				z-index 21
				position relative
			.hamburger
				.label
					opacity 0