.image
	svg
		fill-opacity 1
		&.exploded
			polygon
				opacity 0
					&:nth-of-type(4n+1)
						transform translate(600%, 300%) rotate(-690deg) translateZ(0)
					&:nth-of-type(4n+2)
						transform translate(-700%, 600%) rotate(-720deg) translateZ(0)
					&:nth-of-type(4n+3)
						transform translate(-900%, -500%) rotate(-820deg) translateZ(0)
					&:nth-of-type(4n+4)
						transform translate(700%, -800%) rotate(-950deg) translateZ(0)
		&.explode
			fill-opacity 0
			polygon
					&:nth-of-type(4n+1)
						transform translate(600%, 300%) rotate(-690deg) translateZ(0)
					&:nth-of-type(4n+2)
						transform translate(-700%, 600%) rotate(-720deg) translateZ(0)
					&:nth-of-type(4n+3)
						transform translate(-900%, -500%) rotate(-820deg) translateZ(0)
					&:nth-of-type(4n+4)
						transform translate(700%, -800%) rotate(-950deg) translateZ(0)

		&:not(.exploded)
			polygon
				transform-origin center center
				transition all 2s ease-in-out
				transform translate(0)
				for i in (1..4)
					&:nth-of-type(4n+{i})
						animation s("p%s",i) 2s ease-in-out


@keyframes p1 {
	0% {
		transform: translate(-300%, -700%) rotate(520deg) translateZ(0);
		opacity: 0;
	}
	100% {
		transform: translate(0);
		opacity: 1;
	}
}
@keyframes p2 {
	0% {
		transform: translate(400%, -900%) rotate(850deg) translateZ(0);
		opacity: 0;
	}
	100% {
		transform: translate(0);
		opacity: 1;
	}
}
@keyframes p3 {
	0% {
		transform: translate(500%, 900%) rotate(325deg) translateZ(0);
		opacity: 0;
	}
	100% {
		transform: translate(0);
		opacity: 1;
	}
}
@keyframes p4 {
	0% {
		transform: translate(-500%, 900%) rotate(748deg) translateZ(0);
		opacity: 0;
	}
	100% {
		transform: translate(0);
		opacity: 1;
	}
}