html
body
	position relative
	width 100%
	height 100%
	margin 0
	padding 0
body
	font-family introRegular
	background #f3f3f3
.cf:before,
.cf:after
	content " "
	display table
.cf
	*zoom 1
	&:after
		clear both

.hidden
	display none !important
.visible
	display block !important
.invisible
	opacity 0
	visibility hidden

a
	cursor pointer
	color #000
	text-decoration none
	&:visited
	&:active
	&:focus
		color #000
		outline none
		text-decoration none
p
	margin 0 0 10px 0
table
	width 100%
h1
h2
h3
h4
h5
h6
	font-weight normal
// logo
.logoContainer
	transition all 0.5s ease-in-out
#logo
	svg
		width 100%
		height 100%
	a
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index 1
.logo
	fill #e03030
	stroke #e03030
	animation logoBg 400s
	animation-iteration-count infinite
	animation-direction alternate
#world_map
	.st0
	path
		fill none
		stroke #878787
		stroke-width 0.5
		stroke-miterlimit 10
		transition all 0.4s ease
		will-change fill, transform
		&:hover
			fill #dad8d6
		&.gray-1
		&.gray-2
		&.gray-3
			&:hover
				fill #dad8d6
		&.gray-1
			fill #d6d4d1
		&.gray-2
			fill #e2e1df
		&.gray-3
			fill #ebeae9
	line
		stroke #878787
		stroke-opacity 0.3
	rect
		fill #878787
// common style for links
.link-wrap
	overflow hidden
	a
		display inline-block
		overflow hidden
		position relative
		text-transform uppercase
		font-family introBold
		transition all 0.3s ease-in-out
	&.rightToLeft
		a
			padding-left 35px
			&:before
			&:after
				content ""
				display block
				position absolute
	&.leftToRight
		a
			padding-rigth 35px
			&:before
			&:after
				content ""
				display block
				position absolute