@keyframes gradientFirstType {
	0% {
		transform: translate3d(0, 0, 0);
	}
	15% {
		transform: translate3d(0, -15%, 0);
	}
	30% {
		transform: translate3d(0, -30%, 0);
	}
	45% {
		transform: translate3d(0, -45%, 0);
	}
	60% {
		transform: translate3d(0, -60%, 0);
	}
	75% {
		transform: translate3d(0, -75%, 0);
	}
	100% {
		transform: translate3d(0, -100%, 0);
	}
}
@keyframes gradientSecondType {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 -5000px;
	}
}
@keyframes logoBg {
	0% {
		fill: #e03030;
		stroke: #e03030;
	}
	15% {
		fill: #7318A7;
		stroke: #7318A7;
	}
	30% {
		fill: #223D9F;
		stroke: #223D9F;
	}
	45% {
		fill: #50AEDA;
		stroke: #50AEDA;
	}
	60% {
		fill: #00A253;
		stroke: #00A253;
	}
	75% {
		fill: #e1c200;
		stroke: #e1c200;
	}
	100% {
		fill: #C72D57;
		stroke: #C72D57;
	}
}
// for line on company page
@keyframes moveL {
	from {
		transform translate3D(-1000%, 0, 0)
	}
	to {
		transform translate3D(0, 0, 0)
	}
}
@keyframes moveR {
	from {
		transform translate3D(1000%, 0, 0)
	}
	to {
		transform translate3D(0, 0, 0)
	}
}
// for sctoll icon on company page
@keyframes animateScrollIcon {
	0% {
		margin-top: 0;
	}
	100% {
		margin-top: 3px;
	}
}
@keyframes pulse {
	0% {
		stroke-width: 1px
		stroke-opacity: 0;
	}
	8% {
		stroke-width: 1px;
		stroke-opacity: 0;
	}
	15% {
		stroke-width: 10px;
		stroke-opacity: 1;
	}
	30% {
		stroke-width: 20px;
		stroke-opacity: 1;
	}
	100% {
		stroke-opacity: 0;
		stroke-width: 1px;
	}
}
@keyframes sphereAppear {
	from {
		transform: translate3d(100%, 0, 0);
		opacity: 0;
	}
	to {
		transform: translate3d(50%, 0, 0);
		opacity: 1;
	}
}
@keyframes shevronLines {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}



@keyframes moveY {
	0% {
		transform rotate(0deg)
	}
	100% {
		transform rotate(360deg)
	}
}
@keyframes moveX320 {
	0% {
		transform translateX(0)
	}
	50% {
		transform translateX(-58px)
	}
	100% {
		transform translateX(0)
	}
}
@keyframes moveX768 {
	0% {
		transform translateX(0)
	}
	50% {
		transform translateX(-107px)
	}
	100% {
		transform translateX(0)
	}
}
@keyframes moveX960 {
	0% {
		transform translateX(0)
	}
	50% {
		transform translateX(-91px)
	}
	100% {
		transform translateX(0)
	}
}
@keyframes moveX {
	0% {
		transform translateX(0)
	}
	50% {
		transform translateX(-129px)
	}
	100% {
		transform translateX(0)
	}
}
@keyframes perspective {
	0% {
		width 100%
		height 100%
	}
	25% {
		width 100%
		height 100%
	}
	50% {
		width 100%
		height 100%
	}
	67% {
		width 0
		height 0
	}
	75% {
		width 0
		height 0
	}
	83% {
		width 0
		height 0
	}
	100% {
		width 100%
		height 100%
	}
}
@keyframes preloaderGradient {
	0% {
		background-position: 0% 83%
	}
	50% {
		background-position: 100% 18%
	}
	100% {
		background-position: 0% 83%
	}
}
/* gradient animation for companies box */
@-webkit-keyframes gradientCompany {
	0% { background-position: 94% 0% }
	50% { background-position: 7% 100% }
	100% { background-position: 94% 0% }
}