<div class="content not-found">
	{{animated-lion}}
	<div class="content-inner full">
		<h1>{{texts.not_found_title}}</h1>
		<p>{{texts.not_found_desc}}</p>
		<div class="link-wrap">
			{{#link-to 'main' class="link"}}{{texts.link_back_home}}{{/link-to}}
		</div>
	</div>
</div>
