<div class="content about-content">
	<div class="content-inner full about">
		<div class="welcome-wrap">
			<div class="back_to_main_wrap link-wrap">
				{{#link-to 'main'}}
					<span class="view_span1">{{texts.link_home_small}}</span>
					<span class="view_span2">{{texts.link_home_full}}</span>
				{{/link-to}}
			</div>
			<div class="welcome">{{texts.about_welcome}}</div>
			<div class="mouse-down-wrap">
				<div class="mouse-down"></div>
				<span>{{texts.about_scroll_down}}</span>
			</div>
		</div>
		<div class="company_wrap">
			<h1>{{texts.about_title}}</h1>
			<p>{{texts.about_desc}}</p>
			<div class="link-wrap">
				{{#link-to 'companies-list' class="know_more"}}{{texts.link_know_more}}{{/link-to}}
			</div>
		</div>

		<div class="affiliates">
			<p>{{texts.about_affiliates}}</p>
			<div class="link-wrap">{{#link-to 'map-of-presence' class="know_more"}}<span class="view_span1">{{{texts.link_map_of_presece}}}</span><span class="view_span2">{{{texts.link_map_of_presece_full}}}</span>{{/link-to}}</div>
		</div>
		<h2>{{texts.about_companies_title}}</h2>
		<div class="boxes cf">
			{{#each sortedCompanies as |company| }}
			<div class="box">
				<div class="box_inner">
					<div class="name">{{company.name}}</div>
					{{{company.add1}}}
				</div>
				<div class="box_hover">
					<div class="img">
						{{{company.svg_logo_grey}}}
					</div>
					<div>
						<div class="name">{{company.name}}</div>
						{{#link-to 'company' company.id class="know_more"}}{{texts.company_know_more}}{{/link-to}}
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
	{{partial "footer"}}
</div>
