{{connected-particles}}
{{hamburger-menu texts=texts}}
<i class="t anim"></i><i class="r anim"></i>
{{app-logo classBinding=":logoContainer showLogo:vis:invisible"}}
{{partial "bottom-menu"}}
{{#if showSphere}}
<div class="sphereHoverContainer">
	<a href="#" class="sphereHover plus"></a>
</div>
<div class="sphere inMain">
	{{icosahedron-sphere width=500 height=500 company=company}}
</div>
<div class="sphereCompany">
	<p class="sphereCompanyLink" id="sphereCompanyLink">Ваши задачи, наши решения</p>
</div>
{{/if}}
{{liquid-outlet}}
{{#fullpage-modal id="menu" texts=texts}}{{/fullpage-modal}}