<ul class="bottomMenu cf">
	<li class="share">{{#link-to 'social'}}<i class="i"></i>{{/link-to}}</li>
	<li class="fb"><a href="{{texts.facebook_link}}" target="_blank" ><i class="i"></i></a></li>
	<li class="contacts">{{#link-to 'contact-info'}}{{texts.menu_contacts}}{{/link-to}}</li>
	<li class="lang" id="ru" {{action 'changeLang' "ru" }} ><span>кз</span></li>
	<li class="lang" id="en" {{action 'changeLang' "en" }} ><span>en</span></li>
	<li class="mail">{{#link-to 'feedback'}}<i class="i"></i>{{/link-to}}</li>
</ul>
