<div class="content">
	<div class="content-inner company">
		{{bread-crumbs main=texts.beadcrumbs_home sub=company.name}}
		<div class="logo_wrap">
			<div class="image"><img src="http://vivaki.apexapps.kz{{company.image}}" alt="{{company.company.name}}"></div>
			{{#if previousCompany }}
				{{#link-to 'company' previousCompany class="company-arrow prev"}}{{/link-to}}
			{{/if}}
			{{#if nextCompany }}
				{{#link-to 'company' nextCompany class="company-arrow next"}}{{/link-to}}
			{{/if}}
		</div>
		{{#if company.description}}
		<div class="company-info">
			<h1>{{texts.company_about}}</h1>
			<p>{{company.description}}</p>
		</div>
		{{/if}}
		{{#if company.mission}}
		<div class="mission">
			<h2>{{texts.company_mission}}</h2>
			<p>{{company.mission}}</p>
		</div>
		{{/if}}
		{{#if company.deals}}
		<div class="we_offer">
			<h2>{{texts.company_offer}}</h2>
			<p>{{company.deals}}</p>
		</div>
		{{/if}}
		{{#if company.services}}
			{{#cp-panels accordion=true class="accordion"}}
				{{#each company.services as |service| }}
					{{#cp-panel}}
						{{#cp-panel-toggle}}
							<h3>{{service.name}}</h3>
						{{/cp-panel-toggle}}
						{{#cp-panel-body}}
							<div class="pane">
								{{{service.text}}}
								<div class="hide">{{texts.accordion_hide}}</div>
							</div>
						{{/cp-panel-body}}
					{{/cp-panel}}
				{{/each}}
				{{#link-to 'companies-list' class="btn btn-linear btn-back"}}{{texts.company_back_to_company_list}}{{/link-to}}
			{{/cp-panels}}
		{{/if}}
		{{feedback-form contact=contact texts=texts action="sendContacts"}}
	</div>
	{{partial "footer"}}
</div>
