<div class="content">
	<div class="content-inner contacts">
		{{bread-crumbs main=texts.beadcrumbs_home sub=texts.contacts_title}}
		<h1>{{texts.contacts_title}}</h1>
		<p>{{texts.contacts_desc}}</p>
		<div class="boxes-wrap">
			<div class="box">
				<div class="box-title">{{texts.contacts_come_in}}</div>
				<div class="box-content">
					{{texts.menu_address}}
					{{#link-to 'map' class="details map"}}{{texts.link_show_map}}{{/link-to}}
				</div>
			</div>
			<div class="box">
				<div class="box-title">{{texts.contacts_call_us}}</div>
				<div class="box-content">
					{{texts.contacts_phones}}
					{{#link-to 'call-me' class="details phone"}}{{texts.link_call_back}}{{/link-to}}
				</div>
			</div>
			<div class="box">
				<div class="box-title">{{texts.contacts_write}}</div>
				<div class="box-content mail">
					{{texts.contacts_project_discussion}}
					<a href="mailto:{{texts.mail_project}}" class="details">{{texts.mail_project}}</a>
					{{texts.contacts_job}}
					<a href="mailto:{{texts.mail_job}}" class="details">{{texts.mail_job}}</a>
				</div>
			</div>
		</div>
	</div>
	{{feedback-form contact=contact texts=texts action="sendContacts"}}
	{{partial "footer"}}
</div>
