<div class="footer-contacts">
	<p class="address">{{texts.menu_address}}</p>
	<p class="contacts"><a href="tel:{{texts.menu_phone}}" class="tel">{{texts.menu_phone}}</a>
	<a href="mailto:{{texts.menu_mail}}" class="mail">{{texts.menu_mail}}</a></p>
</div>