<div class="sphere-wrap hidden">
	{{#modal-main id="instruction" texts=texts  closeModal = "closeModal" getCookie=getCookie}}{{/modal-main}}
</div>
<div class="content main">
	<ul class="sphereNav cf">
		<li class="link left">{{#link-to 'about'}}{{{texts.link_start_acquaintance}}}{{/link-to}}</li>
		<li class="link right">{{#link-to 'map-of-presence'}}{{{texts.link_map_of_presece}}}{{/link-to}}</li>
	</ul>
</div>
