<ul class="nav">
	<li class="item">{{#link-to 'about'}}{{texts.menu_about}}{{/link-to}}</li>
	<li class="item">{{#link-to 'companies-list'}}{{texts.menu_companies_list}}{{/link-to}}</li>
	<li class="item">{{#link-to 'map-of-presence'}}{{texts.menu_map_of_presence}}{{/link-to}}</li>
	<li class="item">{{#link-to 'vacancies'}}{{texts.menu_vacancies}}{{/link-to}}</li>
	<li class="item">{{#link-to 'contact-info'}}{{texts.menu_contacts}}{{/link-to}}</li>
</ul>