<div class="content">
	<div class="content-inner social">
		<h1>{{texts.social_title}}</h1>
		<p>{{texts.social_desc}}</p>
		<div class="soc-icons">
			<a href=""><i class="fc"></i></a>
		</div>
	</div>
</div>
