{{hamburger-menu-back}}
<div class="content success">
	<div class="content-inner">
		<p>{{{texts.success_title}}}</p>
		{{#link-to 'main' class="btn btn-default"}}{{texts.btn_ok}}{{/link-to}}
		{{partial "footer-contact-info"}}
	</div>
</div>