<div class="content">
	<div class="content-inner vacancies">
		{{bread-crumbs main=texts.beadcrumbs_home sub=texts.vacancies_title}}
		<h1>{{texts.vacancies_title}}</h1>
		<p>{{texts.vacancies_desc}}</p>

		{{#cp-panels accordion=true}}
			{{#each model.jobs as |job|}}
				{{#cp-panel}}
					{{#cp-panel-toggle}}
						<h3>{{job.name}}</h3>
					{{/cp-panel-toggle}}
					{{#cp-panel-body}}
						<div class="pane">
							<div class="table-wrap">
								<table>
									<tr>
										<td>{{texts.city}}: </td>
										<td>{{job.city}}</td>
									</tr>
									<tr>
										<td>{{texts.vacancies_experience}}:</td>
										<td>{{job.experience}}</td>
									</tr>
									<tr>
										<td>{{texts.vacancies_salary}}:</td>
										<td>{{job.salary}}</td>
									</tr>
								</table>
							</div>
							<h4>{{texts.vacancies_duties}}:</h4>
							{{{job.duties}}}
							<h4>{{texts.vacancies_requirements}}</h4>
							{{{job.requirements}}}
							<h4>{{texts.vacancies_conditions}}</h4>
							{{{job.conditions}}}
							{{file-form job=job texts=texts action="sendFile"}}
							<div class="hide">{{texts.accordion_hide}}</div>
						</div>
					{{/cp-panel-body}}
				{{/cp-panel}}
			{{/each}}
		{{/cp-panels}}
	</div>{{people}}
	{{partial "footer"}}
</div>